<!DOCTYPE HTML>
<html class="bg-primary">
<head>

    <title>FLO FIT | 8-Week Rapid Body Redefinition</title>
    <meta name="description"
          content="Music megastar FLO RIDA has teamed up with his trainer Mike Saffaie to bring you FLO FIT. Start your 100% free trial now. ">
    <meta name="keywords"
          content="fitness, workout, exercise, FLO RIDA, workout program, full body workouts, home workout, workout video, exercise video, celebrity workout, Mike Saffaie, lose weight, lose fat, get ripped">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>

    <!-- facebook tags -->
    <meta property="og:image" content="//flofit.com/images/flofit-blue-logo.png"/>
    <meta property="og:description" content="Music megastar FLO RIDA has teamed up with his trainer Mike Saffaie to bring you FLO FIT. Start your 100% free trial now."/>
    <meta property="og:image:secure_url" content="https://flofit.com/images/flofit-blue-logo.png"/>
    <meta property="og:title" content="FLO FIT | 8-Week Rapid Body Redefinition"/>
    <meta property="og:url" content="https://www.flofit.com/"/>
    <meta property="og:site_name" content="FLO FIT"/>
    <meta property="og:type" content="website"/>

    {#<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/roboto.css") }}"/>#}

    {% stylesheets '@FloFitBundle/Resources/public/less/intro-free-nlm.less' filter="less" output="css/intro-free-nlm.css" %}
    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset("css/intro-free-nlm.css") }}"/>#}
    {% endstylesheets %}

    {#{% if showCritical is defined and showCritical == true %}#}
        <style>a,body,div,footer,h2,h3,header,html,i,img,p,section,small,span{margin:0;padding:0;border:0;vertical-align:baseline}footer,header,section{display:block}body{font-family:Roboto,sans-serif;font-size:14px;line-height:1.618;margin:0}.img-responsive{max-width:100%;height:auto;display:block}.container:after,.container:before,.row:after,.row:before{content:" ";display:table}.container:after,.row:after{clear:both}label{-webkit-touch-callout:none}.container:after,.container:before,.row:after,.row:before{content:" ";display:table}.container:after,.row:after{clear:both}*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.container{margin-right:auto;margin-left:auto}.row{width:100%}.span-mini-12{display:block!important;position:relative!important;padding:0 20px;margin:0 0;min-height:1px;float:left!important;width:50%}.span-medium-24{display:block!important;position:relative!important;padding:0 20px;margin:0 0;min-height:1px}@media (min-width:768px){.span-medium-24{float:left!important;width:100%}}@media (min-width:320px){.container{width:100%}}@media (min-width:480px){.container{width:100%}}@media (min-width:768px){.container{width:100%}}@media (min-width:1024px){.container{width:100%}}@media (min-width:1200px){.container{max-width:1240px}}a{text-decoration:none}h2,h3{padding:0;margin:0;font-weight:500;line-height:1.1}.underline{text-decoration:underline!important}h2{font-size:30px}h2 small{line-height:1;color:#999}h3{font-size:24px}small{font-size:85%}.padding-bottom-25{padding-bottom:25px!important}.container{max-width:960px}.top-header{background:#b1c6db}.top-header .video{max-width:480px;margin:auto;padding:5% 0}.top-header .container{max-width:100%;background:0 0;padding:0}.top-header .cart-box{margin-top:0}.top-header .cart-box .item{width:100%;background-color:#fff;background-color:rgba(255,255,255,.87);position:relative;-webkit-box-shadow:0 12px 19.7px 1.3px rgba(0,0,0,.15);-moz-box-shadow:0 12px 19.7px 1.3px rgba(0,0,0,.15);box-shadow:0 12px 19.7px 1.3px rgba(0,0,0,.15);border:solid 3px #0acbf1;padding:40px 17px 45px;margin-top:0;max-width:100%;overflow:hidden}.top-header .cart-box .item h2{font-size:35px}.top-header .cart-box .item h2 span{font-size:27px;margin-top:0;margin-bottom:0}.top-header .main-logo{margin:auto;padding:25px 0 0}@media (max-width:1280px){.top-header{background-size:130%}}@media (max-width:1023px){.top-header .main-logo{width:204px}}@media (max-width:767px){.top-header .main-logo{width:173px;margin:7px auto}}@media (max-width:560px){.top-header{background-image:url(../images/vsl-bg-video-mobile.jpg);background-size:contain}}@media (max-width:479px){.top-header .cart-box .item{padding:20px 10px}}.footer{background-color:#012546;text-align:center;padding:45px 0 10px;font-size:17px}.footer p{text-align:center;color:#687E91;margin:auto;font-weight:300;padding:0;line-height:1.618}.footer a{color:#fff}@media (max-width:767px){.footer{padding-top:0}.footer p{margin:-10px auto;padding:40px 0 0;font-size:13px}}.sales-page-2 .cart-box .button-email,.sales-page-2 .cart-box .button-facebook{display:inline-block;position:relative;color:#FFF;font-size:16px;border-radius:4px}.sales-page-2 .cart-box .button-email i,.sales-page-2 .cart-box .button-facebook i{font-style:normal;position:absolute;width:36px;text-align:center;bottom:0;left:4px;line-height:47px;display:inline-block;border-right:1px solid #384e8c;border-right:1px solid rgba(0,0,0,.2)}.sales-page-2 .cart-box .button-facebook{padding:11px 27px 11px 56px;background-color:#3b55a0;background-image:-webkit-gradient(linear,top,right bottom,from(#638cff),to(#3b55a0));background-image:-webkit-linear-gradient(top,#638cff,#3b55a0);background-image:-moz-linear-gradient(top,#638cff,#3b55a0);background-image:-o-linear-gradient(top,#638cff,#3b55a0);background:linear-gradient(#638cff,#3b55a0);border:solid 1px #4A66B7}.sales-page-2 .cart-box .button-facebook i{font-size:32px;top:2px;padding-right:4px}@media (max-width:479px){.sales-page-2 .cart-box .button-facebook{font-size:14px}}.sales-page-2 .cart-box .button-email{padding:12px 18px 10px 55px;background:#5dcfe5;background:-moz-linear-gradient(#5dcfe5 0,#437eb2 100%);background:-webkit-linear-gradient(#5dcfe5 0,#437eb2 100%);background:linear-gradient(#5dcfe5 0,#437eb2 100%);border:solid 1px #00aeef}.sales-page-2 .cart-box .button-email i{font-size:25px;top:0;line-height:47px}@media (max-width:479px){.sales-page-2 .cart-box .button-email{padding:12px 18px 10px 48px;font-size:15px}}.sales-page-2 .cart-box .mobile-app-imgs{margin-top:40px}.sales-page-2 .cart-box .mobile-app-imgs div{padding:0 10px}.sales-page-2 .cart-box .mobile-app-imgs div:first-child{text-align:right}.sales-page-2 .cart-box .mobile-app-imgs div:last-child{text-align:left}.sales-page-2 .cart-box .form{text-align:center;max-width:400px;margin:30px auto 0}.sales-page-2 .cart-box .form .or{margin:10px 0;display:block;color:#042f57;font-size:17px;font-weight:400}@media (max-width:767px){.sales-page-2 .cart-box .form .or{margin:10px 0}}.sales-page-2 .cart-box h2{text-align:center;color:#042f57;font-weight:700}.sales-page-2 .cart-box h2 small{display:block;color:#042f57;font-size:17px;font-weight:400}.sales-page-2 .cart-box h2>span{display:block}.sales-page-2 .cart-box .mobile-app-img{width:100%;margin:auto;max-width:160px}@media (max-width:479px){.sales-page-2 .cart-box{margin-top:30px}}.modal-body{display:none}.input-modal{display:none}.modal-body{position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-color:#000;background-color:rgba(0,0,0,.7);overflow:auto;z-index:999}.modal-body .close-full{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;display:block}.modal-body .modal-wrapper{width:90%;max-width:960px;position:relative;background-color:#fff;padding:20px;margin:5% auto;border-radius:10px;box-shadow:0 0 10px #fff}.modal-body .modal-wrapper .close{position:absolute;right:0;top:0;font-size:30px;font-family:Papyrus;line-height:1;padding:15px 20px}.modal-body h2,.modal-body h3{color:#047;font-size:30px;font-weight:500;text-align:left}.modal-body h2{margin:30px auto;text-align:center}.modal-body h3{font-size:21px}.modal-body p{color:#777;font-size:18px;font-weight:300;line-height:1.618;padding:20px 0}.modal-body a{color:#047}.box{display:none;}</style>
    {#{% else %}#}
        {#<link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/roboto.css") }}"/>#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset("css/intro-free-nlm.css") }}"/>#}
    {#{% endif %}#}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <![endif]-->

</head>
<body class="sales-page-2 sales-page-3">

<header class="top-header">
    <img src="{{ asset("images/vsl/header-logo.png") }}" alt="FLO FIT" class="img-responsive main-logo"/>
    <section class="video">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <div class="cart-box">
                        <div class="item active special">
                            <h2>Lets Get Started Today! <span>Take the <span class="underline">FREE</span> 7 day test drive</span>
                                <small>(no credit card required)</small>
                            </h2>
                            <div class="form">
                                <a href="http://my.flofit.com/login/facebook" class="button-facebook" id="register-fb-lan"><i>f</i>Register with Facebook</a>
                                <span class="or">or</span>
                                <div class="button-email" id="button-email"><i>@</i>Enter your email to begin</div>
                                <form action="http://my.flofit.com/signup/email" method="post" class="box" id="reg-form-lan">
                                    <a href="#" class="close"><span class="tiecons tiecons-cross-light"></span></a>
                                    <div class="abs-center">
                                        <div class="row">
                                            <div class="span-none-padding-medium-12 padding-right-5">
                                                <input type="text" placeholder="first name" id="firstname" name="_firstname">
                                            </div>
                                            <div class="span-none-padding-medium-12 padding-left-5">
                                                <input type="text" placeholder="last name" id="lastname" name="_lastname">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <input type="text" placeholder="enter your email" id="email" name="_email">
                                        </div>
                                        <div class="row">
                                            <input type="password" placeholder="select and enter your password" id="password" name="_password">
                                        </div>
                                        <div class="row">
                                            <input type="password" placeholder="confirm your password" id="confirmpassword" name="_confirmpassword">
                                        </div>
                                        <div class="row">
                                            <input type="submit" value="Get Access Now" id="pop-email-get-access-lan">
                                        </div>
                                    </div>
                                </form>
                                <div class="row mobile-app-imgs">
                                    <div class="span-mini-12">
                                        <img src="{{ asset('images/ff-fe-dash-mobile-app-android-tiny.png') }}"
                                             class="mobile-app-img"
                                             alt="Google Play"/>
                                    </div>
                                    <div class="span-mini-12">
                                        <img src="{{ asset('images/ff-fe-dash-mobile-app-apple-tiny.png') }}"
                                             class="mobile-app-img"
                                             alt="App Store"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<footer class="footer blue">
    <div class="container">
        <div class="row">
            <div class="span-medium-24 padding-bottom-25">
                <p class="first">Consult your physician and follow all safety instructions before beginning any exercise
                    program. <br/>All trademarks, products and service names are the property of their respective
                    owners.</p>
                <br>
                <p>*Results may vary. Exercise and proper diet are necessary to achieve and maintain weight loss and
                    muscle definition. <br/>Please send all questions and order inquiries to <a
                            href="mailto:help@flofit.com">help@flofit.com</a></p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div id="clickbank-disclaimer" class="span-large-24">
                <p class="text-center padding-vertical-15 lighter">ClickBank is the retailer of this product. CLICKBANK®
                    is a registered trademark of Click Sales, Inc., a Delaware corporation located at 917 S. Lusk
                    Street, Suite 200, Boise Idaho, 83706, USA and used by permission. ClickBank's role as retailer does
                    not constitute an endorsement, approval or review of this product or any claim, statement or opinion
                    used in promotion of this product.</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span-medium-24 text-center">
                <ul>
                    <li><a id="get_startedLink" href="#">Start your Free Trial</a></li>
                    <li><a href="{{ path('affiliates') }}">Affiliates</a></li>
                    <li><a href="http://my.flofit.com/terms-of-use" target="_blank">Terms of use</a></li>
                    <li><a href="http://my.flofit.com/privacy-policy" target="_blank">Privacy policy</a></li>
                    <li><label for="legal_disclaimer" class="label">Legal Disclaimer</label></li>
                    <li><label for="modal_faq" class="label">Help and FAQ</label></li>
                    <li><a href="{{ digphyBuyLink }}" id="dvd-footer">Order DVDs</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p>Copyright 2016 Flofit.com. All rights reserved</p>
            </div>
        </div>
        <div class="row">
            <div class="span-large-24">
                <p class="text-center padding-vertical-25 lighter">Burn It Now Productions, Inc. FLO FIT and FLO RIDA
                    trademarks, name, image, and likeness are owned by FLO RIDA and FLO FIT Holdings LLC, and are being
                    used under license by Flo Life LLC. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<input type="checkbox" id="modal_faq" class="input-modal">
<div id="modal_faq-body" class="modal-body">
    <label for="modal_faq" class="close-full"></label>
    <div class="modal-wrapper">
        <label for="modal_faq" class="close">x</label>
        <h2>Help & FAQ</h2>
        <h3>Contact for Help</h3>
        <p>If you need help or assistance using one of the FLO FIT web sites or services, or if you have a billing,
            product order, or shipping related question, you can contact our support team at <a
                    href="mailto:help@flofit.com">help@flofit.com</a>. We answer most Help inquiries within 24 hours,
            from Monday to Friday. Before contacting our support team, we highly recommend reviewing the FAQ below that
            covers many common questions.</p>
        <h3>Does FLO FIT really work?</h3>
        <p>Yes! FLO FIT is a comprehensive 8 week training program that combines cardio, strength, endurance,
            performance, flexibility and nutrition in a unique system that will provide immediate results. The workouts
            are structured around targeting all of the major muscle groups. It is a total body workout for both men and
            women that will help you lose weight, add muscle, and dramatically improve your overall health and
            wellness.</p>
        <h3>Is this the real deal? Does FLO RIDA use this workout?</h3>
        <p>Yes! This FLO FIT program was inspired by FLO’s training with Mike Saffaie, a personal trainer in California
            that got FLO in the best shape of his life. FLO loved Mike’s training so much that he worked with Mike to
            produce a workout and diet program that all of his fans could have access to. FLO wanted everyone to be able
            to train with Mike.</p>
        <h3>What exercise equipment will I need?</h3>
        <p>The ONLY equipment required is a pair of hand-held weights or dumbbells. They do not need to be heavy, as FLO
            RIDA himself only uses anywhere from 10 to 25lb weights. Hand weights or dumbbells can be purchased at any
            sports equipment retailer. FLO FIT was specifically designed to minimize required exercise equipment, which
            keeps the costs down and allows you to get started right away.</p>
        <h3>Who is FLO FIT for?</h3>
        <p>FLO FIT is for men or women looking to lose weight, get in shape, add muscle, strengthen their body, raise
            their conditioning or for anyone that loves a good hard workout program. FLO FIT is also an excellent sport
            conditioning program that will improve your performance in any athletic discipline such as basketball,
            soccer, football, hockey, or other common sports. FLO FIT was designed to accommodate everyone, regardless
            of their starting fitness level. The workouts offer clear instruction and all exercises include
            modifications that can be used if you're a beginner or out of shape. As you progress through the 8 Weeks you
            can gradually implement the harder exercises and increase your reps and dumbbell weight as you become
            stronger and more fit.</p>
        <h3>I’ve never been in a gym or worked out before? Is FLO FIT for me?</h3>
        <p>YES. The exercises are designed with progressions across the 8 week calendar provided (beginner,
            intermediate, and advanced) and are explained and demonstrated clearly, including modified versions of
            challenging exercises. The short workout durations allow you to follow along at whatever pace you are
            capable, increasing reps and speed over time.</p>
        <h3>What do I eat? What can I eat while doing the FLO FIT program?</h3>
        <p>There’s tons of nutrition and advice within the FLO FIT customer site, including videos, blog postings, and
            other content. We also highly recommend the FLO FIT Nutrition Guide and 8 Week Meal Plan. These resources
            will establish guidelines for your eating habits and food choices for the 8 weeks of the Program and beyond.
            It will also address specific topics like pre and post-workout fueling, healthy meal options, and simple
            do's and don'ts for the best results. Nutrition is a critical component of any workout program, and the FLO
            FIT Nutrition Guide and Meal Plan covers everything you need to know.</p>
        <h3>Will I lose weight?</h3>
        <p>YES. Unless you're already extremely lean, EVERYONE will lose weight and reduce their body fat % on the FLO
            FIT program. Depending on your starting point the total amount of weight loss will vary. To maximize your
            weight loss at a healthy rate consult your physician, and refer to the FLO FIT Nutrition Guide and Meal
            Plan, and the other resources available on the FLO FIT web site. Avoid crash diets or food fads at all
            costs.</p>
        <h3>What if some exercises are too hard?</h3>
        <p>Each exercise is demonstrated by FLO RIDA’s trainer Mike Saffaie and modifications are provided so that if it
            is too hard or too easy you can adjust yourself. There are options at every step, and they are explained and
            demonstrated throughout the workouts. There’s also a Foundations Move video included with FLO FIT that shows
            how to properly complete all of the basic exercise moves in the FLO FIT workouts.</p>
        <h3>Can I Get FLO FIT Workout DVDs and Books Shipped To Me?</h3>
        <p>Yes! Every FLO FIT workout and book is available instantly here in digital format, playable and readable from
            anywhere. However if you’d also like a physical copy of FLO FIT, just select the Books & DVDs only or Books
            & DVDs + Lifetime Digital Access from the ordering options at <a
                    href="http://www.flofit.com">www.flofit.com</a>. We’ll ship you the physical product that includes
            all of the Workout Videos on high quality DVDs and regular printed books for the Workout Guide, Nutrition
            Guide, and Training Calendars.</p>
    </div>
</div>
<input type="checkbox" id="legal_disclaimer" class="input-modal">
<div id="legal_disclaimer-body" class="modal-body">
    <label for="legal_disclaimer" class="close-full"></label>
    <div class="modal-wrapper">
        <label for="legal_disclaimer" class="close">x</label>
        <p>As people and situations vary, you should assume individual results vary, and any testimonials are not
            claimed to be representative of typical results. Although all testimonials are real customers, they may or
            may not reflect a typical customers experience. Because many of our best results come from the
            transformation contests we host, assume that each testimonial has been compensated with prize money.
            Contests are free to enter. Testimonials name, location or story may be altered to protect their privacy.
            Each individual has a unique set of lifestyle constraints, experiences, nutrition habits, physical activity
            habits, and applies the information in a different way. The experiences that FLO FIT shares from other
            clients may not reflect the typical users' experience. The most important factor to your success is your
            ability to follow through with the program. Many people do not follow through and thus, their typical
            results are zero. There is no such thing as a magic short cut to your weight loss goals. Your results will
            be directly related to your consistency and effort you put into the program. Results displayed on this
            website showcase what the best and most motivated FLO FIT users have achieved. Finally, you assume certain
            risks inherent with nutrition and exercise by using this program. You should not take part in this program
            if you have a medical or physical condition that makes exercise dangerous. FLO FIT and/or Mike Saffaie are
            not a substitute for medical advice and you should consult a physician before beginning any exercise or diet
            program.</p>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Google Analytics code START -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68358953-1', 'auto');
    ga('require', 'displayfeatures');  // demographic features
    ga('send', 'pageview');

</script>
<!-- Google Analytics code END -->
<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
    window.__insp = window.__insp || [];
    __insp.push(['wid', 133415410]);
    (function () {
        function ldinsp() {
            if (typeof window.__inspld != "undefined") return;
            window.__inspld = 1;
            var insp = document.createElement('script');
            insp.type = 'text/javascript';
            insp.async = true;
            insp.id = "inspsync";
            insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(insp, x);
        };
        setTimeout(ldinsp, 500);
        document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
    })();
</script>
<!-- End Inspectlet Embed Code -->
<div id="fb-root"></div>
<!-- Crazy Egg START -->
<script type="text/javascript">
    setTimeout(function () {
        var a = document.createElement("script");
        var b = document.getElementsByTagName("script")[0];
        a.src = document.location.protocol + "//script.crazyegg.com/pages/scripts/0018/9411.js?" + Math.floor(new Date().getTime() / 3600000);
        a.async = true;
        a.type = "text/javascript";
        b.parentNode.insertBefore(a, b)
    }, 1);
</script>
<!-- Crazy Egg END -->

{{ pixel|raw }}

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
    var google_tag_params = {
        dynx_itemid: 'REPLACE_WITH_VALUE',
        dynx_itemid2: 'REPLACE_WITH_VALUE',
        dynx_pagetype: 'REPLACE_WITH_VALUE',
        dynx_totalvalue: 'REPLACE_WITH_VALUE',
    };
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 928791961;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/928791961/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

{% if displayFBCode %}

{% endif %}

{% include "FloFitBundle:Components:facebook-pixel.html.twig" %}


{% if liveChat is defined and liveChat == true %}
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
        window.__lc = window.__lc || {};
        window.__lc.license = 3721311;
        (function () {
            var lc = document.createElement('script');
            lc.type = 'text/javascript';
            lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(lc, s);
        })();
    </script>
{% endif %}

<script type="text/javascript">
    function typeUA() {
        var UA = navigator.userAgent;
        if (UA.match(/iPhone|iPod/i) !== null || (UA.match(/iPad/) && this.options.iOSUniversalApp)) {
            return 'ios';
        } else if (UA.match(/Android/i) !== null) {
            return 'android';
        }
    }
    var label = 'android';
    if (typeUA() == 'ios') {
        label = 'ios';
    } else if (typeUA() == 'android') {
        label = 'android';
    } else {
        label = 'desktop';
    }
</script>

<script type="text/javascript">
    // set cookie which variant is he present on
    var cookieName = 'flosplitvar';
    var cookieValue = 'variant';
    var myDate = new Date();
    myDate.setMonth(myDate.getMonth() + 12);
    document.cookie = cookieName +"=" + cookieValue + ";expires=" + myDate
            + ";domain=.flofit.com;path=/";
</script>

<script>
    function goToByScroll() {
        $('html,body').animate({
            scrollTop: $("html").offset().top
        }, 'slow');
    }
    $("#get_startedLink").click(function (e) {
        e.preventDefault();
        ga('send', 'event', 'intro-free-nlm-lan', 'start-footer', label);
        goToByScroll();
    });

    $(document).ready(function () {
        $("#button-email").click(function () {
            $(".form").find(".box").addClass("open");
            ga('send', 'event', 'intro-free-nlm-lan', 'register-email', label);
        });
        $(".form .box .close").click(function () {
            $(".form .box").removeClass("open");
            return false;
        });

        //logging to ga
        $("#register-fb-lan").click(function () {
            ga('send', 'event', 'intro-free-nlm-lan', 'register-fb', label);
        });
        
        $("#pop-email-get-access-lan").click(function () {
            ga('send', 'event', 'intro-free-nlm-lan', 'pop-email-get-access', label);
        });

        $("#dvd-footer").click(function () {
            ga('send', 'event', 'intro-free-nlm-lan', 'dvd-footer', label);
        });

    });

    $("#reg-form-lan").submit((function (e) {
        $("#firstname").val($("#firstname").val().replace(/ /g, ''));
        $("#lastname").val($("#lastname").val().replace(/ /g, ''));
        $("#email").val($("#email").val().replace(/ /g, ''));
    }));
</script>

<!-- ClickBank Trust Badge -->
<script src='//cbtb.clickbank.net/?vendor=flofit&theme=LIGHT_GREY'></script>

{#CRITICAL CSS#}
<script>
    window.addEventListener("load", function() {
        var cssFiles = ["roboto.css", "intro-free-nlm.css"];

        for(var i = 0; i < cssFiles.length;i++) {
            var l = document.createElement('link');
            l.rel = 'stylesheet';
            l.href = "https://s3-us-west-2.amazonaws.com/flofit-prod/sales/css/" + cssFiles[i];
            var h = document.getElementsByTagName('head')[0];
            h.appendChild(l);
        }
    });
</script>

</body>
</html>