<!DOCTYPE HTML>
<html>
<head>
    <meta name="keywords" content="">
    <meta name="title" content="Flow Fit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <!-- facebook tags -->
    <meta property="og:image" content="https://www.flofit.com/%7EASSETS/IMG/1200/s41.jpg"/>
    <meta property="og:title" content="Flo Fit &mdash; FLO FIT"/>
    <meta property="og:url" content="https://www.flofit.com/"/>
    <meta property="og:site_name" content="FLO FIT"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="401519239998227"/>
    <meta property="fb:business_id" content="401519239998227"/>
    <title>Flo Fit &mdash; FLO FIT </title>
    {#<base href="https://www.flofit.com/"/>#}
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet'>
    <link href='//fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/main.css") }}"/>
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/ff-icon.css") }}"/>
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/jquery.fancybox.css") }}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    {#<script src="{{ asset("js/hermi.js") }}"></script>#}

</head>
<body>
<div class="bg"><img src="" data-1200="{{ asset("images/1200/bg.jpg") }}" data-1024="{{ asset("images/1024/bg.jpg") }}"
                     data-960="{{ asset("images/960/bg.jpg") }}" data-768="{{ asset("images/768/bg.jpg") }}"
                     data-320="{{ asset("images/320/bg.jpg") }}" class="lazy" /></div>
<div class="main">
    <header>
        {#<div class="top">
            <div class="container">
                <div class="call">&nbsp;</div>
                <div class="preorder"><a href="{{ link }}">Order Now!</a></div>
                <div class="social">
                    <ul>
                        <li><a href="https://twitter.com/getflofit" title="Twitter" target="elsewhere"><i
                                        class="fa fa-twitter"></i></a></li>
                        <li><a href="https://facebook.com/getflofit" title=facebook" target="elsewhere"><i
                                        class="fa fa-facebook fa-lg"></i></a></li>
                        <li><a href="https://instagram.com/getflofit" title=instagran" target="elsewhere"><i
                                        class="fa fa-instagram fa-lg"></i></a></li>
                        <li><a href="https://plus.google.com/u/0/110554613786119012595?prsrc=3" title="google+"
                               target="elsewhere"><i class="fa fa-google-plus fa-lg"></i></a></li>
                        <li><a href="https://youtu.be/Xr0EoRZTZFw" title="youtube" target="elsewhere"><i
                                        class="fa fa-youtube fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="span-medium-24 text-center">
                        <a href=""><i class="ff ff-flofitlogo"></i></a>
                        <div class="social-icon">
                            <a href="https://www.facebook.com/GetFLOFIT?fref=ts"><i class="ff ff-fb"></i></a>
                            <a href="https://twitter.com/getflofit"><i class="ff ff-twitter"></i></a>
                            <a href="https://instagram.com/getflofit"><i class="ff ff-insta"></i></a>
                            <a href="https://www.youtube.com/channel/UCqjt-Tod1JMGgsjVevl4Lwg"><i class="ff ff-youtube2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </header>
    <div class="container header">
        <a onclick="scrolldown()" id="btn-watch-presentation" href="#"><i class="fa fa-film"></i> Watch demo{#<img src="{{ asset("images/arrow-ff-down.png") }}" alt=""/>#}<div class="fb-like" data-href="https://www.facebook.com/GetFLOFIT?fref=ts" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div></a>
        {#<img src="" data-1200="{{ asset("images/1200/logo.png") }}" data-1024="{{ asset("images/1024/logo.png") }}"#}
             {#data-960="{{ asset("images/960/logo.png") }}" data-768="{{ asset("images/768/logo.png") }}"#}
             {#data-320="{{ asset("images/320/logo.png") }}" class="logo lazy" width="465" height="334" alt="FLO FIT" />#}
{#
        <img src="" data-1200="{{ asset("images/ItsEasy.png") }}" data-1024="{{ asset("images/ItsEasy.png") }}"
             data-960="{{ asset("images/ItsEasy.png") }}" data-768="{{ asset("images/ItsEasy.png") }}"
             data-320="{{ asset("images/ItsEasy.png") }}" class="easy lazy" width="208" height="42" alt="IT'S EASY!"/>
#}

        <h1>"How did Flo Rida<br/>get <span class="underline">this</span> ripped..."</h1>
        {#<img src="" data-1200="{{ asset("images/1200/flo.png") }}" data-1024="{{ asset("images/1024/flo.png") }}"#}
             {#data-960="{{ asset("images/960/flo.png") }}" data-768="{{ asset("images/768/flo.png") }}"#}
             {#data-320="{{ asset("images/320/flo.png") }}" class="flo lazy" width="520" height="588" alt="FLO RIDA" />#}
        {#<div style="position:absolute;font-size:80px;color:#4b5b6d;bottom: 20px;left: 320px;"><i class="fa fa-arrow-down"></i></div>#}
        <img src="" data-1200="{{ asset("images/ff-flo-rida-header.png") }}" data-1024="{{ asset("images/ff-flo-rida-header.png") }}"
             data-960="{{ asset("images/ff-flo-rida-header.png") }}" data-768="{{ asset("images/ff-flo-rida-header.png") }}"
             data-320="{{ asset("images/ff-flo-rida-header.png") }}" class="flo lazy" width="520" height="588" alt="FLO RIDA" />
        {#<img src="" data-1200="{{ asset("images/1200/easy.png") }}" data-1024="{{ asset("images/1024/easy.png") }}"#}
             {#data-960="{{ asset("images/960/easy.png") }}" data-768="{{ asset("images/768/easy.png") }}"#}
             {#data-320="{{ asset("images/320/easy.png") }}" class="easy lazy" width="208" height="81" alt="IT'S EASY!" style="top: -230px;left: 0;position: relative;margin-left: 0;" />#}
        {#<img src="{{ asset("images/ff-arrow-down-1.png") }}" alt="" class="easy-arrow lazy"/>#}
    </div>
    <div class="clear"></div>

    <div class="container section-1">
        <img src="" data-1200="{{ asset("images/1200/flofit.png") }}" data-1024="{{ asset("images/1024/flofit.png") }}"
             data-960="{{ asset("images/960/flofit.png") }}" data-768="{{ asset("images/768/flofit.png") }}"
             data-320="{{ asset("images/768/flofit.png") }}" class="flofit lazy" width="361" height="125" alt="FLO FIT" />

        <h2 class="white f58">THE PERFECT MIX!</h2>
        <br/>
        <p class="f36"><strong>FLO FIT</strong> was developed<br/>specifically for <strong>Flo Rida</strong> to keep him ripped and lean, and for the first time ever, he&rsquo;s sharing it with you! Just imagine the secrets you&rsquo;ll uncover&hellip;</p>

        {#<div id="wistia_57zzu0ykkg" class="wistia_embed" style="width:640px;height:360px;"></div>#}
<div id="video_container">
    <div class="text-center" id="video-presentation" style="display: none;margin-top: -20px;">
        <div id="video"></div>
    </div>
</div>
<hr class="margin-no" id="video-line" style="display: none" />

    </div>
    <div class="container section-2" id="more">
        <img src="" data-1200="{{ asset("images/1200/green-down-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-down-arrow.png") }}" data-960="{{ asset("images/960/green-down-arrow.png") }}"
             data-768="{{ asset("images/768/green-down-arrow.png") }}" data-320="{{ asset("images/320/green-down-arrow.png") }}"
             class="down lazy"/>

        <h2 class="white f48" style="margin-top: -20px;">Add FLO FIT to your daily playlist and watch the jaw dropping change in your body&hellip;</h2>
    </div>
    <div class="container section-3">
        <div>
            <img src="" data-1200="{{ asset("images/1200/s31.png") }}" data-1024="{{ asset("images/1024/s31.png") }}"
                 data-960="{{ asset("images/960/s31.png") }}" data-768="{{ asset("images/768/s31.png") }}"
                 data-320="{{ asset("images/320/s31.png") }}" class="s31 lazy"/>
        </div>
        <div>
            <p class="just f60">"At FLO FIT, we don&rsquo;t just do it for the take, we do it for real<br/><span class="red">You gotta burn it to earn it!</span>"
            </p>
            <img src="" data-1200="{{ asset("images/1200/s32.png") }}" data-1024="{{ asset("images/1024/s32.png") }}"
                 data-960="{{ asset("images/960/s32.png") }}" data-768="{{ asset("images/768/s32.png") }}"
                 data-320="{{ asset("images/320/s32.png") }}" class="s32 lazy"/>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container section-4">
        <div class="section-4-center">
            <h2 class="white f36">WHO ELSE wants to look good from every angle&hellip;</h2>
            <img src="" data-1200="{{ asset("images/1200/s41.jpg") }}" data-1024="{{ asset("images/1024/s41.jpg") }}"
                 data-960="{{ asset("images/960/s41.jpg") }}" data-768="{{ asset("images/768/s41.jpg") }}"
                 data-320="{{ asset("images/320/s41.jpg") }}" class="s41 lazy"/>
            <img src="" data-1200="{{ asset("images/1200/s42.png") }}" data-1024="{{ asset("images/1024/s42.png") }}"
                 data-960="{{ asset("images/960/s42.png") }}" data-768="{{ asset("images/768/s42.png") }}"
                 data-320="{{ asset("images/320/s42.png") }}" class="s42 lazy"/>

            <div class="clear"></div>
            <p class="just green f60">The real secret to getting a platinum body is in FLO FIT&rsquo;s PERFECT MIX of: </p>

            <h3 class="white f40">Fluid, High Intensity Workouts + Optimal Nutrition</h3>

            <p class="white">
                <span class="blue">FLO FIT&rsquo;s dynamic series of</span> 30-minute High Intensity Resistance Training (HIRT) workouts (starring the one-and-only Flo Rida, world renowned fitness guru Mike Saffaie, and platinum recording artist Natalie La Rose), <span class="blue">combined with a series of powerful</span> 10-minute High Definition Express Workouts <span class="blue">allow you to:</span>
            </p>
        </div>
        <div>
            <img src="" data-1200="{{ asset("images/1200/s43.png") }}" data-1024="{{ asset("images/1024/s43.png") }}"
                 data-960="{{ asset("images/960/s43.png") }}" data-768="{{ asset("images/768/s43.png") }}"
                 data-320="{{ asset("images/320/s43.png") }}" class="s43 lazy"/>
            <img src="" data-1200="{{ asset("images/1200/s44.png") }}" data-1024="{{ asset("images/1024/s44.png") }}"
                 data-960="{{ asset("images/960/s44.png") }}" data-768="{{ asset("images/768/s44.png") }}"
                 data-320="{{ asset("images/320/s44.png") }}" class="s44 lazy"/>
        </div>
        <div>
            <ul>
                <li><p class="blue f20"><span class="white f28">Follow FLO FIT&rsquo;s PERFECT MIX</span> of pre-set workout
                        schedules & extensive nutrition guide to achieve outstanding results in just 8-weeks.</p></li>
                <li><p class="blue f20"><span class="white f28">MASTER YOUR OWN MIX</span> with different workout
                        combinations to achieve your personal goal, whether it&rsquo;s weight loss, toning or building muscle.
                    </p></li>
                <li><p class="blue f20"><span class="white f28">FIX IT IN THE MIX.</span> Identify specific problem
                        areas of your body (abs, arms, legs) that you want to improve then &mdash; Just like Flo and his
                        crew in the sound studio &mdash; <span class="white f28">FIX IT IN THE MIX.</span></p></li>
                <li><p class="blue f20"><span class="white f28">SWITCH YOUR MIX</span> - That&rsquo;s right.  Inside the FLO FIT community, swap your mixes with your friends for the ultimate in customization and <span class="white f28">NEVER ENDING</span> sequences!</p></li>
            </ul>
            {#<img src="" data-1200="{{ asset("images/1200/s45.png") }}" data-1024="{{ asset("images/1024/s45.png") }}"
                 data-960="{{ asset("images/960/s45.png") }}" data-768="{{ asset("images/768/s45.png") }}"
                 data-320="{{ asset("images/320/s45.png") }}" class="s45 lazy"/>#}

            <p class="blue">&hellip;with FLO FIT you&rsquo;re going to have to <span class="white">BURN IT TO EARN IT</span>,
                but if you commit you will see results that will take your personal fitness to a higher level than you
                would&rsquo;ve ever thought possible.</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container section-5">
        <div>
            <img src="" data-1200="{{ asset("images/1200/blue-down-arrow.png") }}"
                 data-1024="{{ asset("images/1024/blue-down-arrow.png") }}" data-960="{{ asset("images/960/blue-down-arrow.png") }}"
                 data-768="{{ asset("images/768/blue-down-arrow.png") }}" data-320="{{ asset("images/320/blue-down-arrow.png") }}"
                 class="down lazy"/>
        </div>
        <div>
            <img src="" data-1200="{{ asset("images/1200/s51.png") }}" data-1024="{{ asset("images/1024/s51.png") }}"
                 data-960="{{ asset("images/960/s51.png") }}" data-768="{{ asset("images/768/s51.png") }}"
                 data-320="{{ asset("images/320/s51.png") }}" class="s51 lazy"/>
        </div>
        <div>
            <p class="just green f60">"You&rsquo;ll burn it to earn it, I guarantee it!"</p>

            <p class="white f26">PLUS, you can feel confident with Flo Rida&rsquo;s PERSONAL GUARANTEE that after just 8-weeks
                you&rsquo;ll be able to achieve the amazing results you&rsquo;ve always wanted&hellip; OR YOUR MONEY BACK!</p>
            <span class="no-risk">60-Day no risk<br/>money back!</span>
{#
            <img src="" data-1200="{{ asset("images/1200/s52.jpg") }}" data-1024="{{ asset("images/1024/s52.jpg") }}"
                 data-960="{{ asset("images/960/s52.jpg") }}" data-768="{{ asset("images/768/s52.jpg") }}"
                 data-320="{{ asset("images/320/s52.jpg") }}" class="s52 lazy"/>
#}
        </div>
        <div class="clear"></div>
    </div>
    <div class="container section-6">
        <img src="" data-1200="{{ asset("images/1200/green-left-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-left-arrow.png") }}" data-960="{{ asset("images/960/green-left-arrow.png") }}"
             data-768="{{ asset("images/768/green-left-arrow.png") }}" data-320="{{ asset("images/320/s31.green-left-arrow") }}"
             class="left lazy"/>
        <img src="" data-1200="{{ asset("images/1200/green-right-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-right-arrow.png") }}" data-960="{{ asset("images/960/green-right-arrow.png") }}"
             data-768="{{ asset("images/768/green-right-arrow.png") }}" data-320="{{ asset("images/320/green-right-arrow.png") }}"
             class="right lazy"/>

        <p class="just green f60">So are you ready to DISCOVER THE PERFECT MIX<br/>and get your platinum body? Only for $39.95
        </p>
        <a href="{{ link }}" class="btn-pill btn-blue btn-hover-orange f52 white" title="Order FLO FIT Platinum">GET ACCESS NOW</a>
    </div>
    <div class="container section-7">
        <div>
            <h3 class="dark f36">Could it REALLY BE POSSIBLE to get in the best shape of your life in LESS THAN 30 MINUTES? THE ANSWER IS YES&hellip;</h3>

            <h3 class="dark f36">And it&rsquo;s all possible with<br/><strong>THE PERFECT MIX</strong></h3>

            <p class="dark f28">That&rsquo;s one part dynamic 30 minute high-intensity workout, one part 10-minute Hi Def Express workout, and one part proper nutrition.</p>
        </div>
    </div>
    <div class="container section-8">
        <img src="" data-1200="{{ asset("images/1200/green-down-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-down-arrow.png") }}" data-960="{{ asset("images/960/green-down-arrow.png") }}"
             data-768="{{ asset("images/768/green-down-arrow.png") }}" data-320="{{ asset("images/320/green-down-arrow.png") }}"
             class="down lazy"/>

        <h2 class="white f36">HOW DOES FLO FIT MAKE ME LOOK GOOD FROM EVERY ANGLE?</h2>

        <div class="item">
            <span class="number">1</span>

            <h3 class="white f52">METABOLIC RESISTANCE TRAINING</h3>

            <p class="white">The Perfect Mix of high intensity strength training and interval cardio torches fat and builds long, lean muscle. This type of training has been proven over and over to ignite your metabolism for DAYS following your workout.</p>

            <div class="link">
                {#<div class="white" data-id="toggle1"><span class="text">What is HIRT training?</span></div>#}

                <div class="toggle" id="toggle1">
                    <img src="" data-1200="{{ asset("images/1200/HIT-training.jpg") }}"
                         data-1024="{{ asset("images/1024/HIT-training.jpg") }}" data-960="{{ asset("images/960/HIT-training.jpg") }}"
                         data-768="{{ asset("images/768/HIT-training.jpg") }}" data-320="{{ asset("images/320/HIT-training.jpg") }}"
                         class="s81 lazy"/>
                </div>
            </div>
        </div>
        <div class="item">
            <span class="number">2</span>

            <h3 class="white f52">The LADDER PRINCIPLE<br/><span class="f40">~ Extends the Afterburn ~</span></h3>

            <p class="white">The Afterburn Effect is basically the amount your body has to &ldquo;catch up&rdquo; after a workout.  The more it has to &ldquo;catch up&rdquo;, the higher your metabolism revs, and for LONGER. With the LADDER PRINCIPLE, you&rsquo;ll enjoy around the clock fat burning for up to 72 HOURS after your workout.</p>

            <div class="link">
                {#<div class="white" data-id="toggle2"><span class="text">What is The Ladder Principle?</span></div>#}

                <div class="toggle" id="toggle2">
                    <img src="" data-1200="{{ asset("images/1200/s82.jpg") }}" data-1024="{{ asset("images/1024/s82.jpg") }}"
                         data-960="{{ asset("images/960/s82.jpg") }}" data-768="{{ asset("images/768/s82.jpg") }}"
                         data-320="{{ asset("images/320/s82.jpg") }}" class="s82 lazy"/>
                </div>
            </div>
        </div>
        <div class="item">
            <span class="number">3</span>

            <h3 class="white f52">High Def Iso Training</h3>

            <p class="white">Every body is a unique as a snowflake. Including yours. That&rsquo;s why Mike created specific targeting training to bring up those weaker areas so you&rsquo;ll love what you see in the mirror again. Just grab and go!</p>

            <div class="link">
                {#<div class="white" data-id="toggle3"><span class="text">What is High Def ISO training?</span></div>#}

                <div class="toggle" id="toggle3">
                    <img src="" data-1200="{{ asset("images/1200/s83.jpg") }}" data-1024="{{ asset("images/1024/s83.jpg") }}"
                         data-960="{{ asset("images/960/s83.jpg") }}" data-768="{{ asset("images/768/s83.jpg") }}"
                         data-320="{{ asset("images/320/s83.jpg") }}" class="s83 lazy"/>
                </div>
            </div>
        </div>
        <div class="item">
            <span class="number">4</span>

            <h3 class="white f52">Nutrition</h3>

            <p class="white">Abs are made in the kitchen. With your new extensive nutrition guide, you&rsquo;ll be fueling your workouts with easy, effective, delicious meals to stoke your fat burning furnace, boost your metabolism, and become a high output producer, just like FLO RIDA! The right foods enhance and nourish.</p>
            {#<img src="" data-1200="{{ asset("images/1200/s84.png") }}" data-1024="{{ asset("images/1024/s84.png") }}"#}
                 {#data-960="{{ asset("images/960/s84.png") }}" data-768="{{ asset("images/768/s84.png") }}"#}
                 {#data-320="{{ asset("images/320/s84.png") }}" class="s84 lazy"/>#}
            <img src="{{ asset("images/320/healthy-food-2.jpg") }}" data-1200="{{ asset("images/960/healthy-food-2.jpg") }}"
                         data-1024="{{ asset("images/960/healthy-food-2.jpg") }}" data-960="{{ asset("images/960/healthy-food-2.jpg") }}"
                         data-768="{{ asset("images/768/healthy-food-2.jpg") }}" data-320="{{ asset("images/320/healthy-food-2.jpg") }}" class="margin-auto" alt="Healthy food" />
        </div>
    </div>
    <div class="container section-9 section-6 section-6-plain">
        <img src="" data-1200="{{ asset("images/1200/green-left-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-left-arrow.png") }}" data-960="{{ asset("images/960/green-left-arrow.png") }}"
             data-768="{{ asset("images/768/green-left-arrow.png") }}" data-320="{{ asset("images/320/s31.png") }}"
             class="left lazy"/>
        <img src="" data-1200="{{ asset("images/1200/green-right-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-right-arrow.png") }}" data-960="{{ asset("images/960/green-right-arrow.png") }}"
             data-768="{{ asset("images/768/green-right-arrow.png") }}" data-320="{{ asset("images/320/green-right-arrow.png") }}"
             class="right lazy"/>

        <div class="first"><img src="" data-1200="{{ asset("images/1200/s91.png") }}" data-1024="{{ asset("images/1024/s91.png") }}"
                                data-960="{{ asset("images/960/s91.png") }}" data-768="{{ asset("images/768/s91.png") }}"
                                data-320="{{ asset("images/320/s91.png") }}" class="s91 lazy"/></div>
        <img src="" data-1200="{{ asset("images/1200/s92.png") }}" data-1024="{{ asset("images/1024/s92.png") }}"
             data-960="{{ asset("images/960/s92.png") }}" data-768="{{ asset("images/768/s92.png") }}"
             data-320="{{ asset("images/320/s92.png") }}" class="s92 lazy"/>

        <div class="second">
            <h2 class="white f60">TAKE A BETTER SELFIE&hellip; GUARANTEED</h2>

            <p class="white f36">And never worry about the iPhone paparazzi AGAIN!</p>
        </div>
    </div>
    <div class="container section-10a">
        <div>
            <h2 class="dark f52">Stream from your computer,<br/>tablet or phone</h2>
            <img src="{{ asset("images/flofit-devices.png") }}" alt="Flo Fit website devices" class="img-responsive"/>
        </div>
    </div>
    <div class="container section-10">
        <div>
            <h2 class="dark f52">HOW DO WE KNOW THIS MIX REALLY WORKS?</h2>

            <p class="dark f36">Just ask <strong>Flo Rida</strong>. He&rsquo;s the living proof of <strong>FLO FIT&rsquo;s</strong>
                uncompromising results.</p>
        </div>
        <div>
            <img src="" data-1200="{{ asset("images/1200/s101.jpg") }}" data-1024="{{ asset("images/1024/s101.jpg") }}"
                 data-960="{{ asset("images/960/s101.jpg") }}" data-768="{{ asset("images/768/s101.jpg") }}"
                 data-320="{{ asset("images/320/s101.jpg") }}" class="s101 lazy"/>
        </div>
        <div>
            <p class="just f52">"I really didn&rsquo;t know I could feel this good or look this lean until I met Mike. He
                changed my whole view on working out. <br/><span class="red">I had muscle before, but he&rsquo;s got the secret to getting lean.</span>"
            </p>
            <img src="" data-1200="{{ asset("images/1200/s32.png") }}" data-1024="{{ asset("images/1024/s32.png") }}"
                 data-960="{{ asset("images/960/s32.png") }}" data-768="{{ asset("images/768/s32.png") }}"
                 data-320="{{ asset("images/320/s32.png") }}" class="s32 lazy"/>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container section-11">
        <div>
            <h2 class="white f52">Who&rsquo;s Mike?</h2>

            <p class="white">Mike is a world-class professional fitness trainer with over 16 years of experience
                changing people&rsquo;s lives one workout at a time. His incredible expertise combined with a down-to-earth,
                ultra-positive attitude, and a focus on relentless effort and results-oriented training, have made him
                one of the most highly respected personal trainers in the industry. Just ask Flo&hellip;</p>
        </div>
        <div>
            <img src="" data-1200="{{ asset("images/1200/s111.png") }}" data-1024="{{ asset("images/1024/s111.png") }}"
                 data-960="{{ asset("images/960/s111.png") }}" data-768="{{ asset("images/768/s111.png") }}"
                 data-320="{{ asset("images/320/s111.png") }}" class="s111 lazy"/>
        </div>
        <div class="clear"></div>
        <p class="just white f44">"Think about it. I&rsquo;m a guy who&rsquo;s always been known for my fitness, and now people are
            asking me what I did to look and perform even better than before! That&rsquo;s all thanks to my man Mike!" <span
                    class="f28">&mdash;Flo Rida</span></p>
    </div>
    <div class="container section-12 section-6 section-6-plain">
        <img src="" data-1200="{{ asset("images/1200/green-left-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-left-arrow.png") }}" data-960="{{ asset("images/960/green-left-arrow.png") }}"
             data-768="{{ asset("images/768/green-left-arrow.png") }}" data-320="{{ asset("images/320/s31.png") }}"
             class="left lazy"/>
        <img src="" data-1200="{{ asset("images/1200/green-right-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-right-arrow.png") }}" data-960="{{ asset("images/960/green-right-arrow.png") }}"
             data-768="{{ asset("images/768/green-right-arrow.png") }}" data-320="{{ asset("images/320/green-right-arrow.png") }}"
             class="right lazy"/>

        <div>
            <h2 class="white f48">SO WHAT&rsquo;S THE SECRET METHOD MIKE SAFFAIE USES TO KEEP FLO RIDA IN THE BEST SHAPE OF HIS LIFE?</h2>

            <h2 class="white f48"><span class="f36">By now you already know the answer&hellip;</span><br/>HIS SECRET IS
                THE PERFECT MIX</h2>
            <h2 style="color: #FFFFFF;font-size: 67px;padding-bottom: 0;">$39.95</h2>
        </div>
        <a href="{{ link }}" class="btn-pill btn-blue btn-hover-orange f52 white" title="Order FLO FIT Platinum">Yes!
            Order Now!</a>
    </div>
    <div class="container section-13">
        <div>
            <h2 class="dark f48">WHAT&rsquo;S YOUR EXCUSE?</h2>

            <p class="dark"><strong class="f36">I DON&rsquo;T HAVE TIME.</strong><br/>
                FLO RIDA is one of the busiest men on the planet, between his shows around the world, being in the
                studio, running his record label and being the life of the party. That&rsquo;s why FLO FIT has been designed
                to be done anywhere and give you the best results in the shortest time </p>

            <p class="dark"><strong class="f36">I DON&rsquo;T KNOW WHAT TO DO.</strong><br/>If you&rsquo;re new to working out, or have worked out for years and hit a plateau it doesn&rsquo;t matter,  using FLO FIT is just like having Mike right there, coaching you through every step of the way. All high level achievers have coaches… and YOU SHOULD TOO! So you&rsquo;ll never worry about what to do or if you&rsquo;re eating the wrong things. With FLO FIT, once you start, it&rsquo;s like &ldquo;set and forget&rdquo;&hellip;</p>

            <p class="dark"><strong class="f36">I DON&rsquo;T HAVE THE MOTIVATION.</strong><br/>
                NO PROBLEM! Just follow the 5 min rule&hellip;<br />
                Flip on a FLO FIT video for just 5 mins and you&rsquo;ll soon see why motivation will NEVER be your issue.  You can&rsquo;t help but soak in the energy that Mike and FLO RIDA bring to your screen. In fact, on the days you feel lower energy, just follow this 5 minute rule every time and watch your energy levels change.<br />
                Even better, hit a FLO FIT workout first thing in the morning for an INSTANT BOOST of youthful energy and motivation that will carry you through the entire day. NO CAFFEINE REQUIRED.</p>
        </div>
        <div>
            <img src="" data-1200="{{ asset("images/1200/s131.jpg") }}" data-1024="{{ asset("images/1024/s131.png") }}"
                 data-960="{{ asset("images/960/s131.png") }}" data-768="{{ asset("images/768/s131.png") }}"
                 data-320="{{ asset("images/320/s131.jpg") }}" class="s131 lazy"/>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container section-14">
        <h2 class="white f52">HERE&rsquo;S WHAT YOU GET</h2>

        <div>
            <img src="" data-1200="{{ asset("images/1200/s141.png") }}" data-1024="{{ asset("images/1024/s141.png") }}"
                 data-960="{{ asset("images/960/s141.png") }}" data-768="{{ asset("images/768/s141.png") }}"
                 data-320="{{ asset("images/320/s141.png") }}" class="s141 lazy"/>

            <h3 class="white f26"> The FLO FIT 8-Week Workout Program</h3>

            <p class="white f18" style="font-size: 16px">
                <span class="f16">- INCLUDES -</span><br/>
                8 Weeks of Full Length On Demand Workout Videos<br/>
                + Complete Workout Guide Book<br/>
                + Beginner, Intermediate, and Advanced 8-Week Training Calendars<br/>
                + Special Bonus Full-Body Conditioning Extreme Workout Video<br/>
                + Membership to the Exclusive FLO FIT Community<br/>
                + The Ability to Stream Digital FLO FIT Workouts On TV, Mobile Devices, Tablets, or Computer<br/>
                + FLO FIT Discussions Forums For Advice From Fellow FLO FITTERS As Well as Mike and FLO RIDA<br/>
                + Special Bonus Online Resources and Tools<br/>
                + Extensive Nutrition Guide Book Tells You What To Eat – And What Not To Eat<br/>
                <span  class="f16">- And MUCH MORE! -</span>
            </p>

            {#<p class="plus white">+</p>#}
        </div>
        {#<div class="right-14">
            <img src="" data-1200="{{ asset("images/1200/s142.png") }}" data-1024="{{ asset("images/1024/s142.png") }}"
                 data-960="{{ asset("images/960/s142.png") }}" data-768="{{ asset("images/768/s142.png") }}"
                 data-320="{{ asset("images/320/s142.png") }}" class="s142 lazy"/>

            <h3 class="white f26">Platinum Package</h3>

            <p class="white f18">
                -- INCLUDES --<br/>
                Workout Calendar + 2 Workout DVDs
            </p>
        </div>#}
        <div class="clear"></div>
        <div class="workout">
            <div class="workout-row workout-row-1">
                <div class="workout-item workout-item-1">
                    <img src="{{ asset("images/workout/FullBodyDefinition.png") }}"/>
                    <h4>Workout 1<br/>Full Body Definition<br/>30 mins</h4>

                    <p>Blast your entire body with this high intensity full body circuit training designed to destroy
                        fat. </p>
                </div>
                <div class="workout-item workout-item-2">
                    <img src="{{ asset("images/workout/LowerBodyDefinition.png") }}"/>
                    <h4>Workout 2<br/>Lower Body Definition<br/>30 mins</h4>

                    <p>Get ready to burn it to earn it in this intense lower body workout. If your legs aren&rsquo;t burning
                        after this one you&rsquo;re doing it wrong! </p>
                </div>
                <div class="workout-item workout-item-3">
                    <img src="{{ asset("images/workout/FullBodyExplosivePower.png") }}"/>
                    <h4>Workout 3<br/>Full Body Explosive Power<br/>30 mins</h4>

                    <p>Get ready to explode! This is the workout that keeps Flo Rida jumping higher than anyone else
                        throughout his entire show. </p>
                </div>
                <div class="workout-item workout-item-1">
                    <img src="{{ asset("images/workout/ArmDefinition.png") }}"/>
                    <h4>Workout 4<br/>Arm Definition<br/>30 mins</h4>

                    <p>Build long lean muscular arms while also destroying fat in this arm focused workout. </p>
                </div>
                <div class="workout-item workout-item-2">
                    <img src="{{ asset("images/workout/CoreDefinition.png") }}"/>
                    <h4>Workout 5<br/>Core Definition<br/>30 mins</h4>

                    <p>Abs are the best accessory, but the core is more than just the abs. This workout focuses on the
                        whole core to get you that 8-pack you&rsquo;ve been looking for. </p>
                </div>
                <div class="workout-item workout-item-3">
                    <img src="{{ asset("images/workout/FullBodyConditioningXtreme1.png") }}"/>
                    <h4>BONUS WORKOUT<br/>Full Body Conditioning Extreme<br/>30 mins</h4>

                    <p>Push your conditioning to the max as you work your way up and down the ladder in this intense
                        full body circuit. </p>
                </div>
            </div>
            <h2>HIGH DEF EXPRESS WORKOUTS</h2>

            <p class="workout">One of the reasons FLO FIT works so much better than any other program is the addition of
                the High Definition Express Workouts. These body part specific workouts help you bring out all areas of
                your body, to make sure that you look good from every angle. </p>

            <div class="workout-row workout-row-2">
                <div class="workout-item workout-item-1">
                    <img src="{{ asset("images/workout/HiDefChestandBack.png") }}"/>
                    <h4>High Def Express for Chest<br/>and Back</h4>

                    <p>Exactly what it sounds like, build a balanced chest and back by focusing on them exclusively.</p>
                </div>
                <div class="workout-item workout-item-2">
                    <img src="{{ asset("images/workout/HiDefArms.png") }}"/>
                    <h4>High Def Express for Arms</h4>

                    <p>Rip those sleeves and get ready to have envious arms with the FLO FIT High Def Express for
                        arms.</p>
                </div>
                <div class="workout-item workout-item-3">
                    <img src="{{ asset("images/workout/HiDefShoulders.png") }}"/>
                    <h4>High Def Express for Shoulders</h4>

                    <p>Build killer shoulders that will turn heads from the club to the beach with this 10 minute
                        shoulder blast. </p>
                </div>
                <div class="workout-item workout-item-4">
                    <img src="{{ asset("images/workout/HiDefAbs.png") }}"/>
                    <h4>High Def Express for Abs</h4>

                    <p>We all know this is what everyone wants, that great 6-pack. But this isn&rsquo;t your average ab
                        workout, get ready to work your whole core! </p>
                </div>
                <div class="workout-item workout-item-5">
                    <img src="{{ asset("images/workout/HiDefLowerBody.png") }}"/>
                    <h4>High Def Express for Lower Body</h4>

                    <p>Want that killer butt and beautiful legs? Then get ready to earn it in this 10 minute lower body
                        attack! </p>
                </div>
                <div class="workout-item workout-item-6">
                    <img src="{{ asset("images/workout/warmup.png") }}"/>
                    <h4>BONUS Warm Up And Stretch</h4>

                    <p>As an added bonus we&rsquo;ve included a 10 minute warm up and a 10 minute stretch workout to help you
                        get the most out of your workouts and recovery. </p>
                </div>
            </div>
            <h2>FLO FIT COMMUNITY AND FORUMS</h2>
            <p class="p-18">The FLO FIT community Forum is the place to get support and encouragement and to connect with other people. Whether it’s your first day or you’ve completed FLO FIT many times, the Forum has everything you need. Share your goals, photos, and achievements and then cheer on others as they follow the same path. </p>

            {#<p class="workout">Looking to take your fitness to the next level and achieve that platinum body? The FLO
                FIT Platinum Package includes everything above with the addition of 2 more full workouts and the
                platinum calendar. </p>#}
            
            <div class="row">
                <img src="" data-1200="{{ asset("images/1200/ff-community-new.png") }}"
                     data-1024="{{ asset("images/1024/ff-community-new.png") }}" data-960="{{ asset("images/960/ff-community-new.png") }}"
                     data-768="{{ asset("images/768/ff-community-new.png") }}" data-320="{{ asset("images/320/ff-community-new.png") }}"
                     class="lazy"/>
            </div>

            {#<div class="workout-row workout-row-3">
                <div class="workout-item workout-item-1">
                    <img src="{{ asset("images/workout/IsoExplode.png") }}"/>
                    <h4>Platinum Workout 1<br/>ISO Explode<br/>Approx 30 minutes</h4>

                    <p>Get the perfect mix of isometric holds and explosive movements done in rapid succession to
                        challenge yourself like never before! </p>
                </div>
                <div class="workout-item workout-item-2">
                    <img src="{{ asset("images/workout/UpperBodyDefinition.png") }}"/>
                    <h4>Platinum Workout 2<br/>Upper Body Definition<br/>Approx 30 minutes</h4>

                    <p>Perfect your beach muscles while torching fat with this high intensity workout that combines
                        strength training and cardio.</p>
                </div>
            </div>#}
        </div>
        <div class="clear"></div>
    </div>
    <div class="container section-15 section-5">
        <div>
            <img src="" data-1200="{{ asset("images/1200/green-down-arrow.png") }}"
                 data-1024="{{ asset("images/1024/green-down-arrow.png") }}" data-960="{{ asset("images/960/green-down-arrow.png") }}"
                 data-768="{{ asset("images/768/green-down-arrow.png") }}" data-320="{{ asset("images/320/green-down-arrow.png") }}"
                 class="down lazy"/>
        </div>
        <div>
            <img src="" data-1200="{{ asset("images/1200/s51.png") }}" data-1024="{{ asset("images/1024/s51.png") }}"
                 data-960="{{ asset("images/960/s51.png") }}" data-768="{{ asset("images/768/s51.png") }}"
                 data-320="{{ asset("images/320/s51.png") }}" class="s51 lazy"/>
        </div>
        <div>
            <p class="just green f60">"You&rsquo;ll burn it to earn it, I guarantee it!"</p>

            <p class="white f26">PLUS, you can feel confident with Flo Rida&rsquo;s PERSONAL GUARANTEE that after just 8-weeks
                you&rsquo;ll be able to achieve the amazing results you&rsquo;ve always wanted&hellip; OR YOUR MONEY BACK!</p>
            {#<img src="" data-1200="{{ asset("images/1200/s52.jpg") }}" data-1024="{{ asset("images/1024/s52.jpg") }}"#}
                 {#data-960="{{ asset("images/960/s52.jpg") }}" data-768="{{ asset("images/768/s52.jpg") }}"#}
                 {#data-320="{{ asset("images/320/s52.jpg") }}" class="s52 lazy"/>#}
            <span class="no-risk">60-Day no risk<br/>money back!</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container section-16 section-6" style="background-image:none">
        <img src="" data-1200="{{ asset("images/1200/green-left-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-left-arrow.png") }}" data-960="{{ asset("images/960/green-left-arrow.png") }}"
             data-768="{{ asset("images/768/green-left-arrow.png") }}" data-320="{{ asset("images/320/s31.png") }}"
             class="left lazy"/>
        <img src="" data-1200="{{ asset("images/1200/green-right-arrow.png") }}"
             data-1024="{{ asset("images/1024/green-right-arrow.png") }}" data-960="{{ asset("images/960/green-right-arrow.png") }}"
             data-768="{{ asset("images/768/green-right-arrow.png") }}" data-320="{{ asset("images/320/green-right-arrow.png") }}"
             class="right lazy"/>

        <p class="just green f60">So are you ready to master the PERFECT MIX<br/> and get your platinum body?</p>
        <h2 style="color: #FFFFFF;font-size: 67px;padding-bottom: 0;">$39.95</h2>
        <a href="{{ link }}" class="btn-pill btn-blue btn-hover-orange f52 white" title="Order FLO FIT Platinum">Yes!
            Order Now!</a>
    </div>
</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
    wistiaEmbed = Wistia.embed("57zzu0ykkg", {
        videoFoam: true,
        plugin: {
            googleAnalytics: {
                src: "//fast.wistia.com/labs/google-analytics/plugin.js"
            }
        }
    });
</script>
<footer>
    <nav class="footer-social">
        {#<ul>
            <li><a href="https://www.facebook.com/getflofit" target="_blank" class="fb"><i class="ff ff-fb-negative"></i> LIKE US ON FACEBOOK
                </a></li>
            <li><a href="https://twitter.com/getflofit" target="_blank" class="tw"><i class="ff ff-twitter-negative"></i> FOLLOW US ON TWITTER
                </a>
            </li>
            <li><a href="https://instagram.com/getflofit" target="_blank" class="in"><i class="ff ff-insta-negative"></i> FOLLOW US ON INSTAGRAM
                </a></li>
            <li>
                <a href="https://youtu.be/Xr0EoRZTZFw" target="_blank" class="yt"><i class="ff ff-youtube"></i> WATCH US ON YOUTUBE
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/u/0/110554613786119012595?prsrc=3" target="_blank" class="gp"><i class="ff ff-g-negative"></i> JOIN US ON GOOGLE+
                </a>
            </li>
        </ul>#}
    </nav>
    <p class="fine-print">Consult your physician and follow all safety instructions before beginning any exercise
        program.<br/>All trademarks, products and service names are the property of their respective owners.</p>

    <p class="fine-print">Results may vary. Exercise and proper diet are necessary to achieve and maintain weight loss
        and muscle definition.<br/>
        Please send all questions and order inquiries to <a title="Help" class="fancybox fancybox-margin" data-fancybox-type="iframe" href="//resultsink.desk.com/customer/widget/emails/new?ticket%5Bcustom_refpage%5D=flofit.com">help@flofit.com</a><br/></p>
    <p class="fine-print">ClickBank is the retailer of this product. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 917 S. Lusk Street, Suite 200, Boise Idaho, 83706, USA and used by permission. ClickBank's role as retailer does not constitute an endorsement, approval or review of this product or any claim, statement or opinion used in promotion ofthis product.</p>
    <p class="fine-print">FLO FIT © 2015</p>
    <p class="fine-print">Burn It Now Productions, Inc. FLO FIT and FLO RIDA trademarks, name, image, and likeness are owned by FLO RIDA and FLO FIT Holdings LLC, and are being used under license by Flo Life LLC. All rights reserved.</p>
</footer>
<div class="backgroundPopup"></div>
<div id="player-pop" style="display:none">
    <div class="player-pop-head"><a class="player-pop-close" href="" onclick="closePlayer();return false;"><i
                    class="fa fa-times fa-lg"></i></a></div>
    <div class="player-pop-body">
        <div id="player-pop-body">
        </div>
    </div>
    <div class="player-pop-foot"></div>
</div>
<script src="{{ asset("js/lazy.min.js") }}"></script>
<script src="{{ asset("js/general.min.js") }}"></script>
<script src="{{ asset("js/jquery.fancybox.js") }}"></script>
<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 961968973;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div>
        <img height="1" width="1" alt=""
             src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/961968973/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-3481383-10', 'auto');
    ga('send', 'pageview');
    ga('require', 'ecommerce');
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="//jwpsrv.com/library/6paQvgkiEeSf2CIAC0MJiQ.js"></script>
<script>
    function scrolldown() {
        jwplayer("video").setup({
            stretching: "uniform",
            primary: "flash",
            width: "100%",
            aspectratio: "16:9",
            autostart: true,
            file: "//embed-0.wistia.com/deliveries/e1c585ed66151c032b9989f0b7463058d3d49ff4/file.mp4",
            skin: "{{ asset("skin-mobile.xml") }}",
            ga: {}
        });
        // set the volume to 100% just in case the user turned it down
        jwplayer().setVolume(100);

        $('html, body').animate({
            scrollTop: $("#more").offset().top
        }, 500, "swing", function() {
            $('#video-presentation').slideDown(500);
            $('#video-line').slideDown(0);
        });
    }

    // fancybox
    $('.fancybox').fancybox();
</script>
</body>
</html> 