<!DOCTYPE HTML>
<html>
<head>
    <meta name="keywords" content="">
    <meta name="title" content="Flo Fit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <!-- facebook tags -->
    <meta property="og:image" content="https://www.flofit.com/%7EASSETS/IMG/1200/s41.jpg"/>
    <meta property="og:title" content="Flo Fit &mdash; FLO FIT"/>
    <meta property="og:url" content="https://www.flofit.com/"/>
    <meta property="og:site_name" content="FLO FIT"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="401519239998227"/>
    <meta property="fb:business_id" content="401519239998227"/>

    <title>Flo Fit &mdash; FLO FIT </title>

    <link href='//fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/bowtie-vsl.css") }}"/>

    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/ff-icon.css") }}"/>
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/roboto.css") }}"/>

    {% stylesheets '@FloFitBundle/Resources/public/less/vsl-full.less' filter="less" output="css/vsl-full.css"  %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("css/vsl-full.css") }}"/>
    {% endstylesheets %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("favicon.ico", "app") }}">

    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js', "app") }}"></script>

</head>
<body>

<section class="section-10">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-secondary">“Take that picture down <span class="color-tertiary">RIGHT NOW!</span><span class="color-secondary">”</span></h1>
                    <h2 class="color-white">It was the worst, <span class="color-tertiary">most embarrassing</span> day of Jen’s life.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <img class="img-responsive first" src="{{ asset("images/vsl/s-10-01.png") }}"/>
                    <p>The day all her shame, anger and <span class="color-tertiary">FRUSTRATION</span> finally came bursting out.</p>
                    <p><strong>Frankly, she was <span class="color-tertiary">mortified</span>.</strong></p>
                    <p>Jen knew she had been putting on weight and getting flabby in certain places...</p>
                    <p>She had started avoiding tight-fitting clothes and bathing suits...</p>
                    <p>Wearing stretchy jeans and Spanx and trying to smooth out her growing “muffin top”...</p>
                    <p class="text-01">Making herself scarce when the cameras came out with friends and family (or positioning herself at such an angle that she prayed no one could tell)...</p>
                    <p>And living in fear of someone asking that dreaded question:</p>
                    <p><span class="color-tertiary">“Are you PREGNANT?</span> You seem to be showing a bit.”</p>
                    <img class="img-responsive second" src="{{ asset("images/vsl/s-10-02.png") }}"/>
                    <p>But then a friend posted “that horrible picture” on Facebook for <span class="color-tertiary">everyone to see.</span></p>
                    <p><strong>A picture she hadn’t even known was being taken...</strong></p>
                    <p class="text-02">A picture that showed everyone <strong>EXACTLY</strong> how much she had
                    <span class="no-wrap">“let herself go”</span>—you could so clearly see her <strong>double chin, flabby arms
                    and belly pooch...</strong></p>
                    <p class="text-03">A picture that she felt, in short, broadcast the fact that she was struggling with weight
                    issues to the <span class="color-tertiary">ENTIRE WORLD</span>.</p>
                    <p>And so when she got her friend on the phone, Jen lost it.</p>
                    <p class="text-04">At first, her rage focused on her friend for not even asking permission to post the
                    photo—especially the one where she looked so bad.</p>
                    <p>Yet secretly she was also furious at herself for letting her body get to this point.</p>
                    <p>She felt so inadequate and utterly <span class="color-tertiary">HELPLESS</span>.</p>
                    <p>And that’s how she found herself on the phone humiliated and begging her friend to “take down that photo.”</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-20">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-secondary">After she had calmed down a bit, her next call was to me.</h1>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img class="img-responsive" src="{{ asset("images/vsl/s-10-mobile-mike-calling.jpg") }}"
                     alt="Mike calling..."/>
                <div class="color-primary">
                    <p>“Mike,” she said, <strong>“I can’t take it anymore!”</strong></p>
                    <p>Her frustration spilled out as she went on about all the things she had done to try and lose all her unwanted weight. Everything that hadn’t worked— and the things that worked a little in the beginning but didn’t last.</p>
                    <p>She raged about the “popular” diets: Paleo, gluten-free, sugar-free, dairy-free, carb-free.</p>
                    <p class="color-tertiary">None of them had worked for her.</p>
                    <p>They were either too complicated, too flavorless or too low-calorie stick with long term.</p>
                    <p>Then she gave me a blow-by-blow of all the workouts she had tried: dance workouts, booty-shaping routines, and even those insane hardcore fitness programs that seem to feel that beating you up is the best way to motivate you.</p>
                    <p><strong>She had tried every diet trick under the sun, from hot lemon water and cayenne pepper drinks to oil pulling</strong> (don’t ask) and even juice fasting for huge parts of the day.</p>
                    <p>She had even tried the dangerous, organ squeezing “waist trainers” popularized by some of America’s biggest celebrities.</p>
                    <p class="color-tertiary">Nothing helped her lose weight, or keep it off.</p>
                    <p>I had been telling Jen for years that she needed to take a <strong>SMARTER</strong> approach...</p>
                    <p>To work <strong>WITH</strong> her body and her metabolism rather than against them....</p>
                    <p>And to stop jumping on the latest “wallet draining” fad diet or workout hoping that it would finally be <strong>THE</strong> answer.</p>
                    <p>Jen was in trouble—not only had she finally hit a brick wall—I sensed she was in real danger of totally giving up on ever getting in shape...</p>
                    <p class="color-tertiary font-22">FOREVER...</p>
                    <p>Jen was like so many of the people you see every day.</p>
                    <p>She had exhausted herself to find some way to lose weight, get in shape, and—most of all—take back control of her life.</p>
                    <p>But all her efforts the end only led to her realization that nothing worked for her. And nothing <strong>WAS</strong> likely to work for her. She felt like a complete failure.</p>
                    <p><strong>And the biggest irony of all was:</strong></p>
                    <h2 class="color-tertiary">It wasn’t even her fault!</h2>
                    <p>When she finally finished she said</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-30 background-primary">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-02">
                    <h1 class="color-white">“Mike you’re my last hope.”</h1>
                    <h2 class="color-primary">That’s why It made me absolutely heartbroken to listen to her, and I’ll tell you why.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-white">
                    <img class="img-responsive" src="{{ asset("images/vsl/s-30-point-to-star.png") }}"
                         alt="Map point to star"/>
                    <p>I had known Jen for years.</p>
                    <p>I’m a pretty  “in demand” fitness transformation coach to executives, pro athletes and celebrities, and I knew exactly what she needed in order to find real long-term success, and <span class="color-tertiary">I couldn’t help Jen.</span></p>
                    <p>We used to be neighbors in LA until she moved east, so there was no way she could train with me in person.</p>
                    <p>I knew long-distance coaching—wasn’t going to do it.,</p>
                    <p>That it would only be yet another “Band-Aid” solution for her.</p>
                    <p>She needed me to meet her at the gym a few mornings a week to create a customized plan just for her, and to work with her, by her side, encouraging her every effort.</p>
                    <p>Like I had so many times before for thousands of other Jens...</p>
                    <p>I knew I could help her overcome her feelings of helplessness, frustration and anger.</p>
                    <p>I knew I could help her achieve her picture-perfect body and get her the results she always wanted.</p>
                    <p class="color-secondary">But because of the distance, that just wasn’t going to happen.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-40">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-primary">The next day I was talking to one of celebrity clients after a workout:</h1>
                <h2 class="color-secondary">The international pop music star <span class="color-tertiary">Flo&nbsp;Rida.</span></h2>
            </div>
        </div>
        <div class="row">
            <img src="" data-1200="{{ asset("images/vsl/s-40-header-full-images.jpg") }}"
                        data-1024="{{ asset("images/vsl/s-40-header-full-images.jpg") }}"
                        data-768="{{ asset("images/vsl/s-40-header-full-images.jpg") }}"
                        data-320="{{ asset("images/vsl/s-40-header-full-images-mobile.jpg") }}"
                        class="img-responsive header-img lazy"
                        alt="FLO RIDA"/>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <p>Even if you haven’t heard of him, you’ve probably heard his mega-hits playing somewhere, like <strong>“Sometimes I Get a Good Feeling.”</strong></p>
                    <p>Or seen him appear and perform on The Today Show as well as on The Tonight Show with Jimmy&nbsp;Fallon.</p>
                    <p><strong>He’s sold 80 million singles, and has a boatload of Grammy nominations.</strong></p>
                    <p>Anyway, I told him about <strong>Jen and the photo.</strong></p>
                    <p>And I told him how upset I was that Jen was now too far away for me to work with her.</p>
                    <p>But Flo got this look in his eye – like he gets when he comes up with a hook for a new hit song.</p>
                    <p class="text-01">“Mike,” he said to me, <span class="color-green"><strong>“I’ve got an idea.”</strong></span></p>
                    <img class="img-responsive flo-mike" src="{{ asset("images/vsl/s-40-flo-mike.png") }}"
                         alt="Mike and Flo Rida"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-50">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white"><span class="color-secondary">Flo started</span> by saying that he knew personally that MANY people need my help...</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p class="text-center color-primary font-23 text-001">That, in fact, how to “get fit” is the number one question he gets asked on <span class="color-tertiary">social media!</span></p>
                <p class="text-center color-primary text-01">And he confessed that these days, now that I’ve gotten him in what he calls “the best shape of his life,” he actually kind of LIKES having his picture taken. And showing off his body onstage and off.</p>
                <img class="img-responsive show-mobile magazine" src="{{ asset("images/vsl/s-60-magazine.jpg") }}"
                     alt="Muscle & Fitness Flo Rida"/>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="flo-says color-primary">
                    <p class="italic"><strong>So Flo says to me</strong></p>
                    <p class="color-tertiary">“Mike, everybody needs what you’ve got</p>
                    <p>–  So let’s give it to them.”</p>
                </div>
                <div class="color-white">
                    <div class="text-03">
                        <p>Flo refused to accept that distance was a problem at all.</p>
                        <p>After all, <b>HE’S</b> in thousands of people’s homes every day.</p>
                        <p>So he saw no reason I couldn’t be as well.</p>
                    </div>
                    <div class="text-04">
                        <p>And the next thing I know he’s arranging to have his production company record me doing workouts and explaining how to lose weight and get in shape by outsmarting your metabolism.</p>
                        <p>In short - Everything I had taught him.</p>
                        <p>He even insisted that HE be in the videos with me to make sure they’re fun and exciting as a way to give back to the fans who made him who he is today.</p>
                        <p>And that we make it all digital, so people can watch them anytime they want—from anywhere they want.</p>
                        <p class="color-tertiary p">No more excuses!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="img-responsive show-mobile flo-rida" src="{{ asset("images/vsl/s-70-florida.png") }}"
         alt="Flo Rida"/>
</section>
<section class="section-60">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <img class="img-responsive hide-mobile" src="{{ asset("images/vsl/s-60-magazine.jpg") }}"
                         alt="Muscle & Fitness Flo Rida"/>
                    <p>I had an opportunity to bring my teaching and inspiration to more people in a way that could be as good as—or even better—than in person.</p>
                    <p>I realized that Flo might very well be onto something!</p>
                    <p>And I’ll tell you more about what we came up with in a moment.</p>
                    <p class="color-tertiary">But first...</p>
                    <p>If you’ve been struggling to get in shape...</p>
                    <p>Or even if you feel the problem is that you <b>HAVEN’T</b> been struggling enough...</p>
                    <p>Then you’re going to <span class="color-tertiary">want</span> to listen very closely to this short presentation.</p>
                    <p>Because I’m going to reveal the <span class="color-tertiary">REAL REASON</span> you’ve been unable to lose weight and get in shape...</p>
                    <p>And how to finally blast right through it...</p>
                    <p>On your way to that <span class="color-tertiary">beautiful body</span> you’ve always wanted.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-70">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="header text-center">
                    <h1 class="color-primary">But first, I think an introduction is in order.</h1>
                    <h2 class="color-tertiary"><span class="color-secondary">I’m</span> Mike Saffaie.</h2>
                    <p class="color-primary">And I think that what’s most important for you to know about me is simply this: <span class="color-tertiary underline"><b>I’ve done it.</b></span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <img src="" data-1200="{{ asset("images/vsl/s-70-mike-fotos.png") }}"
                                data-1024="{{ asset("images/vsl/s-70-mike-fotos.png") }}"
                                data-768="{{ asset("images/vsl/s-70-mike-fotos-tablet.png") }}"
                                data-320="{{ asset("images/vsl/s-70-mike-fotos-tablet.png") }}"
                                class="img-responsive mike-photos lazy"
                                alt="Mike with photos"/>

                    <p class="text-001"><strong>I learned from the best about how to tone and train my body.</strong></p>
                    <p>I learned about using only natural methods, and I built myself up to be good enough to achieve IBFF Pro status, the most prestigious bodybuilding designation in the world—the same one that made Arnold Schwarzenegger famous.</p>
                    <p>These days, I’m committed to building <b>OTHER</b> people’s bodies—enabling them to lose and keep off stubborn fat and pack their bodies with lean, beautiful muscle.</p>
                    <p>That’s how I’ve taken Flo to the best shape of his life...and thousands of other men and women as well.</p>
                    <p>And I’ve done it not by pushing or berating people into doing exhausting workouts and never exercises that could potentially hurt you.</p>
                    <p>Not by making people live on tofu and lemon water...</p>
                    <p>But simply by getting rid of the metabolic obstacles that were keeping them from realizing their full fitness potential.</p>
                    <p><strong>Fitness is not only my profession, it’s my life, <span class="color-tertiary">it’s my passion.</span></strong></p>
                    <p>It’s one of the main reasons Flo and I worked so well together, since he’s one of the most passionate people I’ve ever met.</p>
                    <p>And no doubt why he chose me to train him.</p>
                    <p>I’ve helped so many people—from celebrities like Flo to professional athletes to people just like you—to <span class="color-tertiary">look AND feel great.</span></p>
                    <p class="color-secondary font-24">Maybe you’ll be next.</p>
                    <p>Why not get started right now—by looking at exactly what’s been holding you back from the body you want and deserve?</p>
                    <p>Look, you wouldn’t be here if you weren’t at least a little <span class="color-tertiary">(or maybe a LOT)</span> dissatisfied with the shape you’re in...</p>
                    <p>A little bit unhappy with how you’re feeling these days...</p>
                    <p>And wanting to change that body you see when you look in the mirror or at photos taken by your family and friends.</p>
                    <p class="color-green font-27">But here’s the good news.</p>
                    <p>I believe I can tell you right here and now why you’re in this predicament <span class="color-tertiary">(and how to get out of it).</span></p>
                    <p>It has nothing to do with lack of “willpower” or anything else you may have been told.</p>
                    <p>It’s because of something quite tangible that you don’t have.</p>
                    <p>
                        <b class="display-block line-height-13">It’s all because...</b>
                        <span class="color-tertiary font-21 display-block line-height-13">You don’t have a personal trainer.</span>
                        <span class="color-secondary font-20 display-block">Wait... hear me out on this!</span>
                    </p>
                    <div class="max-width">
                        <p>Think about it: Why do you think 99 out of 100 of those Hollywood stars you see performing onstage, or in the movies and on TV, are in such great shape?</p>
                        <p>They have personal trainers who come to their houses and make <b>SURE</b> they get and stay in shape.</p>
                        <div class="text-01">
                            <p><strong>I know because that’s my job.</strong> I know that as personal trainers, we motivate those celebrities... Inspire them. Educate them. Create a plan that’s exactly right for them and make sure they stick to it.</p>
                            <p>Let’s face it, if I were to show up at your door at 8 in the morning, you are <b>GOING</b> to work out.</p>
                            <p>You are <b>GOING</b> to get (and <b>STAY</b>) in shape.</p>
                            <p>No ifs, ands or saggy butts about it!</p>
                            <p class="font-24">“But Mike,” you say, “I’m not a big star, and I can’t afford a personal trainer.”
                            <span class="display-block color-tertiary">Ah, but you’re wrong on two counts.</span></p>
                            <p>First, you are the star—of your very own reality show: <span class="color-tertiary">your life!</span></p>
                            <p>Second, you <span class="color-tertiary">CAN easily afford</span> my help. And I’m very excited to tell you how.</p>
                        </div>
                    </div>
                </div>
                <img class="img-responsive flo-rida" src="{{ asset("images/vsl/s-70-flo-prida.jpg") }}" alt="Flo Rida"/>
            </div>
        </div>
    </div>
</section>
<section class="section-80">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">The kind of work out Flo wanted—indeed, required—is fun,<span class="color-secondary">high energy and exciting...</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24 text-center">
                <p class="color-primary text-01">Just like his music and his performances!</p>
                <p class="color-tertiary text-02"><b>And THAT’S what really gets and keeps FLO going.</b></p>
            </div>
        </div>
    </div>
    <img class="img-responsive margin-auto" src="{{ asset("images/vsl/s-80-flo-full.jpg") }}" alt="Flo Rida"/>
</section>
<section class="section-90 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="span-medium-24 text-center color-primary">
                <h1 class="color-secondary">That kind of positive energy.</h1>
                <h2 class="bold">And THAT’S what I believe yields the best results for ANYONE.</h2>
                <p class="max-width-01">So I knew that any program I created for people to do at home not only had to achieve maximum results in minimum time—it had to be a fun, exciting, super-positive, highly-motivating workout.</p>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="max-width-02 color-primary">
                    <p><strong>I found the answer to all these challenges in Flo’s concept of the <span class="color-green font-22">“Perfect Mix.”</span></strong></p>
                    <p>That Perfect Mix is how Flo creates hit after hit.</p>
                    <p><strong>Which got me to thinking...</strong></p>
                    <p>Ultimate fitness requires a perfect mix of elements, too.</p>
                    <p>And your perfect FITNESS mix is how you’ll create the hit body you’ve always wanted—by mixing all the right elements in all the right ways.</p>
                    <p><strong>Once you get YOUR “perfect mix”...</strong></p>
                    <p>(And I’ll show you how to get it in a minute)</p>
                </div>
                <img src="{{ asset("images/vsl/s-90flo-jump.png") }}" alt="Flo Rida" class="img-responsive"/>
            </div>
        </div>
    </div>
</section>
<section class="section-100">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-white">Everything clicks into place. <span class="color-orange">Barriers fall.</span></h1>
                <h2 class="color-secondary">What was impossible becomes possible.</h2>
                <div class="color-white">
                    <p>Stubborn weight flows off like water and well-defined muscles develop and emerge.</p>
                    <p>Because when it comes to fitness, the perfect mix, first of all, means the right mix of both movement and nutrition.</p>
                    <p>Now, as you’ll see shortly, I don’t mean depriving yourself of the foods you love and forcing yourself through boring, time-consuming exercises.</p>
                    <p>I mean a perfect mix of smart, enjoyable eating... and fun, time-efficient exercise.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-110">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <img src="{{ asset("images/vsl/s-110-woman.png") }}" alt="" class="img-responsive"/>
                <div class="text-10">
                    <h1 class="color-green">Now, HOW do you create your “perfect mix” fitness program?</h1>
                    <h2 class="color-secondary">It’s WAY easier than you think.</h2>
                    <p>Because thanks to Flo, the same techniques that were so successful in getting him into the best shape of his life are now available for <b>YOU</b> to benefit from.</p>
                    <p>And the best part of all? <span class="color-orange">I can be right there with you.</span></p>
                    <p>I designed this program to be absolutely state of the art in terms of what we know about exercise science...</p>
                    <p>Combined with what I’ve learned over decades of training myself and others.</p>
                    <p>I’ve personally tested it out on my clients at the gym where I teach.</p>
                    <p>We’ve even done a limited test release of a do-it-at-home program.</p>
                    <p>In both cases, the results people have been getting have been phenomenal.</p>
                    <p>Now we’re ready to release <strong>FLO&nbsp;FIT</strong> to the world, and you’re invited to be a part of it.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-120">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-secondary">It all starts with five <span class="display-inline-block">30-minute</span></h1>
                <h2 class="color-dark-blue">full-body workouts that will shape and strengthen your entire body.</h2>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img src="" data-1200="{{ asset("images/vsl/s-120-graph.jpg") }}"
                            data-1024="{{ asset("images/vsl/s-120-graph.jpg") }}"
                            data-768="{{ asset("images/vsl/s-120-graph.jpg") }}"
                            data-320="{{ asset("images/vsl/s-120-graph-mobile.jpg") }}"
                            class="img-responsive lazy"
                            alt="FLO FIT training graph"/>
                <div class="color-dark-blue text">
                    <p>Although they take a mere 30 minutes, they will optimize and maximize your workout time by getting your metabolism roaring at full throttle.</p>
                    <p>In fact, these workouts are the precise kind of exercise <b>PROVEN</b> in study after study to ignite your fat-burning metabolism and keep it fired up for <b>DAYS</b> afterward.</p>
                    <p>See how it gives you better cardio, better muscle building, and better calorie burning?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-130">
    <div class="container">
        <div class="row">
            <div class="abs-vertical-center">
                <p>Each one gives your whole body the workout it needs with the Perfect Mix of high-intensity strength training and interval cardio to torch fat and build long, lean muscle.</p>
                <p>And each one has a slightly different focus because it’s all about creating <b>YOUR</b> Perfect Mix.</p>
            </div>
            <div class="span-medium-11 offset-medium-13">
                <img class="img-responsive" src="{{ asset("images/vsl/s-130-flo.jpg") }}" alt="FLO group"/>
            </div>
        </div>
    </div>
</section>
<section class="section-140">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-03">
                    <h1 class="color-primary font-31">You’ll get...</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center">
                    <p><span class="color-secondary">A Full Body Definition Workout</span> that will blast your entire body with high-intensity full-body circuit training that’s specially designed to destroy fat.</p>
                </div>
                <div class="span-large-11 offset-large-13">
                    <img class="img-responsive img-right" src="{{ asset("images/vsl/s-140-flo-01.jpg") }}" alt="FLO FIT CD 01"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center offset-large-9">
                    <p><span class="color-secondary">A Lower Body Definition Workout.</span> If your legs aren’t burning after this one, you’re doing it wrong!</p>
                </div>
                <div class="span-large-11">
                    <img class="img-responsive img-left" src="{{ asset("images/vsl/s-140-flo-02.jpg") }}" alt="FLO FIT CD 02"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center">
                    <p>Next up is what we call <span class="color-secondary">Full Body Explosive Power</span> to give you high-powered energy! This is the workout that keeps Flo&nbsp;Rida jumping around onstage longer than anyone else for his entire show.</p>
                </div>
                <div class="span-large-11 offset-large-13">
                    <img class="img-responsive img-right" src="{{ asset("images/vsl/s-140-flo-03.jpg") }}" alt="FLO FIT CD 03"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center offset-large-9">
                    <p><span class="color-secondary">The Arm Definition Workout</span> builds long, lean, muscular arms while also destroying fat.</p>
                </div>
                <div class="span-large-11">
                    <img class="img-responsive img-left" src="{{ asset("images/vsl/s-140-flo-04.jpg") }}" alt="FLO FIT CD 04"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center">
                    <p>And your <span class="color-secondary">Core Definition workout</span> focuses on your entire, all-important core—which is key to getting you those tight, trim abs you’ve been looking for.</p>
                </div>
                <div class="span-large-11 offset-large-13">
                    <img class="img-responsive img-right" src="{{ asset("images/vsl/s-140-flo-05.jpg") }}" alt="FLO FIT CD 05"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-150">
    <div class="container">
        <div class="row header">
            <div class="span-medium-24">
                <h1>Using my unique <span class="bold color-orange">Ladder Principle</span>, in these full-body workouts we’ll go up and down your entire body, alternating opposing muscle groups for <span class="bold color-secondary">maximum effectiveness</span>.</h1>
                <img src="" data-1200="{{ asset("images/vsl/s-150-flo-top.jpg") }}"
                            data-1024="{{ asset("images/vsl/s-150-flo-top.jpg") }}"
                            data-768="{{ asset("images/vsl/s-150-flo-top.jpg") }}"
                            data-320="{{ asset("images/vsl/s-150-flo-top-mobile.jpg") }}"
                            class="img-responsive margin-auto lazy"
                            alt="Flo Rida"/>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary max-width-01">
                    <p><strong>These sessions are a quick 30 minutes of serious, take-it-to-the-max workouts disguised as high-energy fun.</strong></p>
                    <p>But what I think you’ll really <strong>LOVE</strong> about them is that they stoke your metabolism—and keep it running at full fat-burning blast for days afterward.</p>
                    <p class="color-orange">How is this possible?</p>
                    <p>By mixing it up with a combination of intense, body-shaping resistance-based moves...</p>
                    <p>And heart-pumping cardio and calisthenics.</p>
                    <p>What’s more, carefully choreographed, low-intensity transitions between exercises means that even as you’re rolling over onto your back, standing up and getting into position for the next set...</p>
                    <p>Without you even realizing it, these transitions will help your body discover how to move more efficiently and gracefully—and at the same time throw even more fuel on your metabolic fire so that it will continue to burn for hours afterward.</p>
                    <p>Not to be immodest, but I’d be remiss if I didn’t emphasize that <strong>FLO&nbsp;FIT</strong> is a <strong class="color-orange">REVOLUTIONARY</strong> new way to work out that’s head and shoulders above anything else out there right now.</p>
                    <p>Full body workouts are more than enough for some people.</p>
                    <p class="font-22 color-green"><strong>Especially when, like FLO&nbsp;FIT, it really works.</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img src="" data-1200="{{ asset("images/vsl/s-150-woman.jpg") }}"
                            data-1024="{{ asset("images/vsl/s-150-woman.jpg") }}"
                            data-768="{{ asset("images/vsl/s-150-woman.jpg") }}"
                            data-320="{{ asset("images/vsl/s-150-woman-mobile.jpg") }}"
                            class="img-responsive img-woman lazy"
                            alt=""/>
                <div class="color-primary font-19 text-01">
                    <p>But if you’re like most of the people I work with, I’ll bet you’ve also got specific areas you would like to focus on.</p>
                    <p class="color-orange">So you can look good from <b>EVERY</b> angle.</p>
                    <p>You know what I mean: those places that jump out at you when you see that photo of yourself at the beach, and you go: “Oh, no, look at my...”</p>
                    <p>That’s why the program I created with Flo also includes five quick target training workouts (also known as <span class="color-orange">“high def”</span> workouts).</p>
                    <p>Our High-Def training helps you create beautiful, well-defined muscles in those annoying problem areas, thanks to highly focused <b>ISOMETRIC</b> movements.</p>
                    <p>These movements isolate and tense the muscles instead of contracting them—so no joint movement is involved, and it’s almost effortless.</p>
                    <p><strong>This is a <span class="color-orange">huge secret</span> I’m letting you in on:</strong><br/>For the most effective results, it’s about TENSING muscles—not straining them by lifting heavy weights.</p>
                    <p>This enables you to add extra strength, agility, and flexibility, as well as definition.</p>
                    <p class="font-21"><b><span class="color-orange">For women</span>, that means flat, beautiful abs; long, lean legs, shapely arms; a more lifted butt; and shoulders made for strapless garments</b></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-13">
                <div class="text-02">
                    <p class="font-21"><b><span class="color-orange">And men —</span> can I interest you in sleeve busting arms, an action hero chest, an end to scrawny “chicken legs,” and those 6-pack abs that are so envied that everyone adores.</b></p>
                    <p>And as I mentioned earlier, studies show that this combination of high-intensity training combined with basic full-body workouts is the <b class="color-orange">BEST</b> way to maximize your results.</p>
                    <p>What’s more, it allows you to truly design <b>YOUR</b> perfect mix—isolating and fixing your problem areas—the ones you know need the most attention...</p>
                    <p class="font-20"><strong>And truly taking your fitness to <span class="color-orange">the next level.</span></strong></p>
                    <p>It’s easy to find time for these super-quick 10-minute High Def Express workouts.</p>
                    <p class="color-green font-22">You get 5 of them that will enable you to...</p>
                </div>
            </div>
            <div class="span-medium-11">
                <img src="" data-1200="{{ asset("images/vsl/s-150-man.jpg") }}"
                            data-1024="{{ asset("images/vsl/s-150-man.jpg") }}"
                            data-768="{{ asset("images/vsl/s-150-man.jpg") }}"
                            data-320="{{ asset("images/vsl/s-150-man-mobile.jpg") }}"
                            class="img-responsive img-mike lazy"
                            alt="Mike"/>
            </div>
        </div>
    </div>
</section>
<section class="section-160">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center">
                    <p>Build a well-defined, balanced <span class="color-orange">chest and back</span> and get perfect posture <span class="color-orange">(VERY sexy!)</span>.</p>
                </div>
                <div class="span-large-11 offset-large-13">
                    <img class="img-responsive img-right" src="{{ asset("images/vsl/s-160-flo-01.jpg") }}" alt="FLO FIT CD 01"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center offset-large-10">
                    <p>Give you those perfect <span class="color-orange">arms</span> you’ve always wanted— whether you’re looking for lean and sculpted or big and powerful.</p>
                </div>
                <div class="span-large-11">
                    <img class="img-responsive img-left" src="{{ asset("images/vsl/s-160-flo-02.jpg") }}" alt="FLO FIT CD 02"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center">
                    <p>Build killer <span class="color-orange">shoulders</span> that will turn heads from the club to the beach.</p>
                </div>
                <div class="span-large-11 offset-large-13">
                    <img class="img-responsive img-right" src="{{ asset("images/vsl/s-160-flo-03.jpg") }}" alt="FLO FIT CD 03"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center offset-large-10">
                    <p>Create amazing, envy-inducing <span class="color-orange">abs</span>!</p>
                </div>
                <div class="span-medium-11">
                    <img class="img-responsive img-left" src="{{ asset("images/vsl/s-160-flo-04.jpg") }}" alt="FLO FIT CD 04"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center">
                    <p>Sculpt that <span class="color-orange">killer butt and beautiful legs</span> you crave.</p>
                </div>
                <div class="span-large-11 offset-large-13">
                    <img class="img-responsive img-right" src="{{ asset("images/vsl/s-160-flo-05.jpg") }}" alt="FLO FIT CD 05"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-170">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white"><span class="color-secondary">FLO&nbsp;FIT</span> is a lot more than great body-reshaping workouts.</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-10">
                <img class="img-responsive margin-auto" src="{{ asset("images/vsl/s-170-flo.jpg") }}" alt="FLO FIT Workout Guilde"/>
            </div>
            <div class="span-medium-14">
                <div class="color-primary text-01">
                    <p><b>To be sure you get the advice and understanding you’ll need to succeed, I’ve prepared an informative <span class="color-orange">43-page Workout Guide.</span></b></p>
                    <p>In it, you’ll discover why <strong>FLO&nbsp;FIT</strong> is the perfect mix that gets you lean and ripped...</p>
                    <p>And exactly why, if you want to look good from every angle and feel better than ever, this is the program for you.</p>
                    <p>With its integrated approach to fitness and nutrition, you’ll be able to achieve the body you want ––lean and strong with outstanding definition.</p>
                    <p>From the beach to the club, to walking down the street, whether you want to lose weight or build muscle, this program was made for you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-180">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-orange">And here’s a small sample of what you get in this guide:</h1>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <ul>
                    <li>The secrets of the life-changing <span class="color-green">FLO&nbsp;FIT</span> philosophy</li>
                    <li>Your <span class="color-green">Heart Rate Training Zone Guide</span> that will enable you to keep your exertion level right in the sweet spot
                    </li>
                    <li>Flo’s secret to getting maximum impact from his workouts in the shortest time</li>
                    <li>The secret to burning fat quickly—and <span class="color-green">KEEPING</span> your body in an elevated fat-loss state throughout the day
                    </li>
                    <li>The “<span class="color-green">beautiful strength</span>” exercises the ancient Greeks used to create statuesque physiques using only your bodyweight
                    </li>
                    <li>Unless you follow the advice on page 13, even <span class="color-green">the best exercise program</span> in the world is a complete waste of time
                    </li>
                    <li>The best way to motivate yourself for maximum effort and results so you’ll never have to “<span class="color-green">force yourself</span>” to work out again
                    </li>
                    <li>The simple body signal that tells you that you’re exercising correctly</li>
                    <li>What you <span class="color-green">MUST</span> do before—and after—every workout to prevent injury AND make your workouts more effective (NOT stretching)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img class="img-responsive graph" src="{{ asset("images/vsl/s-180-advanced.png") }}" alt="Advanced"/>
                <p class="color-white"><span class="color-orange">Plus...</span> three step-by-step 8-week Fitness Calendars (Beginner, Intermediate and Advanced) that tell you exactly which workout to do on each day. As plug and play as fitness can get!</p>
            </div>
        </div>
    </div>
</section>
<section class="section-190">
    <div class="container">
        <div class="row none-padding">
            <div class="span-medium-24">
                <h1>After you learn all of this, you’ll know more about fitness than most so-called <span class="color-orange">TRAINERS!</span></h1>
                <h2>Now let’s talk about one of my favorite subjects: <span class="color-green">FOOD!</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="text-01 clearfix">
                    <img class="img-responsive" src="{{ asset("images/vsl/s-190-cover-01.jpg") }}" alt="Nutrition Guilde"/>
                    <p>Did you know that most people think you can get rid of belly fat simply by doing ab exercises?</p>
                    <p>How I wish that were true.</p>
                    <p>But unfortunately, abs are made in the <span class="color-orange">kitchen</span></p>
                    <p class="font-22"><b>But here’s the good news:</b></p>
                    <p>You don’t have to starve yourself or deprive yourself of the foods you love.</p>
                    <p>The detailed <b class="color-green font-22">Nutrition guide</b> that comes with your FLO&nbsp;FIT program reveals everything you need to know about nutrition so you can lose unwanted body fat as quickly and easily as possible...</p>
                    <p class="color-orange font-20">Without eating like a rabbit!</p>
                    <p>We’ll break down the entire process into easy-to-follow steps, walk you through the precise formula for optimal nutrition...</p>
                    <p>And provide you with your own <span class="color-orange">Personal Nutrition Worksheet</span>, so you can determine the optimal nutrition program for <b>YOUR</b> body—and use it to shed that unwanted weight.</p>
                </div>
            </div>
            <div class="span-medium-24">
                <div class="text-02">
                    <p>Listen, the truth is that you <b>MUST</b> know how much to eat and what to eat—whether you want to just get in shape or get absolutely shredded.</p>
                    <p>Anyone who tells you differently is lying to your face.</p>
                    <p>And this is where <strong>FLO&nbsp;FIT’s</strong> perfect mix will help you lose weight, build muscle, increase endurance, and even help the body repair itself...</p>
                    <p>Without starving yourself or giving up the foods you love.</p>
                    <p>Look, in a way it’s easy to tell what foods are healthy for you to eat and which are not.</p>
                    <p>Of course, you want to nourish your body by eating whole, healthy foods and avoid foods that are over-processed and filled with empty calories and artificial additives.</p>
                    <p>But sometimes it’s not so obvious. And that’s where you can definitely get into trouble.</p>
                    <p>That’s why everything that you need to know, including exact meals and snacks that work in sync with your <strong>FLO&nbsp;FIT</strong> workouts, is included in this guide.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-200">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">Simply follow these guidelines to feel stronger, look healthier, sleep better and recover faster.</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <h2 class="color-green">For example:</h2>
                <ul>
                    <li>How to find the time to shop for, prepare, and eat the right foods</li>
                    <li>Your Personal Nutrition Worksheet, where you’ll find out what the optimal nutrition program is for YOUR body</li>
                    <li>How to figure out <span class="color-green">EXACTLY</span> how many calories you must eat to achieve your fitness goals (too FEW is as bad as too many!)</li>
                    <li>When it’s perfectly OK to “cheat” with an extra snack—in fact, it’s <span class="color-green">ENCOURAGED</span></li>
                    <li>How to TIME your meals with your workouts for maximum performance and results</li>
                    <li>An exciting new way to measure the true value of foods. This insight will change the way you look at food forever</li>
                    <li>The 3 things you must eat at <span class="color-green">EVERY</span> meal for sustained energy, balanced blood sugar, prevention of hunger pangs, and to maximize your workouts and recovery</li>
                    <li>Why you should <span class="color-green">NOT</span> eliminate carbs (see page 23 to find out when you should eat MORE!)</li>
                    <li>Why you shouldn’t eliminate fat either. Instead, just say “yes” to the healthy, delicious fats on page 20.</li>
                    <li>A quick and easy way to get rid of toxins—without crazy detox diets or regimes</li>
                    <li><span class="color-green">The #1 food</span> to avoid (and it’s NOT sugar)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p>So if you’re ready to take on the <span class="color-orange">Perfect Mix challenge</span>, let’s get started and <span class="color-orange">NEVER LOOK BACK</span> on the road to achieving the platinum body you want.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-210">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1>Imagine what it will be like to have your own personal trainer — with a program that will get you in <span class="color-orange">the best shape of your life.</span></h1>
                <h2>No way am I going to let you down! Or let you let yourself down.</h2>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img src="" data-1200="{{ asset("images/vsl/s-210-bg.png") }}"
                            data-1024="{{ asset("images/vsl/s-210-bg.png") }}"
                            data-768="{{ asset("images/vsl/s-210-bg.png") }}"
                            data-320="{{ asset("images/vsl/s-210-bg-mobile.png") }}"
                            class="img-responsive lazy"
                            alt="Flo Rida"/>
                <div class="text">
                    <p class="font-22">As you become leaner...</p>
                    <p class="font-22">As your muscles become more toned...</p>
                    <p class="text-01">And instead of dreading the camera you’re confident and <b>SMILING</b> for that group photo you know is going straight to Facebook or Instagram.</p>
                    <p class="color-orange font-20">Got any doubts?</p>
                    <p>Maybe you’re worried about finding the time to work out?</p>
                    <p class="color-orange">No problem.</p>
                    <p>If Flo can do it with his crazy schedule, <span class="color-orange font-20"><b>YOU</b> can do it.</span></p>
                    <p class="text-02">Because <strong>FLO&nbsp;FIT</strong> is designed to be done <strong>ANYWHERE</strong>, and to give you the best results in the shortest time.</p>
                    <p class="text-03">We’ll set up a program together that’s exactly right for you. You’ll know exactly what to do, every day of the week.</p>
                    <p>Just as if I were coming right to your house.</p>
                    <p class="font-21"><b>Worried about doing the RIGHT exercises?</b></p>
                    <p class="text-04">That’s what I’m here for—to show you exactly what will work to get you the results you want, coaching you every step of the way. It’s like “set it and forget it.”</p>
                    <p class="color-orange">Worried about motivation?</p>
                </div>
                <p>Look, we ALL have days where we don’t feel like exercising.</p>
                <p class="font-22 margin-top-45"><b>But all you have to do now is follow <span class="color-orange">the 5 minutes rule.</span></b></p>
                <p class="text-05">I promise you that if you simply put on a <strong>FLO&nbsp;FIT</strong> video for only <span class="color-orange">5 short minutes</span>, motivation will no longer be an issue—we’ll have you up and moving around in no time.</p>
                <p>Because you can’t help but soak in the get-you-off-the-couch energy that Flo and I bring.</p>
                <p class="font-21">In short, you CAN do this. <span class="color-orange display-block">Together, we WILL do this.</span></p>
            </div>
        </div>
    </div>
</section>
<section class="section-220">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white"> Look, for Flo and maybe for you as well, it’s all about <span class="color-secondary">PERFORMANCE.</span></h1>
                    <h2 class="color-green">Whether you’re performing like Flo in front of millions...</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p class="font-21 margin-bottom-40">Or you just want to perform better in every aspect of your life: <span class="color-orange display-block">personally and professionally.</span></p>
                <p>Even, dare I say, in the bedroom.</p>
                <p><b>I’m talking about rock-star energy levels and stamina.</b></p>
                <p>Not that exhausted feeling you get from those insane impossible, body-abusing workouts.</p>
                <p>Instead, a workout like FLO&nbsp;FIT can do more than increase your energy levels. Research shows that it can also...</p>
                <p class="color-orange"><b>Sharpen your focus...</b></p>
                <p><b>Put you in a better mood...</b></p>
                <p class="color-orange"><b>Improve your memory...</b></p>
                <p><b>Control your weight (of course)...</b></p>
                <p>And give you better impulse control (and you know how important THAT is!).</p>
                <p>A workout like <strong>FLO&nbsp;FIT</strong> can even fight disease. (And, of course, being sick can really put a damper on ANY kind of performance!)</p>
                <p class="color-green font-22"><b>Looks... health... performance.</b></p>
                <p>They all depend on getting and staying in shape.</p>
                <p>And there’s never been a better, more effective way to do that than with <strong>FLO&nbsp;FIT</strong>.</p>
                <p>No other form of exercise enables you to get better results in less time.</p>
                <p>That’s because <strong>FLO&nbsp;FIT</strong> takes advantage of the best of so many types of exercise...</p>
                <p>And even takes advantage of the lower-intensity intervals and transition time <b>BETWEEN</b> exercises.</p>
                <p class="font-20">So all it takes is <span class="color-orange">30 minutes</span>—right at home.</p>
                <p>Consider that for some people, 30 minutes is how long it takes to get to the gym and back—never mind all the time they spend AT the gym sweating with a bunch of complete strangers.</p>
                <p>That means that if it takes you a half hour to get to the gym, and you spend an hour there, doing <strong>FLO&nbsp;FIT</strong> instead could give you an extra hour a day!</p>
            </div>
        </div>
    </div>
</section>
<section class="section-230">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-primary">FLO&nbsp;FIT isn’t for <span class="color-orange">everyone.</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p class="font-21"><span class="color-orange">For example,</span> it’s not for you if you’re looking for a quick and easy, no-sweat way to lose weight and get in shape or some low-intensity dance class that you can do in your sleep.</p>
                <p>I’ve never found anything “quick and easy” that actually works to get your body in shape—and believe me I see about every program and fad that comes out.</p>
                <img class="img-responsive" src="{{ asset("images/vsl/s-230-flo-mike.png") }}" alt="Mike & Flo Rida"/>
                <p><span class="display-block color-orange font-25">With <strong>FLO&nbsp;FIT</strong>, you WILL sweat.</span>It won’t be “easy”. You’ll have to <b>BURN</b> it to earn it.</p>
                <p class="font-25"><span class="display-block color-secondary">But Flo and I promise:</span> You CAN do it! And with <strong>FLO&nbsp;FIT</strong>, you’ll enjoy every minute it.</p>
                <p>Now here’s another reason <strong>FLO&nbsp;FIT</strong> might not be for you...</p>
                <p>If you believe that exercise isn’t really doing anything unless it’s painful and you’re</p>
                <p>always one misstep away from putting yourself out of commission.</p>
                <p>I see that happen all the time with those “insane,” push-yourself-to-the-limit-and-beyond</p>
                <p>gyms and programs you see on TV.</p>
                <p>Trust me, you don’t have to do that to get the results you’re looking for.</p>
                <p class="color-secondary font-25">Who IS <strong>FLO&nbsp;FIT</strong> for then?</p>
                <p>It’s for you if you’re willing to put in a little effort to finally burn away fat, lose the weight, and get in your optimum physical shape.</p>
                <p>It’s for you whether you’re a seasoned fitness buff or a stay-at-home mom looking to get back into shape—as long as you’re <b>SERIOUS</b> about it.</p>
                <p>It’s for you if you want everything you need to build muscle, lose weight and get in incredible shape neatly packaged together in</p>
                <p>a program that will get results in as little as <span class="display-inline-block color-orange">8 weeks.</span></p>
                <p>And it’s for you if you believe, as I do, that pushing yourself little by little to go beyond your comfort zone can be enjoyable,</p>
                <p>inspiring, and motivating...</p>
                <p>And that it can be the best, quickest and most direct way to get that body you’ve always wanted.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-240">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-02">
                    <h1 class="color-white">But you don’t have to take MY word on that!</h1>
                    <h2 class="color-primary">The feedback we’ve been getting on this program is amazing!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="max-width">
                    <p><span class="display-block color-secondary">For example,</span>here’s what Michelle, a psychiatrist from California had to say: </p>
                    <div class="quote">
                        <h3 class="color-orange">“I’m hooked!”</h3>
                        <p>“Although I often recommend exercise to my patients, I had trouble sticking with an exercise regimen myself.</p>
                        <p>“The biggest challenge for me in the past was becoming bored. But Mike’s approach is NEVER boring.</p>
                        <p>“I saw my body AND my mind transforming.</p>
                        <p>“It’s incredible and I’m hooked!</p>
                        <p>“He keeps it simple, playful, fun and incredibly rewarding.”</p>
                    </div>
                    <p class="margin-top-40">And here’s what Oliver, a 41 year-old from Ladner, British Columbia says…</p>
                    <div class="quote">
                        <h3 class="color-orange">“Lost 20 Pounds!”</h3>
                        <p>“You won’t believe how easy FLO&nbsp;FIT is to follow and how enjoyable the workouts are.</p>
                        <p>“I got results immediately and lost 20 pounds during the 8-week program.</p>
                        <p>“The workouts are all 30 minutes or less, so I was always able to make time to get them done. Mike Saffaie will keep you motivated! He’s an amazing trainer.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-250">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="max-width">
                    <p>With results like that, I don’t blame you if you’re thinking that a system like <strong>FLO&nbsp;FIT</strong> should be very expensive.</p>
                    <p>After all, most people would be willing to pay just about anything for a program that truly works to enable you to lose the weight you’ve always wanted...</p>
                    <p>And transform your body into beautiful, picture-perfect ready shape.</p>
                    <p>Here in LA, according to the Hollywood Reporter, top trainers have been reported to charge <strong>$3,600 for 24 classes</strong>.</p>
                    <p>Also, according to Hollywood Reporter – boutique Hollywood Trainers have been reported to charge $3,600 for 24 classes!</p>
                    <p>But I don’t want price to stand between you and the body you’ve always wanted.</p>
                    <p>So here’s how to get me for a tiny fraction of that cost—for much less than even an hour of that kind of training.</p>
                    <p class="font-22 margin-top-20">Because our goal— <span class="color-secondary">Flo’s and mine</span> —is quite literally to build a community of a hundred thousand<span class="small-font">32</span> successful people like you who can testify to the transformational benefits of <strong class="color-secondary">FLO&nbsp;FIT</strong>...</p>
                    <p>And who are ready to help others in their journey to physical fitness.</p>
                    <p>Because I never want anyone to feel like they are alone or without help on the path to health and fitness.</p>
                    <p>Building this community is why I want to make your decision to try <strong>FLO&nbsp;FIT</strong> not only one of the best but one of the <strong>EASIEST</strong> decisions you’ll ever make.</p>
                    <p>That’s why, although the total value of the <strong>FLO&nbsp;FIT</strong> system and everything that comes with it is literally hundreds of dollars, <b class="color-orange font-25 display-block">you won’t pay anything close to that.</b></p>
                    <p class="text-01 font-22"><b>We immediate access right now to the entire system for a special discounted price of only <span class="color-green">{{ oldPrice }}.</span></b></p>
                    <p class="font-19">And believe me, it’s a steal at that price.</p>
                    <p>Because as I said, Flo and I want to build our community of successful <strong>FLO&nbsp;FIT</strong> enthusiasts. <span class="color-orange">And we want to do it quickly.</span></p>
                    <p>That’s why we’re going to do <span class="color-orange">TWO</span> things right here—right now—to make your decision today as easy as asking for vanilla ice cream instead of chocolate.</p>
                    <p>First, because you’ve invested your time to watch this entire presentation and learn about <strong>FLO&nbsp;FIT</strong>,<span class="color-orange font-24 display-block">we will cut your price in HALF.</span></p>
                    <p class="margin-top-20"><b>That’s right: If you act quickly, today <strong>FLO&nbsp;FIT</strong> can be yours <span class="display-block color-green">just minutes from now for only <span class="color-orange font-22">{{ newPrice }}.</span></span></b> </p>
                    <p>And second, I’m going to pile on some <span class="color-orange">FREE</span> gifts that I’m sure you’re going to LOVE if you’re at all serious about finally getting in shape.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-260">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-02">
                    <h1 class="color-primary">Bonus #1 – Community</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img class="img-responsive" src="{{ asset("images/vsl/s-260-ntb.jpg") }}" alt="Notebook"/>
                <p class="text-01 color-orange">Your first gift is exclusive entrée into that community <span class="color-secondary">I mentioned of <strong>FLO&nbsp;FIT</strong> enthusiasts.</span></p>
                <p>You see, when you join Flo and me in <strong>FLO&nbsp;FIT</strong>, you won’t just have the two of us helping and cheering you on—you’ll have the support of thousands!</p>
                <p>Because our online <b>FLO Forum</b> is the ultimate support network!</p>
                <p>Many, like you, are just starting out with <strong>FLO&nbsp;FIT</strong>.</p>
                <p>Others have been where you are today but are now well on their way to achieving the bodies they’ve always wanted.</p>
                <p><b>ALL</b> of them are ready to help and support you every step of the way in your transformation, and give you any answers, advice or encouragement you need...</p>
                <p><b>And help you put together your Perfect Fitness Mix.</b></p>
                <p>It’s where <b>YOU</b> will share <b>YOUR</b> support for others, your goals, photos, knowledge and achievements.</p>
                <p>In fact, I’m constantly hearing about lifelong friendships groups and people arranging special fun trips together (Flo-cations), and so much more!</p>
                <p><span class="font-27 color-orange plus">Plus...</span> get started today and we’ll <b>ALSO</b> give you a <b>FREE</b> one-month membership in our <span class="color-secondary font-24">private Platinum Club.</span></p>
            </div>
        </div>
    </div>
</section>
<section class="section-270">
    <div class="container">
        <div class="row">
            <div class="abs-vertical-center">
                <p>This is like getting a “backstage pass” into Flo’s fitness world of exclusive celebrity fitness — your ticket to the quickest, most direct and most enjoyable journey to all your fitness goals.</p>
            </div>
            <div class="span-medium-11 offset-medium-13">
                <img class="img-responsive img-right" src="{{ asset("images/vsl/s-270-cover.png") }}" alt="Platinum Club"/>
            </div>
        </div>
    </div>
</section>
<section class="section-280">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">The Platinum Club is where you’ll find:</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <ul>
                    <li>Videos from me and Flo that will help <span class="color-green">inspire and motivate</span></li>
                    <li><span class="color-green">Super-exclusive</span> content and insider tips to help you get the best results possible</li>
                    <li>Special, brand-new bonus workouts from me and Flo that can be added to your <span class="color-green">FLO&nbsp;FIT training calendar</span> to further customize your mix
                    </li>
                    <li>Additional <span class="color-green">FLO&nbsp;FIT meals</span>, recipes and nutrition tips</li>
                    <li>Coaching calls where <span class="color-green">YOU’LL</span> have a chance to ask questions</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-290">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="text-01">
                    <p>Of course, I’m your trainer and will be there to help you individually, to join you on coaching calls, to answer your questions, to motivate you as you move toward your goals, and to share the joy of your successes.</p>
                    <p class="font-21"><b><span class="color-green">This is a 75 dollar value.</span> But it’s yours <span class="color-orange">FREE</span> if you act right now.</b></p>
                </div>
            </div>
        </div>
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-04">
                    <h1 class="color-primary">Bonus #2 – Full Body Extreme DVD</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-large-13">
                <img class="img-responsive" src="{{ asset("images/vsl/s-290-bonus2.jpg") }}"
                     alt="Bonus #2 Full Body Extreme DVD"/>
            </div>
            <div class="span-large-11">
                <p>I think you’re going to be especially excited about your <span class="color-orange">NEXT free gift.</span></p>
                <p>Especially if you’re the kind of person who likes to occasionally add going “all out” to their mix.</p>
                <p>It’s our <span class="color-orange">“Full Body Extreme”</span> workout DVD—30 minutes packed with brand new, hard-charging exercises that will get your blood going, your muscle toning, and your metabolism roaring,</p>
                <p>You’ll push your conditioning to the max as you work your way up and down the ladder in this intense body circuit.</p>
                <p>When you’re ready to blast past your limitations and supercharge your weight loss and muscle shaping, <b>THIS</b> is the video you want to be playing.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-300">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-02">
                    <h1 class="color-primary">Bonus #3 – Warmups and Stretches</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img src="" data-1200="{{ asset("images/vsl/s-300-bonus3.png") }}"
                            data-1024="{{ asset("images/vsl/s-300-bonus3.png") }}"
                            data-768="{{ asset("images/vsl/s-300-bonus3-tablet.jpg") }}"
                            data-320="{{ asset("images/vsl/s-300-bonus3-tablet.jpg") }}"
                            class="img-responsive margin-auto img-01 lazy"
                            alt="Bonus #3 – Warmups and Stretches"/>
                <div class="text-00">
                    <p>Your third <span class="color-orange">FREE</span> gift will enable you to get the absolute most out of your workouts and recoveries.</p>
                    <p>It consists of two videos: A 10-minute warm-up video and a 10-minute cool-down video.</p>
                    <p>These are ideal whether you’re a beginner and need a little extra time to warm up or cool down...</p>
                    <p>Or you’re more advanced and like to give a little extra attention to preparation or recovery.</p>
                    <p>It’s one more way we want to be sure you have everything you need to create the perfect <span class="color-orange">FLO&nbsp;FIT</span> fitness mix that’s exactly right for you.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="text-01">
                    <h2 class="color-primary">Still, I bet part of you is wondering:</h2>
                    <h3 class="color-orange">“Will FLO&nbsp;FIT REALLY work for me?”</h3>
                    <p>So let me take that concern away right now with a <b class="color-orange">DOUBLE guarantee.</b></p>
                    <p><strong>Here’s the first guarantee:</strong> Flo and my personal promise that after only 8 weeks, you’ll be able to achieve the results you’ve always wanted.</p>
                    <p class="color-green"><b>Or we send your money right back to you.</b></p>
                    <p>But I said <b>DOUBLE</b> guarantee.</p>
                    <p>So guarantee number two is this...</p>
                    <p>Regardless of your results, you must be absolutely thrilled with the FLO&nbsp;FIT program...</p>
                    <p>Or you can request your money back and we’ll send it right to you, no questions asked.</p>
                </div>
                <img class="img-responsive flo-rida" src="{{ asset("images/vsl/flo-rida-guarantee.jpg") }}"
                     alt="Flo Rida 100% Guarantee"/>
            </div>
        </div>
    </div>
</section>
<section class="section-310">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <p><b>For any reason. Or no reason at all.</b></p>
                <p>Even if your weight loss and muscle toning results surpassed your expectations—as has happened for so many others.</p>
                <p>Why such an outrageous <b>DOUBLE</b> guarantee?</p>
                <p>Because Flo and I don’t want you to feel one single iota of risk.</p>
                <p>We don’t want to keep your money if <strong>FLO&nbsp;FIT</strong> doesn’t work for you, or you’re unhappy in any way.</p>
                <p>And we don’t want anything at all to stand between you and a lifetime of <strong>FLO&nbsp;FITNESS</strong>.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-320">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">You’re about to take a step that will change your life <span class="color-orange">in more ways than you can even imagine.</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <h2>Think of what it will be like to step onto a path right now that will take you all the way to the <span class="color-green">selfie-ready body, the good health, the confidence, and the life you’ve always wanted.</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p><b>Imagine what it will be like as that unwanted fat begins to disappear...</b></p>
                <p class="color-orange">As muscles that once sagged begin to acquire shape and definition...</p>
                <div class="text-01">
                    <p>And as your body begins to transform itself from tired and out-of-shape to energized fitness and radiant health.</p>
                    <p>Think of what it will be like to know that every day you’ll be shedding that useless, stubborn fat...</p>
                    <p><b>That has clung to you for far too long.</b></p>
                    <p>Finally, imagine being in the kind of shape that makes you <b>GLAD</b> when someone whips out a smartphone or camera...</p>
                    <p>And you <b>HOPE</b> they’ll post it on Facebook or Instagram.</p>
                    <p><b>And last but not least, imagine the kind of confidence that will come as you create a stronger, healthier, better-looking body for yourself.</b></p>
                </div>
                <img src="" data-1200="{{ asset("images/vsl/flo-rida-selfie.png") }}"
                            data-1024="{{ asset("images/vsl/flo-rida-selfie.png") }}"
                            data-768="{{ asset("images/vsl/flo-rida-selfie.png") }}"
                            data-320="{{ asset("images/vsl/flo-rida-selfie-mobile.png") }}"
                            class="img-responsive lazy"
                            alt="Flo Rida selfie"/>
            </div>
        </div>
    </div>
</section>
<section class="section-330">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <img class="img-responsive hide-mobile" src="{{ asset("images/vsl/s-330-woman.png") }}" alt="Selfie"/>
                <div class="text-01">
                    <div class="text-001">
                        <p class="font-20"><b>Well, my new friend, that time starts right now, and it’s only a click away.</b></p>
                        <p>A single click that takes you on a path <b>AWAY</b> from broken vows to yourself... <b>AWAY</b> from fitness fads that never live up to their promises... <b>AWAY</b> from feeling embarrassed about your body...</p>
                        <p>And <b>TOWARD</b> a new life of fitness, health and feeling <b>GREAT</b> about yourself.</p>
                        <p class="font-19 color-orange"><b>So what will it be?</b></p>
                    </div>
                    <p><b>Will you continue along the path that has gotten you nowhere—that has only served to get you further and further out of shape?</b></p>
                    <p>Will you continue to search among the millions of exercise videos on YouTube and all the contradictory nutrition information on the internet hoping to piece together something that works on your own?</p>
                    <p>Or will you join Flo and all those who have discovered a <b>BETTER</b> way to finally get the body, the health, and the fitness they’ve always wanted?</p>
                    <p class="color-green font-21"><b>Let’s create your Perfect Fitness Mix together, shall we.</b></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-340">
    <div class="container">
        <div class="row">
            <div class="span-medium-24 text-center">
                <h1 class="color-orange">Starting Right Now...</h1>
                <img class="img-responsive margin-auto" src="{{ asset("images/vsl/cover-big.png") }}" alt="FLO FIT"/>
                <h3>Only <span>{{ oldPrice }}</span></h3>
                <h2 class="color-green">{{ newPrice }}</h2>
                <a class="button button-add" href="{{ link }}">Get Immediate<span class="display-block">Access RIGHT NOW</span></a>
            </div>
        </div>
    </div>
</section>
<section class="section-350">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">Testimonials:</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="max-width">
                    <div class="quote">
                        <h3 class="color-orange">Down 15 Pounds</h3>
                        <p>“When I started FLO&nbsp;FIT I had very little muscle definition and had excess fat on my waistline, chest and arms.</p>
                        <p>“After 8 weeks I was down 15 pounds and had more upper body definition than ever.</p>
                        <p>“I truly believe in this program.”</p>

                        <p class="sm">— Steve Layne, Philadelphia, PA, 27 years old</p>
                    </div>
                    <div class="quote">
                        <h3 class="color-orange">Loves being able to shop for “regular” sized clothing</h3>
                        <p>“My goal was to get into better shape and lose weight.</p>
                        <p>“Today I feel like I’m in the best shape of my life. I’ve definitely exceeded my initial goals. I now enjoy working out and feel good about myself because I can do things like run and do pull-ups, which I couldn’t do before.</p>
                        <p>“It’s a great confidence boost to be able to shop where they sell “regular” sized clothing.”</p>

                        <p class="sm">— John, lives in California</p>
                    </div>
                    <div class="quote">
                        <h3 class="color-orange">Exceeded all expectations</h3>
                        <p>“When I started training with Mike, my goal was to lose weight and to gain stamina, endurance and muscle.</p>
                        <p>“I exceeded all my expectations.</p>
                        <p>“Mike is different because to him, getting you in the best shape of your life is PERSONAL.”</p>

                        <p class="sm">— Rudy Svorinich, Jr., Los Angeles, CA</p>
                    </div>
                    <div class="quote">
                        <h3 class="color-orange">Looking great and loving self more</h3>
                        <p>“My goal was to look great. And I’ve done just thatwith Mike.</p>
                        <p>“My confidence level went up. I started to love myself more.</p>
                        <p>“Now I feel confident to help and support those who seek help on health and fitness.”</p>

                        <p class="sm">— Sung Lee, lives in California</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <hr/>
        <div class="row">
            <div class="span-large-20 offset-large-2">
                <p class="font-11 text-center padding-vertical-25 lighter">ClickBank is the retailer of this product. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 917 S. Lusk Street, Suite 200, Boise Idaho, 83706, USA and used by permission. ClickBank's role as retailer does not constitute an endorsement, approval or review of this product or any claim, statement or opinion used in promotion of this product.</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span-medium-24">
                <ul>
                    <li><a href="http://my.flofit.com/terms-of-use" target="_blank">Terms of use</a></li>
                    <li><a href="http://my.flofit.com/privacy-policy" target="_blank">Privacy policy</a></li>
                    <li><a href="http://my.flofit.com/help-and-faq" target="_blank">Help and FAQ</a></li>
                    <li><a href="{{ link }}" target="_blank">Get Started</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p>Copyright 2016 Flofit.com. All rights reserved</p>
            </div>
        </div>
        <div class="row">
            <div class="span-large-20 offset-large-2">
                <p class="font-11 text-center padding-vertical-25 lighter">Burn It Now Productions, Inc. FLO&nbsp;FIT and FLO&nbsp;RIDA trademarks, name, image, and likeness are owned by FLO&nbsp;RIDA and FLO&nbsp;FIT Holdings LLC, and are being used under license by Flo Life LLC. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ asset("js/lazy.min.js") }}"></script>
<script src="{{ asset("js/vsl.js") }}"></script>

<!-- Google Analytics code START -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68358953-1', 'auto');
    ga('require', 'displayfeatures');  // demographic features
    ga('send', 'pageview');
</script>
<!-- Google Analytics code END -->

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '186485591719503');
    fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=186485591719503&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
    var google_tag_params = {
        dynx_itemid: 'REPLACE_WITH_VALUE',
        dynx_itemid2: 'REPLACE_WITH_VALUE',
        dynx_pagetype: 'REPLACE_WITH_VALUE',
        dynx_totalvalue: 'REPLACE_WITH_VALUE',
    };
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 928791961;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/928791961/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

</body>
</html> 