<!DOCTYPE HTML>
<html>
<head>
    <meta name="keywords" content="">
    <meta name="title" content="Flo Fit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <!-- facebook tags -->
    <meta property="og:image" content="https://www.flofit.com/%7EASSETS/IMG/1200/s41.jpg"/>
    <meta property="og:title" content="Flo Fit &mdash; FLO FIT"/>
    <meta property="og:url" content="https://www.flofit.com/"/>
    <meta property="og:site_name" content="FLO FIT"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="401519239998227"/>
    <meta property="fb:business_id" content="401519239998227"/>

    <title>Flo Fit &mdash; FLO FIT </title>

    <link href='//fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet'>
    {% stylesheets '@FloFitBundle/Resources/public/less/vsl-2-all.less' filter="less" output="css/vsl-2-all.css"  %}
    {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset("css/vsl-2-all-v2.min.css") }}"/>#}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("css/vsl-2-all.css") }}"/>
    {% endstylesheets %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("favicon.ico", "app") }}">

</head>
<body>

<section class="section-10">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-tertiary">Do you feel like you’ve heard it all?</h1>
                    <h2 class="color-secondary">How Celebrities Get So Fit So Fast</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <p class="text-001">And how you can do it too without busting your butt <span class="color-tertiary">in the gym, starving yourself,</span> or wasting <span class="color-secondary">your time and money </span>on the latest diet, hot new exercise fad, or magic pill or potion</p>
                    <img src="{{ asset("images/vsl/2/s-10-01-half.jpg") }}"
                         class="img-responsive first"
                         alt="Fat people"/>
                    <p><b>Dear Friend,</b></p>
                    <p>How frustrated are you when it comes to getting in shape?</p>
                    <p>Do you feel like you’ve heard it all?</p>
                    <p>That you’ve <span class="color-tertiary">TRIED</span> it all?</p>
                    <p>Like the crazy, impossible-to-follow diets?</p>
                    <p>All the exhausting new exercise fads?</p>
                    <p>And yet…</p>
                    <p>The scale doesn’t budge…</p>
                    <p class="color-tertiary">Your reflection in the mirror doesn’t change…</p>
                    <div class="display-inline-block">
                        <img src="{{ asset("images/vsl/2/s-10-02-half.jpg") }}"
                             class="img-responsive second"
                             alt="Girl and notebook"/>
                        <p class="text-02">And you hate the way you look in all those pictures EVERYONE seems to be taking these days and posting online for the whole world to see!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-20">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-secondary">Celebrity Fitness Secrets…Revealed</h1>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <p>Instead of being frustrated, let’s get SMART about getting in shape</p>
                    <p>Let’s take a look at who DOES succeed at getting fit fast…</p>
                    <p>Often <b>INSANELY</b> fast.</p>
                    <p>You see them online, on TV, on the big screen, and on the covers of your favorite magazines.</p>
                    <p class="color-tertiary">You guessed it: I’m talking about <b>CELEBRITIES!</b></p>
                    <p>One day we’re gloating at how a paparazzi beach photo reveals how fat they’ve gotten…</p>
                    <p>And a few weeks later they’re on the cover of People or Shape flaunting their new lean, toned and super-sexy bod!</p>
                    <p>How <b>DID</b> <span class="color-green">Khloe Kardashian</span> turn into a knock-out – seemingly overnight?</p>
                    <p>How <b>DID</b> country music superstar <span class="color-green">Miranda Lambert</span> seemingly go from heavy to hottie in the blink of an eye?</p>
                    <p class="color-primary">And what’s that with Chris Pratt?</p>
                    <p>How did he morph from chubby to chiseled, fast enough to play a ripped Navy <b>SEAL</b> in Zero Dark Thirty?</p>
                    <p>Give me a few minutes and in this short presentation you’ll discover the secret behind <b>EXACTLY</b> how celebrities pull off amazing transformations like these...</p>
                    <p>And how <b>YOU</b> can, too.</p>
                    <p class="color-tertiary">Look, I’m not talking about crazy or harmful short-term “fixes.”</p>
                    <p>You can be sure they didn’t lose that weight and build all that muscle thanks to some late-night-TV abs machine or by eliminating gluten from their diet on alternate Thursdays.</p>
                    <p>No, I’m taking about what the <b>SMART</b> celebs do to “magically” and safely get in shape for upcoming movie roles, performances and red carpet awards shows…</p>
                    <p>And what they do to <b>STAY</b> in that kind of shape.</p>
                    <p>How do I know all their secrets?</p>
                    <p>That’s easy: It’s because I’M one of those secrets!</p>
                    <div class="display-inline-block">
                        <div class="left">
                            <img class="img-responsive lazy-only"
                                 data-original="{{ asset("images/vsl/2/s-20-01-half.jpg") }}" src=""
                                 alt="Fashion catwalk"/>
                        </div>
                        <div class="right">
                            <p><b>The simple fact is:</b> <span class="color-tertiary font-19 bold">YOU DON'T GET RED CARPET READY - FAST -</span> without inside knowledge of how that kind of magic really takes place.</p>
                            <p class="color-secondary bold">Because It DOESN’T just happen.</p>
                            <p>It takes someone like me who shows up inside their homes….</p>
                            <p>Who inspires, motivates, and pushes them through their self-imposed barriers…</p>
                            <p>Who gives them the <b>KNOWLEDGE</b> of what really <b>WORKS</b> when it comes to working out and eating right…</p>
                            <p>And <b>LOVING</b> it instead of hating it.</p>
                            <p>Celebrities have easy access to those kinds of “trade secrets.”</p>
                            <p>And you usually don’t.</p>
                            <p>Until now.</p>
                            <p>Because I have <b>PERMISSION</b> to show you the exact step-by-step method I use to get my own famous clients into the <b>BEST</b> shape of their lives…</p>
                            <p class="color-secondary bold">NO MATTER THE DEADLINE.</p>
                            <p>And the best part about it is:  I’m coming right into YOUR home to reveal how YOU can do it, too – WITHOUT any pills, potions, or the latest magic herbs or berries.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-70">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="header text-center">
                    <h1 class="color-primary">Hollywood’s Best Kept Celebrity Transformation Secret</h1>
                    <h2 class="color-tertiary"><span class="color-secondary">Hi, I’m</span> Mike Saffaie.</h2>
                    <p class="color-primary">All you need to know about me is this:
                        <span class="color-tertiary display-block">I’ve done it.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <img data-original="{{ asset("images/vsl/s-70-mike-fotos.png") }}" src=""
                                class="img-responsive mike-photos lazy-big lazy-1220 display-none"
                                alt="Mike with photos"/>
                    <img data-original="{{ asset("images/vsl/s-70-mike-fotos-tablet.png") }}" src=""
                                class="img-responsive mike-photos lazy-1024 lazy-768 lazy-480 display-none"
                                alt="Mike with photos"/>
                    <p>I built myself up to be good enough to achieve IFBB Pro status…</p>
                    <p>One of the most prestigious fitness designations in the world…</p>
                    <p><b>The same one that made Arnold Schwarzenegger famous.</b></p>
                    <p>And I followed that distinction by winning Mr. California Physique.</p>
                    <p>To compete successfully against some of the best bodies in the <b>WORLD</b>, I had to study with some of the top <b>TRAINERS</b> on the planet.</p>
                    <p>I learned what really works to bring out the body’s natural beauty by cutting away fat and sculpting abs, arms, chest and legs to perfection.</p>
                    <p>What <b>REALLY</b> makes me angry is that I know, from working behind the scenes, that these celebrity transformations have <b>NOTHING AT ALL</b> to do with those workout and diet fads the media loves to latch onto.</p>
                    <p>And that’s one more reason why I’m so committed to using what I’ve learned <b>REALLY WORKS</b> to help others get precisely the bodies they’ve always wanted…</p>
                    <p>As quickly, easily, and painlessly as possible.</p>
                    <p class="text-001">How an International Music Superstar Discovered the Key to Insanely Fast Body Transformation and Got into the Best Shape of His Life</p>
                    <p class="text-002"><span class="color-secondary">The secret is something I call</span> <span class="color-tertiary bold">Rapid Body Redefinition…</span></p>
                    <p>It’s based on what new scientific findings (and my own years of experience) say is the most effective way to lose weight and tone muscle quickly…</p>
                    <p>And <b>SPECIFICALLY</b> where you need or want it most.</p>
                    <p>Today, as a top trainer, I get constant requests from clients desperate to get in shape for an upcoming role, event, photo shoot, sports competition…</p>
                    <p>Or in the case of my friend international music superstar Flo&nbsp;Rida, to get back into super-ripped paparazzi-ready shape.</p>
                    <p><b>Even if you haven’t heard of Flo, you’ve probably heard his mega-hits playing somewhere, like “Sometimes I Get a Good Feeling” or his duet with Sia, “Wild Ones.”</b></p>
                    <p>Maybe you’ve seen him on <i>The Today Show – or The Tonight Show with Jimmy Fallon.</i></p>
                    <p>He’s sold over a hundred million singles and has a boatload of Grammy nominations.</p>
                    <p class="color-tertiary">I’ll never forget when he first came to see me.</p>
                    <p>Flo had spent a lot of time in the studio and staying up late to party afterward.</p>

                    <p class="text-003">Living that rock star lifestyle had taken a toll on his once flawless physique.</p>
                    <p>He was even beginning to wonder if he had the <b>STAMINA</b> to perform for hours in front of a live audience that expected him to rip off his shirt and “bring down the house” night after night.</p>
                    <div class="display-inline-block">
                        <div class="left-middle">
                            <div class="middle">
                                <p class="text-004 color-secondary">Flo&nbsp;Rida Comes to Me <span class="color-tertiary display-block">for “Results on a Deadline”</span></p>
                                <p class="text-005">Flo came to me because he had heard about the amazing fitness turnarounds I was helping my clients achieve thanks to my <b>Rapid Body Redefinition program.</b></p>
                                <p>He felt it was <b>JUST</b> what he needed to get in shape for his upcoming tour.</p>
                                <p>But before we could get started, <b>FLO</b> had some demands I needed to meet.</p>
                                <p>First, he has a demanding schedule of personal appearances, recording sessions, and concerts.</p>
                                <p class="color-tertiary">So he doesn’t have a lot of time for working out.</p>
                                <p>Which meant that the workout program I designed for him had to be incredibly time-efficient.</p>
                                <p>Fortunately, I specialize in getting the best results in the shortest time possible.</p>
                                <p>Second, when he does work out, he demands that it be fun and motivating.
                                    <br/>That’s just the kind of guy Flo is and the way he is about everything in his life.
                                </p>
                                <p>No problem there, either.</p>
                                <p class="color-tertiary">That’s the way I am, too.</p>
                                <p><b>AND</b> it’s the way I design all my workouts.</p>
                            </div>
                        </div>
                        <div class="right-middle">
                            <img class="img-responsive flo-mike lazy-only"
                                 data-original="{{ asset("images/vsl/2/s-70-02-half.jpg") }}" src=""
                                 alt="Flo Rida and Mike"/>
                        </div>
                    </div>
                    <div class="max-width">
                        <p>Last but not least, Flo loves to eat, and he wasn’t about to put up with any “diet” that left him feeling hungry or deprived him of the foods he loves.</p>
                        <p class="color-tertiary">Again, no problem.</p>
                        <p>I gave Flo just a few strategic changes to his regular diet that enabled him to keep eating the foods he loves…</p>
                        <p>Yet still lose the fat he needed to lose.</p>
                        <p>Well, a few weeks later, Flo totally rocked that tour.</p>
                        <p>His fans really raised the roof when he jumped around the stage shirtless.</p>
                        <p>And raved about how incredibly “ripped” he looked.</p>
                        <p>And his energy level was so high he could have powered the entire building off the electricity of his performance.</p>
                    </div>
                </div>
                <img class="img-responsive flo-rida lazy-only"
                     data-original="{{ asset("images/vsl/2/s-70-03-half.jpg") }}" src=""
                     alt="Flo Rida"/>
            </div>
        </div>
    </div>
</section>
<section class="section-30 background-primary">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-02">
                    <h1 class="color-white">My <span class="color-primary">Red-Carpet-Ready Secrets</span> for Supercharging Your Fat Loss, Toning Your Muscle and Looking and Feeling Fantastic</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-white">
                    <img class="img-responsive lazy-only"
                         data-original="{{ asset("images/vsl/s-30-point-to-star.png") }}" src=""
                         alt="Map point to star"/>
                    <p>Look, whether you star in movies or are simply the star in your own life….</p>
                    <p>You need three and only three things to lose the weight, tone the muscle, and get in the shape you desire in the shortest amount of time…</p>
                    <p>Whether that’s lean, trim, and strong or completely chiseled from head to toe.</p>
                    <p class="text-01 color-secondary">The Right Workout: Short and Super-Effective <span class="display-block color-tertiary">First is the right workout.</span></p>
                    <p>You want one that’s fun and motivating, that pushes you as far as you need to go…</p>
                    <p class="text-02">AND gives you <span class="color-tertiary">MAXIMUM fat burning</span> <span class="color-secondary">in MINIMAL time.</span></p>
                    <p>At the same time, your workout should ALSO zero in on and reshape those areas of your body that need the most help – those problem spots that, when finally fixed, will send your confidence soaring.</p>
                    <p>In a minute, I’ll show you how to do this as efficiently as possible using <span class="color-tertiary">Rapid Body Redefinition</span> to sculpt and reshape your body, just like a sculptor chisels a beautiful body out of a block of marble…</p>
                    <p>Utilizing the type of workouts PROVEN in study after study to keep your metabolism burning calories for DAYS after your workout…</p>
                    <p>Even while you’re sleeping or watching TV.</p>
                    <p>But first…</p>
                    <p>And this is number 2…</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-90 overflow-hidden">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-03">
                    <h1 class="color-white">The Right Way to Eat: Delicious and Fat Burning</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span-medium-24 text-center color-primary">
                <p>You also need to know the right way to eat.</p>
                <p class="max-width-01">Not the right way to “diet,” of course, because nobody just wants a list of foods they can’t eat!
                Instead, I will show you how to eat <b>STRATEGICALLY</b> – to get those lightning-fast results <b>WITHOUT</b> giving up taste or enjoyment.</p>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img data-original="{{ asset("images/vsl/2/s-90-flo-half.jpg") }}" src=""
                     alt="Flo Rida jump"
                     class="img-responsive lazy-only"/>
                <div class="max-width-02 color-primary">
                    <p class="color-tertiary"><b>And without constantly feeling hungry and deprived.</b></p>
                    <p>More about this later, but you’ll be happy to know that one of the biggest secrets is <b>NOT</b> giving up many of the foods you love!</p>
                    <p>And <b>NOT</b> give up things like carbs, which your body needs.</p>
                    <p class="color-secondary text-01">The Right Source of Inspiration, Motivation and Education</p>
                    <p><b>Last but not least, you need the right trainer.</b></p>
                    <p>Someone with insider knowledge of what really works in exercise and nutrition – and how to combine the two.</p>
                    <p>Someone who is in great shape themselves. Someone who can push you just enough and keep you motivated.</p>
                    <p>Celebrities, of course, can afford to pay literally hundreds of dollars an hour for the best trainers to come to their homes...</p>
                    <p>Making the <b>REAL</b> techniques for fast, effective weight loss and muscle toning simply unavailable to most people…</p>
                    <p class="color-secondary"><b>No matter how badly they want or need to get in shape.</b></p>
                    <p>At least that’s been the case up until now.</p>
                    <p>But a conversation I had with Flo when he got back from that hugely successful tour changed all that.</p>
                    <p>And, if you would like to get <b>YOURSELF</b> a Hollywood body – as fast as possible…</p>
                    <p>I can literally change your life.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-40">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-primary">Flo Demands the <span class="color-secondary bold">Secret Be Shared</span></h1>
            </div>
        </div>
        <div class="row">
            <img data-original="{{ asset("images/vsl/2/s-40-header-full-images-half.png") }}" src=""
                 class="img-responsive header-img lazy-big lazy-1220 lazy-1024 lazy-768 display-none"
                 alt="FLO RIDA - concert"/>
            <img data-original="{{ asset("images/vsl/2/s-40-header-full-images-mobile.png") }}" src=""
                 class="img-responsive header-img lazy-480 display-none"
                 alt="FLO RIDA - concert"/>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <p class="text-001">When Flo got back, he told me what a success the tour had been… He was being bombarded with questions on <b>Facebook</b> and <b>Twitter</b> about how he got in such great shape.</p>
                    <p>Flo said he didn’t know what to tell people other than <span class="color-tertiary">“go train with Mike.”</span></p>
                    <p>He confessed that he’s <b>NEVER</b> known anyone who can do what I can do for a person’s body.</p>
                    <p>But then he got this look in his eye, like when he’s found a hook for a new song, and he says…</p>
                    <p>“Mike, I’ve got an idea of how we can bring <b>YOU</b> to them – by coming right into their homes like you came into mine.</p>
                    <p>“We’ll start by getting my production company to come and film you training me and some of my friends and fans…”</p>
                    <p>So that’s what we did.</p>
                    <img data-original="{{ asset("images/vsl/2/s-40-flo-mike-half.png") }}" src=""
                         class="img-responsive flo-mike lazy-only"
                         alt="Mike and Flo Rida with gear"/>
                    <p class="text-01">And that’s how <span class="color-green"><strong>FLO&nbsp;FIT was born.</strong></span></p>
                    <p>We simply took the best exercise science and the best of what has worked for celebrities like Flo and thousands of my other clients…</p>
                    <p>That got them in the most amazing shape of their lives…</p>
                    <p>In the shortest amount of time possible…</p>
                    <p>And we’re making it available – for the first time – for you</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-50">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-secondary"><span class="color-tertiary">Not Just for</span> Celebrities Anymore!</h1>
                    <p class="color-white">Now, thanks to Flo&nbsp;Rida, YOU can take advantage of these techniques with a program that’s absolutely state of the art in terms of what we know about exercise science.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p class="text-center color-primary font-23 text-001">I’ve tested it out on my clients.</p>
                <p>We did a limited-release of the do-it-at-home program.</p>
                <p>In both cases, people have gotten phenomenal results.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-100">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="boxes">
                    <div class="box">
                        <span class="top">Check out Oliver, he lost 20lbs in just 8 weeks of FLO&nbsp;FIT:</span>
                        <img data-original="{{ asset("images/vsl/2/uliver-circle-half.png") }}" src=""
                             class="img-responsive lazy-only"
                             alt="Oliver Lost 20 Pounds in 8 Weeks"/>
                        <h1>Oliver Lost 20 Pounds in 8 Weeks</h1>
                        <p>“You won’t believe how easy FLO&nbsp;FIT is to follow and how enjoyable the workouts are. I got results immediately and lost 20 pounds during the 8 week program. The workouts are all 30 minutes or less, so I was always able to make time. Mike Saffaie will keep you motivated! He’s an amazing trainer.”</p>
                        <span class="bottom"><b>OLIVER</b> • 41 years old Ladner, British Columbia, Canada</span>
                        <span class="bottom"><b>RESULTS*</b> • Lost 20 lbs. (192 to 172 lbs.)</span>
                    </div>
                    <div class="box">
                        <span class="top">Steve Lost 15 Pounds in 8 Weeks</span>
                        <img data-original="{{ asset("images/vsl/2/steve-circle-half.png") }}" src=""
                             class="img-responsive lazy-only"
                             alt="Steve Lost 15 Pounds in 8 Weeks"/>
                        <h1>Steve Lost 15 Pounds in 8 Weeks</h1>
                        <p>“When I started the FLO&nbsp;FIT training program I was 185 lbs. I am 5’9, had very little muscle definition, and had excess fat on my waistline, chest and arms. After 8 weeks I was down to 170 lbs. and had more upper body definition than ever. I truly believe in this program, it’s one of the best purchases I’ve ever made!”</p>
                        <span class="bottom"><b>STEVE</b> • 27 years old Philadelphia, PA</span>
                        <span class="bottom"><b>RESULTS*</b> • Lost 15 lbs. (185 to 170 lbs.)</span>
                    </div>
                </div>
                <img data-original="{{ asset("images/vsl/2/s-100-mike-half.png") }}" src=""
                     class="img-responsive mike lazy-only"
                     alt="Mike FLO FIT"/>
            </div>
        </div>
    </div>
</section>
<section class="section-60">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="color-primary">
                    <p>Now we’re ready to release <b class="display-inline-block">FLO&nbsp;FIT</b> to the world, and you’re invited to be a part of it.</p>
                    <p class="color-green">To try it out risk-free and let us know what YOU think.</p>
                    <p>But first, let’s take a closer look at exactly how Rapid Body Redefinition works…</p>
                    <p>And how <b>YOU</b> can use it to get in red-carpet-ready shape quickly and easily.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-110">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-secondary">FLO&nbsp;FIT Science Means You No Longer Need Hours at the Gym</h1>
                <img data-original="{{ asset("images/vsl/2/s-110-woman-half.png") }}" src=""
                     class="img-responsive lazy-only"
                     alt="Natalie La Rose" />
                <div class="text-10">
                    <p>The foundation of <b class="display-inline-block">FLO&nbsp;FIT’s</b> 8 Week Rapid Body Redefinition is a series of full-body workouts that shape and strengthen your entire body.</p>
                    <p>Although they take just 30 minutes, they optimize and maximize your workout time by getting your metabolism roaring at full throttle.</p>
                    <p>In fact, these workouts are the precise kind of High Intensity Resistance Training PROVEN in study after study to ignite your fat-burning metabolism and keep it fired up for DAYS afterward.</p>
                    <p class="color-tertiary bold">The key is… exercise that consumes more oxygen burns more calories.</p>
                    <p>That’s why <b>INTENSITY</b> is so very important – not how long you do it for.</p>
                    <p>So by combining resistance training with short rest intervals, intensity is <b>MAXIMIZED</b>.</p>
                    <p>And you don’t need to spend hours working out.</p>
                    <p>Just give me <span class="color-tertiary bold">30 minutes a day</span> and I guarantee your rapid body redefinition <b>WILL</b> happen.</p>
                    <p>Because my program is the best way to burn more calories and torch more fat, you’ll build more long, lean muscle and get a better cardio workout.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-120">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-secondary">Just look…</h1>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img src="" data-original="{{ asset("images/vsl/s-120-graph.jpg") }}"
                     class="img-responsive lazy-big lazy-1220 lazy-1024 lazy-768 display-none"
                     alt="FLO FIT training graph"/>
                <img src="" data-original="{{ asset("images/vsl/s-120-graph-mobile.jpg") }}"
                     class="img-responsive lazy-480 display-none"
                     alt="FLO FIT training graph"/>
                <div class="text">
                    <p class="color-green">In my program, I lead you step by step through your choice of amazing full-body workouts…</p>
                    <p>You’ll work out right alongside Flo&nbsp;Rida and his label’s talented and lovely new artist Natalie LaRose, who had a recent top 10 hit with “Somebody.”</p>
                    <p>They’ll be doing each and every exercise right along with you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-130">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1>Move Up to the Highest Levels of Fitness
                    <span class="color-tertiary bold display-block">With My Ladder Principle</span>
                </h1>
                <img data-original="{{ asset("images/vsl/2/s-130-01-half.jpg") }}" src=""
                     alt="Flo Rida and Rachele Brooke Smith"
                     class="img-responsive margin-auto lazy-only"/>
            </div>
        </div>
    </div>
</section>
<section class="section-180">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="color-white">
                    <p class="color-tertiary">Next I want to tell you about my unique training concept: The Ladder Principle.
                        <span class="color-secondary display-block">Our full-body workouts go rung by rung up and down your entire body…</span>
                    </p>
                    <p>Alternating opposing muscle groups to give you the most complete and effective full body workout possible…</p>
                    <p>And maximizing the all-important “after-burn effect”-- around-the-clock, even-while-you-sleep fat burning for up to <b class="display-inline-block">72 HOURS</b> after your workout.</p>
                    <p class="color-tertiary">How is this possible?</p>
                    <p>Working your <b>ENTIRE</b> body up and down in this way with the <b>LADDER PRINCIPLE</b> gives you a combination of intense, body-shaping moves along with a heart-pumping cardio workout…</p>
                    <p class="color-secondary">That dramatically raise your workout intensity…</p>
                    <p>In a way that exhausting, time-consuming  cardio workouts can’t. .</p>
                    <p>And remember, as I just showed you, <b>INTENSITY</b> (not duration) is the secret when it comes to workout efficiency.</p>
                    <p>To effortlessly boost that intensity even further, every exercise is fluidly connected to the next with specially choreographed, low-intensity transitions I’ve designed to take full advantage of “transition time”…</p>
                    <p>By keeping your body at peak fat-burning level during the <b>ENTIRE</b> workout…</p>
                    <p>And for as long as possible afterward</p>
                    <p>Like when you’re rolling over onto your back, standing up and getting into position for the next movement…</p>
                    <p>Without you even realizing it, you’ll effortlessly add even more fuel to your metabolic fire and keep it burning longer and hotter.</p>
                    <p><span class="color-green font-17">I have to tell you:</span> <span class="color-tertiary font-17">My Ladder Principle</span> is one of the secrets behind <b class="display-inline-block">FLO FIT’s</b> big success and what makes it completely unlike anything else available today.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-150">
    <div class="container">
        <div class="row header">
            <div class="span-medium-24">
                <h1 class="color-secondary">Turn Your Problem Areas
                    <span class="color-tertiary display-block">Into Your Proudest Features</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img src="" data-original="{{ asset("images/vsl/s-150-woman.jpg") }}"
                     class="img-responsive img-woman lazy-big lazy-1220 lazy-1024 display-none"
                     alt="Rachele Brooke Smith and her body"/>
                <img src="" data-original="{{ asset("images/vsl/s-150-woman-mobile.jpg") }}"
                     class="img-responsive img-woman lazy-768 lazy-480 display-none"
                     alt="Rachele Brooke Smith and her body"/>
                <div class="color-primary font-19 text-01">
                    <p>Fat-burning, muscle-building full-body workouts are only one of the ways Rapid Body Redefinition gives you EXACTLY the body you want.</p>
                    <p>Because if you’re like many of my clients, I’ll bet you’ve got specific areas you would like to focus on.</p>
                    <p class="color-secondary">You know what I mean…</p>
                    <p>Those places that jump out at you when you see that photo of yourself at the beach that makes you cringe.</p>
                    <p>That’s why my <b class="display-inline-block">FLO FIT</b> program includes special <span class="color-tertiary">10 minute “High Def Express”</span> workouts that target the exact areas of your body you want to change.</p>
                    <p>To enable you to create those sexy, well-defined muscles precisely where you want them…</p>
                </div>
            </div>
        </div>
        <div class="row relative">
            <div class="span-medium-14 static">
                <div class="text-02">
                    <p>And truly take your fitness, confidence, and the impression that you make to the next level.</p>
                    <p><span class="color-tertiary">For women</span>, that means flat, beautiful abs, long, lean legs, perfectly shaped arms, a more lifted butt, and shoulders made for strapless tops and dresses.</p>
                    <p><span class="color-secondary">And guys:</span> Get ready for sleeve busting arms, an action hero chest, an end to scrawny “chicken legs,” and those magical 6-pack abs that women fantasize about.</p>
                    <p class="text-03">Now THAT’S how you quickly remake your body – <span class="color-secondary">with</span> <span class="color-tertiary">Rapid Body Redefinition!</span></p>
                </div>
            </div>
            <div class="span-medium-10">
                <img src="" data-original="{{ asset("images/vsl/s-150-man.jpg") }}"
                     class="img-responsive img-mike lazy-big lazy-1220 lazy-1024 display-none"
                     alt="Mike"/>
                <img src="" data-original="{{ asset("images/vsl/s-150-man-mobile.jpg") }}"
                     class="img-responsive img-mike lazy-768 lazy-480 display-none"
                     alt="Mike"/>
            </div>
        </div>
    </div>
</section>
<section class="section-170">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-03">
                    <h1 class="color-white">How to Eat What You Love and STILL
                        <span class="color-primary display-block">Love How You Look and Feel Afterwards</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-12">
                <p class="color-tertiary font-18">Let’s talk about one of my favorite subjects: FOOD!</p>
                <p class="font-18">I’d love to be able to tell you – as many so-called “experts” do – that you can get rid of belly fat simply by doing ab exercises while you eat as much as you want of whatever you want whenever you want it.</p>
                <p class="color-tertiary">But I’d be lying.</p>
                <p>Fortunately, you don’t have to starve yourself – or deprive yourself of the foods you love.</p>
                <p>You can enjoy what you eat, feel full and satisfied, and get in the shape you want – again, all thanks to <span class="color-green">Rapid Body Redefinition.</span></p>
                <p>The <b class="display-inline-block">FLO FIT</b> program will tell you everything you need to know about nutrition to lose unwanted body fat as quickly and easily as possible.</p>
                <p>I break down the entire process into easy-to-follow steps, then walk you through the precise formula for optimum, fat-burning, muscle enhancing nutrition…</p>
            </div>
            <div class="span-medium-12 display-none display-block-medium">
                <img class="img-responsive margin-auto lazy-only"
                     data-original="{{ asset("images/vsl/2/s-170-01-half.jpg") }}" src=""
                     alt="Mike Saffaie and Rachele Brooke Smith"/>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <img class="img-responsive margin-auto lazy-only fruit"
                     data-original="{{ asset("images/vsl/2/s-170-02-half.jpg") }}" src=""
                     alt="FLO FIT Food"/>
                <div class="right">
                    <p>And provide you with your own <span class="color-tertiary">Personal Nutrition Worksheet</span> to determine the optimal nutrition program for YOUR unique body…</p>
                    <p>The exact meals and snacks…</p>
                    <p>That will work in perfect sync with your <b class="display-inline-block">FLO FIT</b> workouts…</p>
                    <p class="color-green">To best shed that unwanted weight and shape your body just the way you want it.</p>
                    <p class="bold">Just like celebrities, you get a personalized meal plan done just for you..</p>
                    <p>Just follow my step-by-step <b>Personal Nutrition Worksheet</b> and you’ll know precisely what to eat, how much and when.</p>
                    <p>It even tells you exactly how many calories to eat to achieve your goals, and when it’s perfectly ok to “cheat.”</p>
                    <p class="color-tertiary">In fact “cheating” is encouraged!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-280">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">Everything You Need to Get in
                        <span class="color-tertiary display-block">the Best Shape of Your Life</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="color-white">
                    <p class="text-01">To put it simply: <span class="color-green display-inline-block">FLO FIT</span> has everything you need to get in the best shape of your life.
                    Here’s just some of what you’ll get when you take me up on my offer to start a risk-free trial of the amazing FLO&nbsp;FIT program:</p>
                    <p><span class="color-green">You get your own Personal Trainer</span> – Imagine what it will be like having me spell everything out for you, from each exercise rep to your daily snacks, just like you’re one of my celebrity clients.</p>
                    <p>No more frustration of trying to get in shape and eating properly. Just follow FLO&nbsp;FIT, it’s paint-by-the-numbers easy, and before you know it – a picture perfect you.</p>
                    <p><span class="color-green">Next, you’ll finally be doing the right thing</span> - No more worrying about whether you’re doing the RIGHT exercises or eating right. Because that’s what I’M here for: To show you exactly what will work to get you the results you want, coaching and motivating you every step of the way.</p>
                    <p>Maybe you’re worried about finding the time to work out? Well, guess what? If Flo can do it with his crazy schedule, YOU can do it too. No other form of exercise enables you to get better results in less time. All it takes is <span class="color-green">30 minutes or less</span> — right at home. Or anywhere you choose.</p>
                    <p><span class="color-green">You’ll learn my “If You Hate it? Reshape it” Technique</span> – You’ll love my ultra-quick 10 minute High Def Workouts which zero in on the body parts that we all fixate on, like fat abs and flabby arms. Those enviable features fitness magazines harp on and celebrities flaunt in photos can soon be yours.</p>
                    <p>Sick of staring at useless photos of celebrity workouts in magazines or searching through endless one-minute exercise videos on YouTube? FLO&nbsp;FIT provides you with the <span class="color-green">Perfect Mix</span> of Hollywood-quality, full-length, real workouts. No more amateur clips and lame fitness apps. Just hit the play button and get ready to sweat.</p>
                    <p><span class="color-green">Next, listen closely, this is important</span> – FLOT FIT is designed for results – not for proving how tough you are. That’s why it works for young and old, and for people of all fitness levels. I’ve even included modified movements for every single exercise, meaning that regardless of your fitness level, literally <span class="color-green">ANYONE can do it.</span></p>
                    <p><span class="color-green">Remember</span> – FLO&nbsp;FIT workouts can be done anywhere – in your home, in a hotel, or wherever you have a little space. The videos can even be streamed on your computer, TV, tablet, or phone. All workouts, books and other tools are always at your fingertips. Want hard copies of the FLO&nbsp;FIT DVDs and books? We’ll ship them right to you.</p>
                    <p><span class="color-green">You’ll Discover that fitness can be Paint-by-numbers simple</span> – Personal training is about having your trainer take care of EVERYTHING for you – so I created the <span class="color-green">Rapid Body Redefinition Training Calendars.</span></p>
                    <p>Just follow our simple day-by-day workout schedule and Flo and I do the rest. In fact once you’ve done your first 8-week calendar, we’ll be waiting for you with two more FREE calendars because you’re never going to want to stop.</p>
                    <p>It’s as plug and play as fitness can get, like coming to my gym and walking away with your dream physique.</p>
                    <p><span class="color-green">And next,</span> let me introduce what may well be FLO&nbsp;FIT’S single most powerful tool: The <span class="color-green">FLO&nbsp;FIT Community.</span> When you join FLO&nbsp;FIT, you won’t just have Flo and I cheering you on – you’ll have the support of thousands in the FLO&nbsp;FIT family!</p>
                    <p>And ALL of us are ready in the online forums to help and support you every step of the way, and give you any answers, advice or encouragement you need – sharing stories, photos and meal ideas. You’ll connect AND build lifetime friendships.</p>
                    <p><span class="color-green">I can only touch on this briefly, but</span> if performance is important to you, think of what a fit, in-shape body will mean for all aspects of your life. I’m talking about rock-star energy levels and stamina. Not that exhausted feeling you get from those insane, impossible, body-abusing workouts.</p>
                    <p>In short…</p>
                    <p class="color-tertiary">A great body.</p>
                    <p>Great performance in all aspects of your life.</p>
                    <p>Are you ready for that?</p>
                    <p>Because that’s what it’s all about with FLO&nbsp;FIT.</p>
                    <p class="color-secondary">As Flo himself says…</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-210">
    <div class="container">
        <div class="row">
            <div class="span-medium-24 min-height">
                <div class="max-width">
                    <p>"I really didn’t know I could feel this good or look this lean until I met Mike. He changed my whole view on working out.
                        <span class="color-secondary display-block">I had muscle before, but he’s got the secret to getting lean."</span>
                    </p>
                    <img data-original="{{ asset("images/vsl/2/s-210-flo-logo-half.png") }}" src=""
                         class="img-responsive lazy-only"
                         alt="FLO RIDA logo"/>
                </div>
                <img data-original="{{ asset("images/vsl/2/s-210-flo-half.png") }}" src=""
                     class="img-responsive flo-rida lazy-only"
                     alt="FLO RIDA"/>
            </div>
        </div>
    </div>
</section>
<section class="section-220">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">Is FLO&nbsp;FIT for <span class="color-secondary">YOU?</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p class="text-01">So <span class="color-tertiary">who IS FLO&nbsp;FIT for?</span></p>
                <p>It’s for you if you’re finally ready to leave behind the frustration and hopelessness of losing weight and getting (and staying) in shape.</p>
                <p>And it’s for you if you believe, as I do, that pushing yourself little by little to go beyond your comfort zone can not only be enjoyable, inspiring, and motivating…</p>
                <p>It can be the best, quickest and most direct way to get that body you’ve always wanted.</p>
                <p>But you don’t have to take MY word for it. Here’s what my client Michelle, a psychiatrist from Southern California had to say:</p>
                <p class="text-02 color-secondary">“I saw my body AND my mind transforming. It’s incredible and I’m hooked!"</p>
                <p>Another of my clients, Rudy from Los Angeles, sums up my approach very well:</p>
                <p class="text-03 color-tertiary">“When I first started training, my goal was to lose weight and gain muscle. I exceeded all my expectations."</p>
            </div>
        </div>
    </div>
</section>
<section class="section-140">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-02">
                    <h1 class="color-primary font-31">You’ll get...</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p class="text-01"><b>FLO&nbsp;FIT has everything you need to complete the 8 Week <span class="color-tertiary display-block">Rapid Body Redefinition program, including:</span></b></p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center offset-large-10">
                    <p><b>8 weeks of <span class="color-secondary">Full-Body Workouts.</span></b>
                    <span class="display-block">Each of our sessions will be 30 minutes of serious workouts disguised as high-energy fun.</span></p>
                </div>
                <div class="span-large-10">
                    <img class="img-responsive img-left lazy-only"
                         data-original="{{ asset("images/vsl/2/s-140-flo-01-half.png") }}" src=""
                         alt="8 weeks of Full-Body Workouts"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center">
                    <p><b>Next you get the 10 minute Hi-Def Workouts that target the areas we all obsess over. <span class="color-secondary">Like:</span></b></p>
                    <ul>
                        <li><span>•</span> A sexy, well-defined, chest and back.</li>
                        <li><span>•</span> The perfect arms you’ve always wanted—whether you’re looking for lean  and sculpted or big and powerful.</li>
                        <li><span>•</span> Killer shoulders that will turn heads from the club to the beach.</li>
                        <li><span>•</span> Amazing, envy-inducing abs! That killer butt and beautiful legs you crave.</li>
                    </ul>
                </div>
                <div class="span-large-11 offset-large-13">
                    <img class="img-responsive img-right lazy-only"
                         data-original="{{ asset("images/vsl/2/s-140-flo-02-half.png") }}" src=""
                         alt="10 minute Hi-Def Workouts"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center offset-large-9">
                    <p><b>I’ve also included my informative and detailed <span class="color-secondary">Workout Guide</span> so you can take full advantage of all my workout secrets.
                        <span class="display-block color-tertiary">For example:</span></b>
                    </p>
                    <ul>
                        <li><span>•</span> How to find Your Heart Rate Training Zone that makes maximum fat loss possible.</li>
                        <li><span>•</span> The simple body signal that says that you’re exercising correctly.</li>
                        <li><span>•</span> What you <b>MUST</b> do before – and after – every workout to make them much more effective.</li>
                    </ul>
                </div>
                <div class="span-large-11">
                    <img class="img-responsive img-left lazy-only"
                         data-original="{{ asset("images/vsl/2/s-140-flo-03-half.png") }}" src=""
                         alt="Workout Guide"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg padding-none-bottom">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center">
                    <p><b>You also get three different <span class="color-secondary">step-by-step 8-Week Training Calendars</span> – carefully created to ensure EVERYONE can get red carpet results from FLO&nbsp;FIT, regardless of age or fitness level.</b></p>
                </div>
                <div class="span-large-11 offset-large-13">
                    <img class="img-responsive img-right padding-none-all lazy-only"
                         data-original="{{ asset("images/vsl/2/s-140-flo-04-half.png") }}" src=""
                         alt="step-by-step 8-Week Training Calendars"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="abs-vertical-center offset-large-9">
                    <p><b>And finally you get my all-important <span class="color-secondary">Nutrition Guide.</span> Follow my simple food guidelines and you’ll eat properly and drop pounds while you enjoy the foods you love.</b></p>
                    <ul>
                        <b class="headline">Here’s just a small taste of what’s included:</b>
                        <li><span>•</span> How to find the time to shop for, prepare, and eat the right foods</li>
                        <li><span>•</span> Your own Personal Nutrition Worksheet, where you’ll learn what the best nutrition program for YOUR body</li>
                        <li><span>•</span> How to figure out EXACTLY how many calories to eat to achieve your goals (too FEW is as bad as too many!)</li>
                    </ul>
                </div>
                <div class="span-large-11">
                    <img class="img-responsive img-left lazy-only"
                         data-original="{{ asset("images/vsl/2/s-140-flo-05-half.png") }}" src=""
                         alt="Nutrition Guide"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-250">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="max-width">
                    <p><b>So if you’re ready to take on the FLO&nbsp;FIT challenge, let’s get started.</b>
                        <span class="display-block">All it takes is one click and everything you’ve seen today is yours – IMMEDIATELY!</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-200">
    <div class="container relative">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">Celebrity-Level Training For Pennies a Day</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24t static">
                <div class="color-white">
                    <p>With everything I’ve covered during this presentation, I don’t blame you if you’re thinking that a system like <span>FLO&nbsp;FIT</span> should be very expensive.</p>
                    <p>After all, most people would be willing to pay just about anything for a program that truly delivers mind-blowing results.</p>
                    <p>Here in LA, according to the Hollywood Reporter, top trainers have been reported to charge $3,600 for just 24 classes!</p>
                    <p><span>That’s $150 an hour!</span></p>
                    <p>But I don’t want price to stand between you and the body you’ve always wanted.</p>
                    <p>So here’s how to get me as your personal trainer, the entire library of FLO&nbsp;FIT workouts, and all of the incredible tools I’ve shown you today, for a tiny fraction of that cost – for much less than even one hour of personal training.</p>
                    <p><span>Our goal</span> – Flo’s and mine – is to build a community of a hundred thousand successful people like you who can testify to the transformational benefits of FLO&nbsp;FIT…</p>
                    <p>Because I don’t think you should have to be a celebrity to get all the help and advice it takes to get you to the level of health and fitness you desire and deserve.</p>
                    <p>Building this community is why I want to make your decision to try FLO&nbsp;FIT not only one of the best but also one of the EASIEST decisions you’ll ever make.</p>
                </div>
                <img data-original="{{ asset("images/vsl/2/s-200-01-half.png") }}" src=""
                     class="img-responsive lazy-only"
                     alt="Flo Fit photos from video"/>
            </div>
        </div>
    </div>
</section>
<section class="section-230">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <img data-original="{{ asset("images/vsl/s-230-flo-mike.png") }}" src=""
                     class="img-responsive lazy-only"
                     alt="Mike Saffaie & Flo Rida"/>
                <div class="max-width">
                    <p>And that’s why, even though the total value of the FLO&nbsp;FIT system and everything that comes with it is literally hundreds of dollars, you won’t pay anything close to that.</p>
                    <p class="text-01">We typically offer immediate access to everything I’ve shown you today for a special discounted price of only <span class="color-secondary">$79.</span></p>
                    <p class="color-tertiary">And believe me, it’s a steal at that price.</p>
                    <p>Because as I said, Flo and I want to build an army of successful <b>FLO&nbsp;FIT</b> enthusiasts. And we want to do it quickly…</p>
                    <p>Because we have a big goal of <span class="color-secondary">100,000</span> lives transformed in the next two years, and we want YOU to be a part of our mission.</p>
                    <p>That’s why we’re going to do <b>TWO</b> things right here – right now – to make your decision today even easier.</p>
                    <p>First, because you’ve invested your time to watch this entire presentation and learn about FLO&nbsp;FIT, we will cut your price in <span class="color-tertiary bold font-23">HALF.</span></p>
                    <p>That’s right: If you act quickly, today FLO&nbsp;FIT can be yours just minutes from now for only <span class="color-tertiary bold font-23">$37.</span></p>
                </div>
                <p class="text-02">And second, I’m going to pile on some <span class="color-green free">FREE</span>
                    <span class="display-block color-tertiary">gifts that I’m sure you’re going to LOVE:</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-260">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-02">
                    <h1 class="color-primary">Your 3 FREE Gifts!</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <h2 class="color-tertiary">FREE Gift #1</h2>
                <h3 class="color-primary">Free One Month Membership to Platinum Club</h3>
                <img class="img-responsive lazy-only"
                     data-original="{{ asset("images/vsl/2/s-260-01-half.jpg") }}" src=""
                     alt="FLO FITT Platinum Club GIFT"/>
                <p class="text-01"><b>Your first gift if you start today is a <span class="color-secondary">FREE one-month membership</span> in our private FLO&nbsp;FIT Platinum Club.</b></p>
                <p><b>This is like getting a celebrity “backstage pass” into Flo’s world of exclusive celebrity fitness
                – your ticket to the quickest, most direct and most enjoyable journey to all your fitness goals.</b></p>
                <span class="display-block color-tertiary"><b>The Platinum Club is where you’ll find:</b></span>
                <ul>
                    <li><span class="color-tertiary">•</span> Personal videos from me and Flo that will help inspire and motivate you</li>
                    <li><span class="color-tertiary">•</span> Super-exclusive content and insider tips to help you get the best results possible</li>
                    <li><span class="color-tertiary">•</span> Special, brand-new bonus FLO&nbsp;FIT workouts for Platinum Club members ONLY</li>
                    <li><span class="color-tertiary">•</span> Additional FLO&nbsp;FIT meals, recipes and nutrition books</li>
                    <li><span class="color-tertiary">•</span> Coaching calls where YOU’LL have a chance to ask me questions</li>
                    <li><span class="color-tertiary">•</span> And complete access to a supplement-ingredient database that the pros themselves use.</li>
                </ul>
                <p class="color-tertiary"><b>This is a 75 dollar value. <span class="color-secondary">But it’s yours FREE if you act right now.</span></b></p>
            </div>
        </div>
    </div>
</section>
<section class="section-290">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-tertiary">FREE Gift #2</h1>
                <h2>Full-Body Extreme Workout</h2>
            </div>
            <div class="span-large-12">
                <p class="color-tertiary"><b>I think you’re going to be VERY excited about your NEXT free gift.</b></p>
                <p>Especially if you’re the kind of person who likes to go “all out”.</p>
                <p>It’s our <b>“Full Body Extreme”</b> workout DVD – 30 minutes packed with brand new, hard-charging exercises that will get your blood going, your muscle toning, and your metabolism roaring.</p>
                <p>You’ll push your conditioning to the max as you work your way up and down the ladder in this intense body circuit.</p>
                <p>When you’re ready to blast past your limitations and supercharge your weight loss and muscle shaping, THIS is the video you want to be playing.</p>
                <p class="color-secondary">And it’s yours FREE if you act today.</p>
            </div>
            <div class="span-large-12">
                <img class="img-responsive lazy-only display-none"
                     data-original="{{ asset("images/vsl/s-290-bonus2.jpg") }}" src=""
                     alt="Bonus #2 Full Body Extreme DVD"/>
            </div>
        </div>
    </div>
</section>
<section class="section-300">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1 class="color-tertiary">FREE Gift #3</h1>
                <h2>Two Crucial Keys to Your Best Workouts Ever</h2>
            </div>
            <div class="span-large-12">
                <img class="img-responsive lazy-only display-none"
                     data-original="{{ asset("images/vsl/2/s-300-01.png") }}" src=""
                     alt="Bonus #2 Full Body Extreme DVD"/>
            </div>
            <div class="span-large-12">
                <p class="color-tertiary">Your third FREE gift will enable you to get the absolute most out of your workouts and recoveries.</p>
                <p>It consists of two additional videos: <b>A 10-minute warm-up video and a 10-minute cool-down video.</b></p>
                <p>Look, this may sound obvious, but warming up and cooling down are some of the most overlooked and misunderstood aspects of working out.</p>
                <p class="color-secondary"><b>But not for you – not any more.</b></p>
                <p>Whether you’re a beginner or more advanced you need to give a little extra attention to that all-important preparation or recovery…</p>
                <p>These two little videos are just one more way to make sure you have everything you need for the perfect <b class="display-inline-block">FLO FIT</b> experience that’s exactly right for you.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-310">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-02">
                    <h1 class="color-white">Get Access To Everything RIGHT NOW…
                        <span class="color-primary display-block">Totally Risk FREE!</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="max-width">
                    <p class="text-01">Part of you may still be wondering:
                        <span class="color-tertiary display-block">“Will FLO&nbsp;FIT REALLY work for me?”</span>
                    </p>
                    <p>So let me take that concern away right now with a <span class="color-tertiary">60 Day</span>, no risk money back guarantee.</p>
                    <p>Flo and I promise that after completing our <span class="color-tertiary">8-Week Rapid Body Redefinition</span> program, you (and everyone who knows you) will MARVEL at the results you’ve been able to achieve in such a short amount of time.</p>
                    <p>Or we send your money right back to you, no questions asked.</p>
                    <p>Flo and I don’t want you to feel one single iota of risk.</p>
                    <p>We refuse to keep your money if <b class="display-inline-block">FLO FIT</b> doesn’t work for you, or you’re unhappy in any way.</p>
                    <p>And we don’t want anything at all to stand between you and your red carpet body</p>
                </div>
                <img data-original="{{ asset("images/vsl/2/flo-guarantee-half.jpg") }}" src=""
                     class="img-responsive lazy-only"
                     alt="Flo Rida Guarantee"/>
            </div>
        </div>
    </div>
</section>
<section class="section-320">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white">Just 8 Short Weeks to YOUR Celebrity Body…
                        <span class="color-tertiary">GUARANTEED</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <h2>You’re about to take a step that will change your life in more ways than you can even imagine.</h2>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="text-01">
                    <p>Think of what it will be like to head down a path right now that will take you all the way to the beach-ready body, the good health, the confidence, and the life you’ve always wanted.</p>
                    <p class="color-tertiary">Imagine what it will be like as that unwanted fat begins to disappear…</p>
                    <p>As your muscles rapidly acquire shape and definition…</p>
                    <p>And as your body begins to transform itself from tired and out-of-shape to energized and rock hard.</p>
                    <p>Think of what it will be like to have people look at you, envious of your beautiful body.</p>
                    <p>And last but not least, imagine how much more confident you’ll be with a stronger, healthier, knock-out body.  And celebrity-level confidence!</p>
                    <p>Well, my new friend, that time starts right now, and it’s only a click away.</p>
                    <p>A single click that takes you on a path <b>AWAY</b> from broken vows to yourself…</p>
                </div>
                <img src="" data-original="{{ asset("images/vsl/flo-rida-selfie.png") }}"
                     class="img-responsive lazy-big lazy-1220 lazy-1024 display-none"
                     alt="Flo Rida selfie"/>
                <img src="" data-original="{{ asset("images/vsl/flo-rida-selfie-mobile.png") }}"
                     class="img-responsive lazy-480 lazy-768 display-none"
                     alt="Flo Rida selfie"/>
            </div>
        </div>
    </div>
</section>
<section class="section-330">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <img class="img-responsive hide-mobile lazy-only"
                     data-original="{{ asset("images/vsl/s-330-woman.png") }}" src=""
                     alt="Rachele Brooke Smith Selfie"/>
                <div class="text-01">
                    <div class="text-001">
                        <p><b>AWAY</b> from fitness fads that never live up to their promises…</p>
                        <p><b>AWAY</b> from feeling embarrassed about your body…</p>
                        <p>And <b>TOWARD</b> a new life of fitness, health and feeling <b>GREAT</b> about yourself.</p>
                        <p class="color-green">So what will it be?</p>
                        <p>Will you continue along the path that has gotten you nowhere – that has only served to get you further and further out of shape?</p>
                        <p>Will you continue to search among the millions of exercise videos on YouTube and all the contradictory nutrition on the Internet hoping to piece together something that works on your own?</p>
                        <p>Or will you do what celebrities do, get yourself a trainer and the inside knowledge you need…</p>
                        <p>And join me and Flo and all those who have discovered a <b>BETTER</b> way to finally get the body, the health, and the life they’ve always wanted</p>
                        <p>Together, let’s start your rapid body redefinition, right now.</p>
                        <p>Flo and I can’t wait to hear how you feel, <b>RIGHT</b> after your very first workout.</p>

                        <p class="text-02 color-tertiary">Yours for Great Health and Fitness,</p>
                        <p class="text-03">Mike Saffaie
                            <span>Mike Saffaie, IFBB</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-340">
    <div class="container">
        <div id="get_started" style="position:relative;top:-20px;"></div>
        <div class="row">
            <div class="span-medium-24">
                <div class="choose-text">
                    <p class="font-38 text-center margin-bottom-5 margin-top-10">YES! I WANT TO START FLO&nbsp;FIT RIGHT NOW</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24 text-center padding-none-all">
                <div class="cart-box">
                    <div class="item active mobile">
                        <div class="barge">Best Value</div>
                        <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
                        <p>The entire FLO&nbsp;FIT program shipped to you as well as LIFETIME online access. This is a single, one-time payment.
                            <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
                        <div class="cover">
                            <img src="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}"
                                 class="img-responsive lazy-only"
                                 alt="Digital Streaming"/>
                        </div>
                        <div class="hgroup">
                            <h3 class="old-price">$119</h3>
                            <h3 class="new-price">$67</h3>
                            <span class="info-price">One-Time Payment</span>
                        </div>
                        <a href="{{ digphyBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                    </div>
                    <div class="item desktop">
                        <h2>Try FLO FIT For FREE<small>7 Day Online Trial</small></h2>
                        <p>For 7&nbsp;full days you get access to the entire FLO&nbsp;FIT program for FREE. You pay nothing&nbsp;–&nbsp;no money down and no strings attached. Love it? Only 4.95/mo to continue.<br><span class="display-block"><strong>Cancel or UPGRADE anytime with just "2&nbsp;clicks"…</strong></span></p>
                        <div class="cover">
                            <img src="{{ asset('images/sales-page/digital-streaming.png') }}"
                                 class="img-responsive lazy-only"
                                 alt="Digital Streaming"/>
                        </div>
                        <div class="hgroup">
                            <h3 class="new-price">Only $4.95/mo</h3>
                        </div>
                        <a href="{{ digitalBuyLink }}" class="btn btn-sec">START FREE TRIAL</a>
                    </div>
                    <div class="item">
                        <h2>Digital Streaming<small>and Online Access</small></h2>
                        <p>Streaming workout videos and online access to the entire FLO&nbsp;FIT program. <br>This is a single, one-time payment for <span class="display-block"><strong class="display-inline">LIFETIME</strong> access.</span></p>
                        <div class="cover">
                            <img src="{{ asset('images/sales-page/digital-streaming.png') }}"
                                 class="img-responsive lazy-only"
                                 alt="Digital Streaming"/>
                        </div>
                        <div class="hgroup">
                            <h3 class="old-price">$79</h3>
                            <h3 class="new-price">$37</h3>
                            <span class="info-price">One-Time Payment</span>
                        </div>
                        <a href="{{ physicalBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                    </div>
                    <div class="item mobile mobile-2">
                        <h2>Try FLO FIT For FREE<small>7 Day Online Trial</small></h2>
                        <p>For 7&nbsp;full days you get access to the entire FLO&nbsp;FIT program for FREE. You pay nothing&nbsp;–&nbsp;no money down and no strings attached. Love it? Only 4.95/mo to continue.<br><span class="display-block"><strong>Cancel or UPGRADE anytime with just "2&nbsp;clicks"…</strong></span></p>
                        <div class="cover">
                            <img src="{{ asset('images/sales-page/digital-streaming.png') }}"
                                 class="img-responsive lazy-only"
                                 alt="Digital Streaming"/>
                        </div>
                        <div class="hgroup">
                            <h3 class="new-price">Only $4.95/mo</h3>
                        </div>
                        <a href="{{ digitalBuyLink }}" class="btn btn-sec">START FREE TRIAL</a>
                    </div>
                    <div class="item active desktop">
                        <div class="barge">Best Value</div>
                        <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
                        <p>The entire FLO FIT program sent to your front door (ships within 48 hours) as well as <br><strong class="display-inline">LIFETIME</strong> online access. This is a single,
                            <br>one-time payment.
                            <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
                        <div class="cover">
                            <img src="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}"
                                 class="img-responsive lazy-only"
                                 alt="Digital Streaming"/>
                        </div>
                        <div class="hgroup">
                            <h3 class="old-price">$119</h3>
                            <h3 class="new-price">$67</h3>
                            <span class="info-price">One-Time Payment</span>
                        </div>
                        <a href="{{ digphyBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                    </div>
                </div>
                {#<img class="img-responsive margin-auto lazy-only"#}
                     {#data-original="{{ asset("images/vsl/cover-big.png") }}" src=""#}
                     {#alt="FLO FIT FULL"/>#}
                {#<h3>Only <span>{{ oldPrice }}</span></h3>#}
                {#<h2 class="color-green">{{ newPrice }}</h2>#}
                {#<a class="button button-add" href="{{ link }}">Get Immediate<span class="display-block">Access RIGHT NOW</span></a>#}
            </div>
        </div>
    </div>
</section>
<section class="section-350">
    <div class="container">
        <div class="row none-padding">
            <div class="span-none-padding-medium-24">
                <div class="arrow-header arrow-header-01">
                    <h1 class="color-white"><span class="color-tertiary">P.S.</span> Just thought you might like to see a few more comments for FLO&nbsp;FIT users to help you decide…</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <div class="max-width">
                    <div class="quote">
                        <h3 class="color-orange">Down 15 Pounds</h3>
                        <p>“When I started FLO&nbsp;FIT I had very little muscle definition and had excess fat on my waistline, chest and arms.</p>
                        <p>“After 8 weeks I was down 15 pounds and had more upper body definition than ever.*</p>
                        <p>“I truly believe in this program.”</p>

                        <p class="sm">— Steve Layne</p>
                    </div>
                    <div class="quote">
                        <h3 class="color-orange">Loves being able to shop for “regular” sized clothing</h3>
                        <p>“My goal was to get into better shape and lose weight.</p>
                        <p>“Today I feel like I’m in the best shape of my life. I’ve definitely exceeded my initial goals. I now enjoy working out and feel good about myself because I can do things like run and do pull-ups, which I couldn’t do before.</p>
                        <p>“It’s a great confidence boost to be able to shop where they sell “regular” sized clothing.”</p>

                        <p class="sm">— John</p>
                    </div>
                    <div class="quote">
                        <h3 class="color-orange">Exceeded all expectations</h3>
                        <p>“When I started training with Mike, my goal was to lose weight and to gain stamina, endurance and muscle.</p>
                        <p>“I exceeded all my expectations.</p>
                        <p>“Mike is different because to him, getting you in the best shape of your life is PERSONAL.”</p>

                        <p class="sm">— Honorable Rudy Svorinich, Jr., President Pro Tempore of the Los Angeles City Council</p>
                    </div>
                    <div class="quote">
                        <h3 class="color-orange">Looking great and loving self more</h3>
                        <p>“My goal was to look great. And I’ve done just that with Mike.</p>
                        <p>“My confidence level went up. I started to love myself more.</p>
                        <p>“Now I feel confident to help and support those who seek help on health and fitness.”</p>

                        <p class="sm">— Sung Lee</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="blue">
    <div class="container">
        <div class="row">
            <div class="span-medium-24 padding-bottom-25">
                <label for="modal_faq" class="read-faq">Read the FLO FIT FAQ</label>
                <p class="first">Consult your physician and follow all safety instructions before beginning any exercise program. <br/>All trademarks, products and service names are the property of their respective owners.</p>
                <br>
                <p>*Results may vary. Exercise and proper diet are necessary to achieve and maintain weight loss and muscle definition. <br/>Please send all questions and order inquiries to <a href="mailto:help@flofit.com">help@flofit.com</a></p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div id="clickbank-disclaimer" class="span-large-24">
                <p class="text-center padding-vertical-15 lighter">ClickBank is the retailer of this product. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 917 S. Lusk Street, Suite 200, Boise Idaho, 83706, USA and used by permission. ClickBank's role as retailer does not constitute an endorsement, approval or review of this product or any claim, statement or opinion used in promotion of this product.</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span-medium-24 text-center">
                <ul>
                    <li><a href="{{ path('affiliates') }}">Affiliates</a></li>
                    <li><a href="http://my.flofit.com/terms-of-use" target="_blank">Terms of use</a></li>
                    <li><a href="http://my.flofit.com/privacy-policy" target="_blank">Privacy policy</a></li>
                    <li><label for="legal_disclaimer" class="label">Legal Disclaimer</label></li>
                    <li><label for="modal_faq" class="label">Help and FAQ</label></li>
                    <li><a id="get_startedLink" href="#">Get Started</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p>Copyright 2016 Flofit.com. All rights reserved</p>
            </div>
        </div>
        <div class="row">
            <div class="span-large-24">
                <p class="text-center padding-vertical-25 lighter">Burn It Now Productions, Inc. FLO FIT and FLO RIDA trademarks, name, image, and likeness are owned by FLO RIDA and FLO FIT Holdings LLC, and are being used under license by Flo Life LLC. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<input type="checkbox" id="modal_faq" class="input-modal">
<div id="modal_faq-body" class="modal-body">
    <label for="modal_faq" class="close-full"></label>
    <div class="modal-wrapper">
        <label for="modal_faq" class="close">x</label>
        <h2>Help & FAQ</h2>
        <h3>Contact for Help</h3>
        <p>If you need help or assistance using one of the FLO FIT web sites or services, or if you have a billing, product order, or shipping related question, you can contact our support team at <a href="mailto:help@flofit.com">help@flofit.com</a>. We answer most Help inquiries within 24 hours, from Monday to Friday. Before contacting our support team, we highly recommend reviewing the FAQ below that covers many common questions.</p>
        <h3>Does FLO FIT really work?</h3>
        <p>Yes! FLO FIT is a comprehensive 8 week training program that combines cardio, strength, endurance, performance, flexibility and nutrition in a unique system that will provide immediate results. The workouts are structured around targeting all of the major muscle groups. It is a total body workout for both men and women that will help you lose weight, add muscle, and dramatically improve your overall health and wellness.</p>
        <h3>Is this the real deal? Does FLO RIDA use this workout?</h3>
        <p>Yes! This FLO FIT program was inspired by FLO’s training with Mike Saffaie, a personal trainer in California that got FLO in the best shape of his life. FLO loved Mike’s training so much that he worked with Mike to produce a workout and diet program that all of his fans could have access to. FLO wanted everyone to be able to train with Mike.</p>
        <h3>What exercise equipment will I need?</h3>
        <p>The ONLY equipment required is a pair of hand-held weights or dumbbells. They do not need to be heavy, as FLO RIDA himself only uses anywhere from 10 to 25lb weights. Hand weights or dumbbells can be purchased at any sports equipment retailer. FLO FIT was specifically designed to minimize required exercise equipment, which keeps the costs down and allows you to get started right away.</p>
        <h3>Who is FLO FIT for?</h3>
        <p>FLO FIT is for men or women looking to lose weight, get in shape, add muscle, strengthen their body, raise their conditioning or for anyone that loves a good hard workout program. FLO FIT is also an excellent sport conditioning program that will improve your performance in any athletic discipline such as basketball, soccer, football, hockey, or other common sports. FLO FIT was designed to accommodate everyone, regardless of their starting fitness level. The workouts offer clear instruction and all exercises include modifications that can be used if you're a beginner or out of shape. As you progress through the 8 Weeks you can gradually implement the harder exercises and increase your reps and dumbbell weight as you become stronger and more fit.</p>
        <h3>I’ve never been in a gym or worked out before? Is FLO FIT for me?</h3>
        <p>YES. The exercises are designed with progressions across the 8 week calendar provided (beginner, intermediate, and advanced) and are explained and demonstrated clearly, including modified versions of challenging exercises. The short workout durations allow you to follow along at whatever pace you are capable, increasing reps and speed over time.</p>
        <h3>What do I eat? What can I eat while doing the FLO FIT program?</h3>
        <p>There’s tons of nutrition and advice within the FLO FIT customer site, including videos, blog postings, and other content. We also highly recommend the FLO FIT Nutrition Guide and 8 Week Meal Plan. These resources will establish guidelines for your eating habits and food choices for the 8 weeks of the Program and beyond. It will also address specific topics like pre and post-workout fueling, healthy meal options, and simple do's and don'ts for the best results. Nutrition is a critical component of any workout program, and the FLO FIT Nutrition Guide and Meal Plan covers everything you need to know.</p>
        <h3>Will I lose weight?</h3>
        <p>YES. Unless you're already extremely lean, EVERYONE will lose weight and reduce their body fat % on the FLO FIT program. Depending on your starting point the total amount of weight loss will vary. To maximize your weight loss at a healthy rate consult your physician, and refer to the FLO FIT Nutrition Guide and Meal Plan, and the other resources available on the FLO FIT web site. Avoid crash diets or food fads at all costs.</p>
        <h3>What if some exercises are too hard?</h3>
        <p>Each exercise is demonstrated by FLO RIDA’s trainer Mike Saffaie and modifications are provided so that if it is too hard or too easy you can adjust yourself. There are options at every step, and they are explained and demonstrated throughout the workouts. There’s also a Foundations Move video included with FLO FIT that shows how to properly complete all of the basic exercise moves in the FLO FIT workouts.</p>
        <h3>Can I Get FLO FIT Workout DVDs and Books Shipped To Me?</h3>
        <p>Yes! Every FLO FIT workout and book is available instantly here in digital format, playable and readable from anywhere. However if you’d also like a physical copy of FLO FIT, just select the Books & DVDs only or Books & DVDs + Lifetime Digital Access from the ordering options at <a href="http://www.flofit.com">www.flofit.com</a>. We’ll ship you the physical product that includes all of the Workout Videos on high quality DVDs and regular printed books for the Workout Guide, Nutrition Guide, and Training Calendars.</p>
    </div>
</div>
<input type="checkbox" id="legal_disclaimer" class="input-modal">
<div id="legal_disclaimer-body" class="modal-body">
    <label for="legal_disclaimer" class="close-full"></label>
    <div class="modal-wrapper">
        <label for="legal_disclaimer" class="close">x</label>
        <p>As people and situations vary, you should assume individual results vary, and any testimonials are not claimed to be representative of typical results. Although all testimonials are real customers, they may or may not reflect a typical customers experience. Because many of our best results come from the transformation contests we host, assume that each testimonial has been compensated with prize money. Contests are free to enter. Testimonials name, location or story may be altered to protect their privacy. Each individual has a unique set of lifestyle constraints, experiences, nutrition habits, physical activity habits, and applies the information in a different way. The experiences that FLO FIT shares from other clients may not reflect the typical users' experience. The most important factor to your success is your ability to follow through with the program. Many people do not follow through and thus, their typical results are zero. There is no such thing as a magic short cut to your weight loss goals. Your results will be directly related to your consistency and effort you put into the program. Results displayed on this website showcase what the best and most motivated FLO FIT users have achieved. Finally, you assume certain risks inherent with nutrition and exercise by using this program. You should not take part in this program if you have a medical or physical condition that makes exercise dangerous. FLO FIT and/or Mike Saffaie are not a substitute for medical advice and you should consult a physician before beginning any exercise or diet program.</p>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{#<script src="{{ asset("js/lazy.min.js") }}" async defer></script>#}
{#<script src="{{ asset("js/lazy-loading-new.min.js") }}" async defer></script>#}
<script src="{{ asset("js/lazy-full.min.js") }}" async defer></script>

<script>
    function goToByScroll(){
        $('html,body').animate({
            scrollTop: $("#get_started").offset().top},
            'slow');
    }
    $("#get_startedLink").click(function(e) {
        e.preventDefault();
        goToByScroll();
    });
</script>

<!-- Google Analytics code START -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68358953-1', 'auto');
    ga('require', 'displayfeatures');  // demographic features
    ga('send', 'pageview');
</script>
<!-- Google Analytics code END -->

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '186485591719503');
    fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=186485591719503&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
    var google_tag_params = {
        dynx_itemid: 'REPLACE_WITH_VALUE',
        dynx_itemid2: 'REPLACE_WITH_VALUE',
        dynx_pagetype: 'REPLACE_WITH_VALUE',
        dynx_totalvalue: 'REPLACE_WITH_VALUE',
    };
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 928791961;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/928791961/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

</body>
</html> 