<div class="cart-box cart-box-other">
    <div class="item special">
        <h2>Lets Get Started Today! <span>Take the <span class="underline">FREE</span> 7 day test drive</span>
            <small>(no credit card required)</small>
        </h2>
        <div class="form">
            <a href="http://{{ user_section_url_base }}/login/facebook" class="button-facebook" id="register-fb-learn"><i class="ff ff-facebook1"></i>Register with Facebook</a>
            <span class="or">or</span>
            <div class="button-email button-email-2"><i class="">@</i>Enter your email to begin</div>
            <form action="http://{{ user_section_url_base }}/signup/email" method="post" class="box reg-form-learn">
                <a href="#" class="close"><span class="tiecons tiecons-cross-light"></span></a>
                <div class="abs-center">
                    <div class="row">
                        <div class="span-none-padding-medium-12 padding-right-5">
                            <input type="text" placeholder="first name" id="firstname" name="_firstname" class="firstname_learn">
                        </div>
                        <div class="span-none-padding-medium-12 padding-left-5">
                            <input type="text" placeholder="last name" id="lastname" name="_lastname" class="lastname_learn">
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" placeholder="enter your email" id="email" name="_email" class="email_learn">
                    </div>
                    <div class="row">
                        <input type="password" placeholder="select and enter your password" id="password" name="_password">
                    </div>
                    <div class="row">
                        <input type="password" placeholder="confirm your password" id="confirmpassword" name="_confirmpassword">
                    </div>
                    <div class="row">
                        <input type="submit" value="Get Access Now" id="pop-email-get-access-learn">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="item active">
        <h2>Buy Now<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
        <p>The entire FLO FIT program sent to your front door (ships within 48 hours) as well as <br><strong class="display-inline">LIFETIME</strong> online access. This is a single, <br>one time payment.
            <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
        <div class="cover">
            <img data-original="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}" src=""
                 class="img-responsive lazy-only"
                 alt="Digital Streaming"/>
        </div>
        <div class="hgroup">
            <h3 class="old-price">$119</h3>
            <h3 class="new-price">$67</h3>
            <span class="info-price">One-Time Payment</span>
        </div>
        <a href="{{ digphyBuyLink }}" onclick="goog_report_conversion('{{ digphyBuyLink }}')" class="btn btn-sec">ADD TO CART</a>
    </div>
</div>