<div class="cart-box">
    <div class="item">
        <h2>Try FLO FIT For FREE<small>7 Day Online Trial</small></h2>
        <p>For 7&nbsp;full days you get access to the entire FLO&nbsp;FIT program for FREE. You pay nothing&nbsp;–&nbsp;no money down and no strings attached. Love it? Only $8.95/mo to continue.<br><span class="display-block"><strong>Cancel or UPGRADE anytime with just "2&nbsp;clicks"…</strong></span></p>
        <div class="cover">
            <img data-original="{{ asset('images/sales-page/digital-streaming.png') }}" src=""
                 class="img-responsive lazy-only"
                 alt="Digital Streaming"/>
        </div>
        <div class="hgroup">
            <h3 class="new-price">Only $8.95/mo</h3>
        </div>
        <a href="{{ digitalBuyLink }}" onclick="goog_report_conversion('{{ digitalBuyLink }}')" class="btn btn-sec">START FREE TRIAL</a>
    </div>
    <div class="item">
        <h2>Digital Streaming<small>and Online Access</small></h2>
        <p>Streaming workout videos and online access to the entire FLO&nbsp;FIT program. <br>This is a single, one-time payment for <span class="display-block"><strong class="display-inline">LIFETIME</strong> access.</span></p>
        <div class="cover">
            <img data-original="{{ asset('images/sales-page/digital-streaming.png') }}" src=""
                 class="img-responsive lazy-only"
                 alt="Digital Streaming"/>
        </div>
        <div class="hgroup">
            <h3 class="old-price">$99</h3>
            <h3 class="new-price">$67</h3>
            <span class="info-price">One-Time Payment</span>
        </div>
        <a href="{{ physicalBuyLink }}" onclick="goog_report_conversion('{{ physicalBuyLink }}')" class="btn btn-sec">ADD TO CART</a>
    </div>
    <div class="item active">
        <div class="barge">Best Value</div>
        <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
        <p>The entire FLO FIT program sent to your front door (ships within 48 hours) as well as <br><strong class="display-inline">LIFETIME</strong> online access. This is a single, <br>one time payment.
            <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
        <div class="cover">
            <img data-original="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}" src=""
                 class="img-responsive lazy-only"
                 alt="Digital Streaming"/>
        </div>
        <div class="hgroup">
            <h3 class="old-price">$199</h3>
            <h3 class="new-price">$97</h3>
            <span class="info-price">One-Time Payment</span>
        </div>
        <a href="{{ digphyBuyLink }}" onclick="goog_report_conversion('{{ digphyBuyLink }}')" class="btn btn-sec">ADD TO CART</a>
    </div>
</div>