{% extends "::baseUpsell.html.twig" %}

{% block title %}FLO FIT - Meal Systems{% endblock %}

{% block content %}

<section class="video">
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <div class="video-box">
                    <div id="video"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="buy-box">
        <div class="row">
            <div class="span-medium-24">
                <div class="prices">
                    <h4 class="first-price">{{ priceOld }}</h4>
                    <span>&nbsp;&nbsp;</span>
                    <h3 class="second-price">{{ priceNew }}</h3>
                </div>
                <div class="button-card">
                    <a class="button button-danger buy-link-accept" href="{{ linkAccept }}"><i class="tiecons tiecons-basket-shop-buy"></i>Add to order</a>
                    <i class="icon-p icon-paymentmethods"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span-medium-24">
                <h1>“Abs are Made in the Kitchen…"</h1>
                <img src="{{ asset("images/upsells/meal-system.png") }}" alt="MEAL SYSTEMS" class="img-responsive margin-auto padding-bottom-30 upsell-product-shot" width="327" height="548" style="max-width: 100%;width: auto;"/>

                <p class="bold font-19">Mike back at ya…</p>

                {#<p class="bold">Introducing the <span class="display-block color-primary-blue font-37 text-center normal">FLO&nbsp;FIT 8&nbsp;Week Master Mix Meal Systems</span></p>#}

                <p>You know, the people who use FLO FIT and get the best results have one thing in common…</p>

                <p>A solid nutrition plan.</p>

                <p>As Flo likes to say, “Abs are made in the kitchen.”</p>

                <p>The problem is: When you try to “wing it” with your nutrition, you’ll just fail miserably.</p>

                <p>With everything going on in your life, creating the “perfect” mix of nutrition on your own is a huge challenge.</p>

                <p>No other area is as confusing and tough to get a handle on as the foods that you put in your mouth when you should eat them.</p>

                <p>Do it wrong and you won’t enjoy eating and may not even get the results you’re looking for.</p>

                <p>Do it RIGHT and you’ll enjoy every minute of your meals—AND lose weight and tone up faster than you ever thought possible.</p>

                <p>Therefore, I put together a fully tested solution that takes all the worry out of your nutrition and meal planning…</p>

                <h1>The FLO FIT 8 Week Master Mix Meal System</h1>

                <p>When you open this system, you’ll discover a delightful MIX of detailed meal plans that can be used throughout the FLO FIT program.</p>

                <p>Whether you just need some quick ideas for a busy day or a completely structured “eat this, not that” system to follow, you’ll find the 8-Week Master Mix Meal System to be a perfect addition to your own “perfect” MIX.</p>

                <p>Following the simple FLO FIT principles of great nutrition with maximum enjoyment, you’ll get tons of delicious recipes and meal ideas for breakfast, lunch, dinner, and even snacks.</p>

                <p>The recipes are simple to follow and provide a wide variety of options—so you literally can’t go wrong!</p>

                <p>You’ll also receive helpful tips on grocery shopping, how to read food labels, ordering healthy options in restaurants, and simple suggestions to avoid the most common food missteps that can sabotage your weight loss goals.</p>

                <h1>For example, you’ll discover…</h1>

                <ul class="list">
                    <li><span>How to read any label. Don’t let unseen dangers and counterproductive ingredients keep you from your fitness goals. Just look for the three things that tell you all you need to know. Page 44</span></li>
                    <li><span>5 ways food manufacturers hide sugar in prepared foods. Page 44</span></li>
                    <li><span>How to avoid overeating in restaurants—without forcing yourself to eat less. Page 45</span></li>
                    <li><span>Fatty, sugar-laden sauces in restaurants can be death to healthy eating. Here’s how to stay safe—without asking your server to “hold the sauce” and getting a tasteless dish. Page 45</span></li>
                    <li><span>How to enjoy an occasional cocktail without maxing out your caloric intake. Page 47</span></li>
                    <li><span>4 big eating mistakes people trying to get fit invariably make. The last one will surprise you—and it’s something you may be doing every day! Page 48x</span></li>
                    <li><span>And much more!</span></li>
                </ul>

                <p>So, if you want me to do everything for you, save you a ton of time—and put together the best tasting, money saving meals that are far better than you could EVER put together yourself—just select the option below.</p>

                <p>Because this is for you.</p>

                <p>Want me to make it even easier for you?</p>

                <p>You got it!</p>

                <h1>Done-for-You Grocery Lists!</h1>

                <p>Try the 8-Week Master Meal System right now and I’ll also provide your weekly grocery lists for hassle-free grocery shopping that ensures you’ll always have everything you need right on hand.</p>

                <p>I know your time is valuable. That’s why I want to do everything I can to make things easier and more efficient for you—while accelerating your results and giving you the PLATINUM LEVEL treatment and results you deserve.</p>

                <p>And as you may expect of me by now, I will back this one time offer up with a 100% risk free money back guarantee.</p>

                <p>Because I’m that sure you’re going to love this 8 Week Master Mix Meal System.</p>

                <p>And because if you DON’T, I wouldn’t feel right about keeping your money.</p>

                <p>So click the “add to order” button below if you’d like to take advantage of this 1 time only offer.</p>
            </div>
        </div>
        <div class="buy-box">
            <div class="row">
                <div class="span-medium-24">
                    <div class="prices">
                        <h4 class="first-price">{{ priceOld }}</h4>
                        <span>&nbsp;&nbsp;</span>
                        <h3 class="second-price">{{ priceNew }}</h3>
                    </div>
                    <div class="button-card">
                        <a class="button button-danger buy-link-accept" href="{{ linkAccept }}"><i class="tiecons tiecons-basket-shop-buy"></i>Add to order</a>
                        <i class="icon-p icon-paymentmethods"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-large-20 offset-large-2 margin-vertical-30">
                    <a href="{{ linkDecline }}" class="no-link">No thanks. I understand that this is my only opportunity to get access to this information and I’m okay with missing out. I understand that after declining this offer, the special Meal Systems package will never be available in this form again to me at any price... even if I wish to pay more. I will pass on this forever.</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
