<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="{{ asset('css/framework.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/basic.css') }}"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/affiliates.css') }}">


        <style>
            .affiliates{
                height: 2100px;
                margin-bottom: 80px;
            }
            body{
                color: #999;
            }
            .span-medium-24 {
                display: block !important;
                position: relative !important;
                padding: 0 20px;
                margin: 0px 0px;
                min-height: 1px;
            }
            .head .container {
                position: relative;
                overflow: hidden;
                background: #009bde url({{ asset("images/sales-page/header-bg-nd.jpg") }}) no-repeat top center;
                background-size: cover;
                padding-top: 60px;
                padding-bottom: 40px;
                color: #FFFFFF;
            }
            body{
                font-family: 'Roboto', sans-serif;
                color: black;
            }
            .termsbody {
                background: linear-gradient(180deg, #fbfbfb 0, #d9d9d9 100%);
            }
            .width-1200 {
                width: 1200px;
                margin: auto;
            }
            .jackie-email {
                height: 18px;
            }


        </style>
    </head>

    <body>
    <div class="width-1200 head">
        <div class="container">
            <p class="margin-bottom-20" style="padding-left: 40px;">
                <img src="{{ asset("images/sales-page/flo-fit-logo.png") }}"
                     alt="FLO FIT"
                     style="max-width: 200px;">
            </p>
        </div>
        </div>


        <div class="wrapper" style="min-width: 1200px;">
            <div style="width:1000px;margin: auto;" class="termsbody">
                <br/>
                <div class="container">
                    <div class="affiliates">
                        <p>Dear Affiliate Marketer and Fitness Entrepreneur,</p>

                        <p>Welcome to the <a href="http://flofit.com/">FLO FIT</a> affiliate marketing help center where you'll find exactly what you need to get started making 75% Commissions promoting the evolution of video sales letters for fat loss products.</p>

                        <p>First things first, <strong>ClickBank is the exclusive retailer of FLO FIT</strong>, so in order to promote <a href="http://flofit.com/">FLOFIT.com</a> you must become a registered ClickBank affiliate. To do this you will have to establish an account at <a href="http://www.clickbank.com/">clickbank.com</a>. Please note that you are acting as an affiliate for ClickBank and therefore must adhere to all of Clickbank’s terms and conditions as can be found HERE (<a href="https://accounts.clickbank.com/terms.html">https://accounts.clickbank.com/terms.html</a>).</p>

                        <p>Once you are a registered ClickBank affiliate you will be able to send traffic through a special ClickBank generated affiliate link, and you will automatically be credited 75% commission for all sales that result from traffic you send through your special ClickBank affiliate link.</p>

                        <p><strong>NOTICE: All Affiliate advertising must NOT include content that is deceptive, misleading, untruthful, unsubstantiated, or otherwise fails to comply with applicable federal and state consumer protection laws, regulations, and guidelines.</strong></p>

                        <p>All affiliates (regardless of their country of domicile) MUST be in compliance with all applicable laws, regulations, and guidelines, including without limitation the Federal Trade Commission Act (&quot;FTC Act&quot;), the Controlling the Assault of Non-Solicited Pornography and Marketing Act of 2003 (&quot;CAN-SPAM Act&quot;), Federal Trade Commission (&quot;FTC&quot;) regulations and guidelines implementing the FTC Act and the CAN-SPAM Act, the FTC’s Guides Concerning the Use of Endorsements and Testimonials in Advertising (&quot;FTC Testimonials Guide&quot;), the National Advertising Division decisions of the Better Business Bureau, and other federal and state consumer protection laws, regulations, and guidelines.</p>

                        <p>Affiliates are NOT permitted to use ANY FLO FIT before and after photos or user testimonials in their promotions. Affiliates may also not run ads on Google Adwords (or any Google property), bid on &quot;FLO FIT&quot; based keywords, use the term &quot;FLO FIT&quot; in any pay per click ads, use any terminology in ads or landing pages that are similar to &quot;scam&quot; or &quot;fraud,&quot; or create customer incentives for purchasing FLO FIT (through cash rebates or 3rd party bonus offers - NO BONUSING!).</p>

                        <p>Affiliates must also NEVER use any images or videos that they do not own (including the FLO FIT sales video(s) - in whole or in part), and are forbidden from using any imagery that would imply any personal endorsement (celebrity or otherwise) without written consent from both the individuals making the endorsement AND <a href="http://flofit.com/">FLOFIT.com</a>.</p>

                        <p>Affiliates are forbidden from creating webpages, social media pages or accounts that falsely represent themselves as the creators or owners of the FLO FIT product and must make it clear that the page is a REVIEW page and you're being compensated for the review. Therefore, any page and all creative contained therein must include the word 'REVIEW' in the title, the url and any graphics used in the cover image or profile image. This includes blogs, webpages, Facebook, Twitter, YouTube or ANY OTHER online entity whether or not it is considered to be "social media".</p>

                        <p>Affiliates are not allowed to publish or distribute Press Releases about FLO FIT Body in any way, shape, or form on any press release platform, website, in printed media, or on any other press release service.</p>

                        <p>It is strictly forbidden to create apps for sale or for giveaway using the FLO FIT brand. You are also not allowed to create any other products using our brand name, for sale or for giveaway (in other words - no free reports, books, workouts, or apps branded with our brand name whatsoever). In short, do not represent a product created by you or someone hired by you as ours.</p>

                        <p>You are not allowed to promote FLO FIT on retail sites, auction sites, or app stores such as Amazon, eBay, Google Store, iTunes, or any other site that falls into these categories, in any way, shape, or form (this includes products created by you or by us). As well, selling products branded with the FLO FIT brand on Craigslist, Kijiji, or any other classified ad network is forbidden.</p>

                        <p>Affiliates may not bypass FLO FIT pages to generate orders. In other words, no direct linking to cart or order forms from any ads or landing pages. The customer must see our offer as presented by us prior to landing on the cart.</p>

                        <p>Affiliate agrees to indemnify, defend and hold harmless FLO FIT from any lawsuits, investigations, claims, or complaints arising from any such violation or alleged violation of the terms above. FLO FIT shall not be responsible to approve any Affiliate Ads. Compliance is solely with the Affiliate and the Affiliate represents and warrants that it shall have legal review of all Affiliate Ads for all necessary and required compliance. Affiliates take full responsibility for their advertising.</p>

                        <p><strong>*** Any affiliate caught breaking any of these terms will be banned immediately without hesitation, and will not be eligible for reinstatement. ***</strong></p>

                        <p>If you have any questions or concerns, or need assistance or tools for your promotions, you can contact our Affliate Manager, Jackie by emailing her at: <img class="jackie-email" src="{{ asset("images/jackie-email.png") }}"/></p>


                        <div class="affiliate-form">
                            <div>
                                <div class="form-label" >
                                    <p>Please generate your hoplink below.</p>
                                </div>
                                <form class="hoplink-form">

                                    <!-- GENERATOR -->
                                    <div class="wf-contbox wf-myid">
                                        <div class="wf-labelpos">
                                            <label class="wf-label">Clickbank ID:
                                            </label>
                                        </div>
                                        <div class="wf-inputpos">
                                            <input class="wf-input wf-req wf-myid" type="text" id="myid">
                                            </input>
                                        </div>
                                    </div>
                                    <div class="wf-contbox wf-trackid">
                                        <div class="wf-labelpos">
                                            <label class="wf-label">Tracking ID (optional):
                                            </label>
                                        </div>
                                        <div class="wf-inputpos">
                                            <input class="wf-input wf-req wf-trackid" type="text" id="trackid" >
                                            </input>
                                        </div>
                                    </div>

                                    <div id="check">
                                        <input type="checkbox" id="aff-verify" />
                                        <label for="aff-verify" style="color:black">Please check the box to verify you have read and agree to our terms of service for affiliates.
                                        </label>
                                    </div>

                                    <div class="wf-contbox wf-generate">
                                        <div class="wf-inputpos">
                                            <a href="#" id='generate-hoplink' class="wf-button" onclick="generate();
                                return false;">
                                                Generate hoplink
                                            </a>
                                        </div>
                                    </div>
                                </form>
                                <div class="wf-contbox wf-generatorlink" style='display: none'>
                                    <div class="wf-labelpos">
                                        <label class="wf-label">Hoplink:
                                        </label>
                                    </div>
                                    <div class="wf-labelpos">
                                        <div class="bold" id="generator_link"></div>
                                    </div>
                                    <div class="wf-labelpos">
                                        <button
                                                class="wf-button btn generator_copy"
                                                data-clipboard-demo=""
                                                data-clipboard-action="copy"
                                                data-clipboard-target="#generator_link">
                                            Copy to clipboard
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="affiliate-form">

                            <div id="spinner" style="widtht:100%; position:relative; display:none;">
                                <img src="{{ asset("images/ajax-loader.gif") }}" style="position:absolute; left:215px;" />
                            </div>
                            <div>
                                <div class="form-label" >
                                    <p>To receive the latest offers and information,
                                        subscribe to our affiliate email list.</p>
                                </div>
                                <form id="affiliates-form" accept-charset="utf-8">
                                    <div class="wf-contbox wf-email" style="display: block;">
                                        <div class="wf-labelpos">
                                            <label class="wf-label">Email:
                                            </label>
                                        </div>
                                        <div class="wf-inputpos">
                                            <input class="wf-input wf-req wf-valid__email" type="text" name="email">
                                            </input>
                                        </div>
                                    </div>
                                    <div class="wf-contbox wf-submit" style="display: block;">
                                        <div class="wf-inputpos">
                                            <a href="#" class="wf-button" onclick="checkEmail(); return false;">
                                                Subscribe
                                            </a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="webform_id" value="46"/>
                                </form>
                                <div id="done" style="display:none;text-align:center;" >
                                    <p>Subscribed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="width-1200">
    <div class="container text-center" >

    <p>ClickBank is the retailer of this product. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 917 S. Lusk Street, Suite 200, Boise Idaho, 83706, USA and used by permission. ClickBank's role as retailer does not constitute an endorsement, approval or review of this product or any claim, statement or opinion used in promotion ofthis product.</p>

    <p >FLO FIT © 2016</p>
    </div>
</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/affiliates.js') }}affiliates.js"></script>

        {% include "FloFitBundle:Components:facebook-pixel.html.twig" %}
    </body>
</html>
