<!DOCTYPE HTML>
<html class="small-content">
<head>
    {% if app.environment != "dev" %}
        {% if experiment is defined and experiment == true %}
        <!-- Google Analytics Content Experiment code -->
        <script>function utmx_section(){}function utmx(){}(function(){var
        k='{{ experimentId }}',d=document,l=d.location,c=d.cookie;
        if(l.search.indexOf('utm_expid='+k)>0)return;
        function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
        indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
        length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
        '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
        '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
        '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
        valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
        '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
        </script><script>utmx('url','A/B');</script>
        <!-- End of Google Analytics Content Experiment code -->
        {% endif %}
    {% endif %}

    <title>FLO FIT | 8-Week Rapid Body Redefinition</title>
    <meta name="description" content="Music megastar FLO RIDA has teamed up with his trainer Mike Saffaie to bring you FLO FIT. Start your 100% free trial now. ">
    <meta name="keywords" content="fitness, workout, exercise, FLO RIDA, workout program, full body workouts, home workout, workout video, exercise video, celebrity workout, Mike Saffaie, lose weight, lose fat, get ripped">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <!-- facebook tags -->
    <meta property="og:image" content="https://www.flofit.com/%7EASSETS/IMG/1200/s41.jpg"/>
    <meta property="og:title" content="FLO FIT | 8-Week Rapid Body Redefinition"/>
    <meta property="og:url" content="https://www.flofit.com/"/>
    <meta property="og:site_name" content="FLO FIT"/>
    <meta property="og:type" content="website"/>
    <meta property="fb:app_id" content="401519239998227"/>
    <meta property="fb:business_id" content="401519239998227"/>

    <link href='//fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/bowtie-vsl.css") }}"/>

    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/ff-icon.css") }}"/>
    <link rel="stylesheet" rev="stylesheet" type="text/css" media="all" href="{{ asset("css/roboto.css") }}"/>

    {% stylesheets '@FloFitBundle/Resources/public/less/vl-welcome.less' filter="less" output="css/vl-welcome.css"  %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("css/vl-welcome.css") }}"/>
    {% endstylesheets %}
    {% stylesheets '@FloFitBundle/Resources/public/less/vsl-full-block-1.less' filter="less" output="css/vsl-full-block-1.css"  %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset("css/vsl-full-block-1.css") }}?v=1"/>
    {% endstylesheets %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("favicon.ico", "app") }}">

    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js', 'app') }}"></script>

    <style>
        html {
            position: relative;
            min-height: 100%;
            -webkit-transition: all 1000ms;
            -moz-transition: all 1000ms;
            -ms-transition: all 1000ms;
            -o-transition: all 1000ms;
            transition: all 1000ms;
        }
        #hidden1 {
            display: none;
        }
        .small-content, .small-content footer {
            background-color: #012546 !important;
        }
        .small-content footer p {
            color: #687E91 !important;
        }
        .small-content footer .label, .small-content footer ul li a {
            color: #fff !important;
        }
        .small-content #cbBadge, .small-content .sales-page-3 .cbtb {
            max-width: 100%;
        }
        .small-content footer hr {
            background-color: #41617B !important;
        }
        .close-text {
            display: block;
            text-align: center;
            color: darkgray;
            margin-top: -20px;
            cursor: pointer;
            font-weight: 300;
        }
        @media (max-width: 580px) {
            .sales-page-3 .white-box p {
                margin-bottom: 0;
            }
            .sales-page-3 .white-box ul {
                padding: 10px 0 20px;
            }
        }

        /* HERMI override */
        @media (min-width: 1024px) { .custom-display-none-x-large { display: none !important; } }
        @media (min-width: 768px) and (max-width: 1023px) { .custom-display-none-large { display: none !important; } }
        @media (min-width: 480px) and (max-width: 767px) { .custom-display-none-medium { display: none !important; } }
        @media (min-width: 320px) and (max-width: 479px) { .custom-display-none-small { display: none !important; } }
        @media (max-width: 319px) { .custom-display-none-mini { display: none !important; } }
    </style>

    {% if not isMobile %}
    <script src='//cbtb.clickbank.net/?vendor=flofit'></script>
    {% endif %}
</head>
<body class="sales-page-2 sales-page-3 mobile-apps-ban header-team cart-box-monthly 67-intro">

<header>
    <img src="{{ asset("images/vsl/header-logo.png") }}" alt="FLO FIT" class="img-responsive main-logo"/>
    <section class="video">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <div class="video-box">
                        {% if isMobile %}
                            <div class="youtube-wrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XR9rtTxLDo8?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        {% else %}
                            <div class="youtube-wrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XR9rtTxLDo8?autoplay=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="get_started"></div>
    <section class="button-section">
        <div class="container">
            <div class="row" id="hidden1">
            {#<div class="row">#}
                <div class="span-medium-24 text-center">
                    <div class="cart-box">
                        <div class="item active mobile">
                            <div class="barge">Best Value</div>
                            <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
                            <p>The entire FLO&nbsp;FIT program shipped to you as well as LIFETIME online access. This is a single, one-time payment.
                                <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
                            <div class="cover">
                                <img src="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}"
                                     class="img-responsive lazy-only"
                                     alt="Digital Streaming"/>
                            </div>
                            <div class="hgroup">
                                <h3 class="old-price">$119</h3>
                                <h3 class="new-price">$67</h3>
                                <span class="info-price">One-Time Payment</span>
                            </div>
                            <a href="{{ digphyBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                        </div>
                        {#<div class="item">#}
                            {#<h2>Try FLO FIT For FREE<small>7 Day Online Trial</small></h2>#}
                            {#<p>For 7&nbsp;full days you get access to the entire FLO&nbsp;FIT program for FREE. You pay nothing&nbsp;–&nbsp;no money down and no strings attached. Love it? Only 4.95/mo to continue.<br><span class="display-block"><strong>Cancel or UPGRADE anytime with just "2&nbsp;clicks"…</strong></span></p>#}
                            {#<div class="cover">#}
                                {#<img src="{{ asset('images/sales-page/digital-streaming.png') }}"#}
                                     {#class="img-responsive lazy-only"#}
                                     {#alt="Digital Streaming"/>#}
                            {#</div>#}
                            {#<div class="hgroup">#}
                                {#<h3 class="new-price">Only $4.95/mo</h3>#}
                            {#</div>#}
                            {#<a href="{{ digitalBuyLink }}" class="btn btn-sec">START FREE TRIAL</a>#}
                        {#</div>#}
                        <div class="item">
                            <h2>Digital Streaming<small>and Online Access</small></h2>
                            <p>Streaming workout videos and online access to the entire FLO&nbsp;FIT program. <br>This is a single, one-time payment for <span class="display-block"><strong class="display-inline">LIFETIME</strong> access.</span></p>
                            <div class="cover">
                                <img src="{{ asset('images/sales-page/digital-streaming.png') }}"
                                     class="img-responsive lazy-only"
                                     alt="Digital Streaming"/>
                            </div>
                            <div class="hgroup">
                                <h3 class="old-price">$79</h3>
                                <h3 class="new-price">$37</h3>
                                <span class="info-price">One-Time Payment</span>
                            </div>
                            <a href="{{ physicalBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                        </div>
                        <div class="item active desktop">
                            <div class="barge">Best Value</div>
                            <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
                            <p>The entire FLO FIT program sent to your front door (ships within 48 hours) as well as <br><strong class="display-inline">LIFETIME</strong> online access. This is a single,
                                <br>one-time payment.
                                <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
                            <div class="cover">
                                <img src="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}"
                                     class="img-responsive lazy-only"
                                     alt="Digital Streaming"/>
                            </div>
                            <div class="hgroup">
                                <h3 class="old-price">$119</h3>
                                <h3 class="new-price">$67</h3>
                                <span class="info-price">One-Time Payment</span>
                            </div>
                            <a href="{{ digphyBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<div id="hidden_content" style="display: none;">
    <section class="bg-green-gradient" id="hidden_headline">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <h2>HERE’S WHY FLO FIT WORKS</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray-arrow section-5">
        <div class="container nopadd">
            <div class="row">
                <div class="span-medium-24">
                    <div class="not-only-small-tablet">
                        <img src="{{ asset("images/sales-page/flo-rachele.png") }}"
                         class="img-responsive margin-auto"
                         alt="Flo Rida & Rachele Brooke Smith"/>
                    </div>
                    <div class="only-small-tablet">
                        <img src="{{ asset("images/sales-page/flo-rachele-p1.png") }}"
                             class="img-responsive margin-auto"
                             alt="Flo Rida & Rachele Brooke Smith"/>
                        <img src="{{ asset("images/sales-page/flo-rachele-p2.png") }}"
                             class="img-responsive margin-auto"
                             alt="Flo Rida & Rachele Brooke Smith"/>
                    </div>
                </div>
                <div class="span-medium-24">
                    <div class="possible-flofit">
                        <h3>Going “Up & Down the Ladder” will make you H.I.R.T. so GOOD</h3>

                        <h4>Spend Less Time Working Out</h4>
                        <p>FLO&nbsp;FIT reduces your workout time – even up to half as long as a traditional hour-long cardio session – by intelligently working every part of your body, from head to toe, top to bottom, using the meticulously designed LADDER PRINCIPLE.</p>

                        <h4>H.I.R.T. Training Gets Results</h4>
                        <p>Also interwoven into the program is the science of High Intensity Resistance Training, or H.I.R.T.  These techniques significantly raise the intensity of the workouts with shortened rest intervals.</p>

                        <h4>Climb The Ladder</h4>
                        <p>Combined with the LADDER PRINCIPLE, FLO&nbsp;FIT’s H.I.R.T. better extends AFTERBURN, the scientific term for burning more calories even AFTER your workout, sometimes for up to 72 hours!</p>

                        <p>Add it all up and by using FLO&nbsp;FIT you will TORCH WAY MORE FAT by burning more calories than if you’d exercised at a lower intensity for the same (or longer) period of time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gradient-green-arrow">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <p class="special-p font-54">CAN I GET FIT IN 30 MINUTES?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gradient-gray-arrow">
        <div class="container padding-vertical">
            <div class="row">
                <div class="span-medium-24">
                    <p class="text-01"><span class="font-50">YES!</span> <span class="font-38">WITH FLO&nbsp;FIT’S FULL BODY WORKOUTS</span></p>
                    <p class="font-22">FLO&nbsp;FIT utilizes both THE LADDER PRINCIPLE and H.I.R.T. to efficiently maximize your workout time and get you going about your day.  Even with a specific focus, they are always working your entire body — top to bottom, all in only 30 MINUTES!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="dvds">
        <div class="container">
            <div class="row">
                <div class="span-medium-10">
                    <img data-original="{{ asset('images/sales-page/1_FULL_BODY_DEFINTION.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="1. FULL BODY DEFINITION"/>
                </div>
                <div class="span-none-padding-medium-14 right">
                    <h3>1. FULL BODY DEFINITION</h3>
                    <p>Blast your entire body with this high intensity full body workout specially designed to destroy fat and shape muscle.</p>
                </div>
            </div>
            <div class="row">
                <div class="span-small-24 display-show-small">
                    <img data-original="{{ asset('images/sales-page/2_LOWER_BODY_DEFINITION.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="2. LOWER BODY DEFINITION"/>
                </div>
                <div class="span-none-padding-medium-14 span-none-padding-small-24 left">
                    <h3>2. LOWER BODY DEFINITION</h3>
                    <p>Be ready to get after it in this intense lower body workout. If your legs aren’t burning after this one you’re doing it wrong!</p>
                </div>
                <div class="span-medium-10 display-hide-small">
                    <img data-original="{{ asset('images/sales-page/2_LOWER_BODY_DEFINITION.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="2. LOWER BODY DEFINITION"/>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-10">
                    <img data-original="{{ asset('images/sales-page/3_FULL_BODY_EXPLOSIVE.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="3. FULL BODY EXPLOSIVE POWER"/>
                </div>
                <div class="span-none-padding-medium-14 right">
                    <h3>3. FULL BODY EXPLOSIVE POWER</h3>
                    <p>Get ready to explode! This workout will have you moving, jumping, & rapidly burning calories.</p>
                </div>
            </div>
            <div class="row">
                <div class="span-small-24 display-show-small">
                    <img data-original="{{ asset('images/sales-page/4_ARM_DEFINITION.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="4. ARM DEFINITION"/>
                </div>
                <div class="span-none-padding-medium-14 span-none-padding-small-24 left">
                    <h3>4. ARM DEFINITION</h3>
                    <p>This full body workout is designed to build long lean muscular arms while also torching fat all over your entire body.</p>
                </div>
                <div class="span-medium-10  display-hide-small">
                    <img data-original="{{ asset('images/sales-page/4_ARM_DEFINITION.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="4. ARM DEFINITION"/>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-10">
                    <img data-original="{{ asset('images/sales-page/5_CORE_DEFINTION.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="5. CORE DEFINITION"/>
                </div>
                <div class="span-none-padding-medium-14 right">
                    <h3>5. CORE DEFINITION</h3>
                    <p>This workout focuses on your whole core to get you that 6-pack you’ve been looking for.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gradient-gray-arrow">
        <div class="container padding-bottom">
            <div class="row">
                <div class="span-medium-24">
                    <p class="text-01 font-38"><span class="font-50">COMBINED WITH</span> SHORT TARGET TRAINING WORKOUTS</p>
                    <p class="font-22">FLO&nbsp;FIT’S RAPID BODY REDEFINITION lets you continue to target, then further define and sculpt the areas of the body we all obsess over with these 5 additional HIGH DEF EXPRESS workouts.  These are quick, but effective 10 minute workouts that you’ll absolutely love.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="dvds-02">
        <div class="container text-center">
            <div class="row">
                <div class="span-medium-24">
                    <img data-original="{{ asset('images/sales-page/1_Chest_Back.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="High Def Express for Chest & Back"/>
                    <div class="center">
                        <h3>High Def Express for Chest & Back</h3>
                        <p>For a sexy, well-defined, chest and back.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-24">
                    <img data-original="{{ asset('images/sales-page/2_Arms.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="High Def Express for Arms"/>
                    <div class="center">
                        <h3>High Def Express for Arms</h3>
                        <p>Build the perfect arms you’ve always wanted—whether you’re looking for lean and sculpted or big and powerful.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-24">
                    <img data-original="{{ asset('images/sales-page/3_Shoulders.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="High Def Express for Shoulders"/>
                    <div class="center">
                        <h3>High Def Express for Shoulders</h3>
                        <p>For killer shoulders that will turn heads from the club to the beach.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-24">
                    <img data-original="{{ asset('images/sales-page/4_HDX_Abs_NEW.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="High Def Express for Abs"/>
                    <div class="center">
                        <h3>High Def Express for Abs</h3>
                        <p>Get those amazing, envy-inducing abs!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-24">
                    <img data-original="{{ asset('images/sales-page/5_HDX_LowerBody.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="High Def Express for Lower Body"/>
                    <div class="center">
                        <h3>High Def Express for Lower Body</h3>
                        <p>For that killer butt and beautiful legs you crave.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gradient-gray-arrow stream-section-head">
        <div class="container padding-bottom">
            <div class="row">
                <div class="span-medium-24">
                    <p class="text-01 font-38"><span class="font-50">SKIP THE DVDs AND WORKOUT ANYWHERE, ANY TIME</span>
                    </p>
                    <p class="font-22">
                        No matter where you are, you can get access to your FLO FIT workouts —
                        all you need is an internet connection. You can watch your workouts
                        on your computer, mobile phone, tablet, TV and more. 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="mobile-app-section">
        <div class="container" style="position:relative;">
            <div class="white-box">
                <div class="span-medium-24 margin-top-20">
                    <p>Supported Devices</p>
                    <ul>
                        <li>iPad</li>
                        <li>iPhone</li>
                        <li>iPod</li>
                        <li>Android</li>
                        <li>Computer(PC/Mac)</li>
                        <li>Television</li>
                        <li>Apple TV(AirPlay)</li>
                    </ul>
                </div>
            </div>
            <img src="{{ asset('images/sales-page/streaming-cover.png') }}" class="streaming-cover-img">
        </div>
    </section>
    {#<section class="mobile-apps">#}
        {#<div class="container">#}
            {#<div class="mobile-app">#}
                {#<h2>Try the FREE&nbsp;FLO&nbsp;FIT App During Your 7&nbsp;Day&nbsp;Trial!#}
                    {#<small>Access to the entire FLO&nbsp;FIT system on your Phone&nbsp;or&nbsp;Tablet</small>#}
                {#</h2>#}
                {#<div class="download-app">#}
                    {#<a class="android" href="https://play.google.com/store/apps/details?id=com.digitalshelfspace.flofit">#}
                        {#<img data-original="{{ asset("images/ff-fe-dash-mobile-app-android.png") }}" src=""#}
                             {#alt="Android app"#}
                             {#class="lazy-only"/>#}
                    {#</a>#}
                    {#<img data-original="{{ asset("images/ff-fe-dash-mobile-app-android.png") }}" src=""#}
                         {#alt="Android app"#}
                         {#class="lazy-only"/>#}
                    {#<a class="apple" href="https://itunes.apple.com/cz/app/flo-fit/id1052231777">#}
                        {#<img data-original="{{ asset("images/ff-fe-dash-mobile-app-apple.png") }}" src=""#}
                             {#alt="Apple app"#}
                             {#class="lazy-only"/>#}
                    {#</a>#}
                    {#<img data-original="{{ asset("images/ff-fe-dash-mobile-app-apple.png") }}" src=""#}
                         {#alt="Apple app"#}
                         {#class="lazy-only"/>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    <section class="bg-gradient-green-arrow biggest nutrition-made-easy">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <p class="special-p font-58">NUTRITION MADE EASY</p>
                </div>
            </div>
        </div>
    </section>
    <section class="nutrition-made-easy-light">
        <div class="container">
            <div class="row">
                <div class="span-medium-24 margin-bottom-15">
                    <div class="left">
                        <img data-original="{{ asset('images/sales-page/nutrition-guide-mock-up-2D.jpg') }}" src=""
                             class="img-responsive top lazy-only img-special-1 img-1-mobile"
                             alt="Nutrition guide mock up"/>
                        <img data-original="{{ asset('images/sales-page/nutrition-guide-mock-up.png') }}" src=""
                             class="img-responsive top lazy-only img-special-1 img-1-desktop"
                             alt="Nutrition guide mock up"/>
                    </div>
                    <div class="right top">
                        <p class="font-28">You can enjoy what you eat, feel full and satisfied, and get in the shape you want – all thanks once again to FLO&nbsp;FIT’s <strong>Rapid Body Redefinition.</strong></p>
                        <p class="margin-top-30 font-28">NO STARVING YOURSELF or DEPRIVING YOURSELF of the FOODS YOU LOVE!</p>
                    </div>
                </div>
                <div class="span-medium-24 margin-top-15">
                    <div class="left">
                        <img data-original="{{ asset('images/sales-page/salmon-plate-stock.jpg') }}" src=""
                             class="img-responsive bottom lazy-only img-special-2"
                             alt="Salmon plate stock"/>
                    </div>
                    <div class="right bottom">
                        <p class="font-28">Here’s just a small taste of what’s included in the <span class="uppercase">comprehensive Nutrition Guide:</span></p>
                        <ul class="font-22">
                            <li>How to find the time to shop for, prepare, and eat the right foods</li>
                            <li>Your own Personal Nutrition Worksheet, where you’ll learn the best nutrition program for YOUR body</li>
                            <li>How to figure out EXACTLY how many calories to eat to achieve your goals (too FEW is as bad as too many!)</li>
                            <li>Easy-to-follow meal plans along with food prep directions and delicious recipes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gradient-white-grey guarantee guarantee2">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <div class="choose-text">
                        <p class="font-38">YES! I WANT TO START FLO&nbsp;FIT RIGHT NOW</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-24 text-center fix-overflow">
                    <div class="relative">
                        <img data-original="{{ asset("/images/sales-page/arrow-green-left.png") }}" src=""
                             class="left lazy-only"
                             alt="–>"/>
                        <img data-original="{{ asset("/images/sales-page/arrow-green-right.png") }}" src=""
                             class="right lazy-only"
                             alt="<–"/>
                        <div class="cart-box">
                            <div class="item active mobile">
                                <div class="barge">Best Value</div>
                                <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
                                <p>The entire FLO&nbsp;FIT program shipped to you as well as LIFETIME online access. This is a single, one-time payment.
                                    <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
                                <div class="cover">
                                    <img src="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}"
                                         class="img-responsive lazy-only"
                                         alt="Digital Streaming"/>
                                </div>
                                <div class="hgroup">
                                    <h3 class="old-price">$119</h3>
                                    <h3 class="new-price">$67</h3>
                                    <span class="info-price">One-Time Payment</span>
                                </div>
                                <a href="{{ digphyBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                            </div>
                            {#<div class="item desktop">#}
                                {#<h2>Try FLO FIT For FREE<small>7 Day Online Trial</small></h2>#}
                                {#<p>For 7&nbsp;full days you get access to the entire FLO&nbsp;FIT program for FREE. You pay nothing&nbsp;–&nbsp;no money down and no strings attached. Love it? Only 4.95/mo to continue.<br><span class="display-block"><strong>Cancel or UPGRADE anytime with just "2&nbsp;clicks"…</strong></span></p>#}
                                {#<div class="cover">#}
                                    {#<img src="{{ asset('images/sales-page/digital-streaming.png') }}"#}
                                         {#class="img-responsive lazy-only"#}
                                         {#alt="Digital Streaming"/>#}
                                {#</div>#}
                                {#<div class="hgroup">#}
                                    {#<h3 class="new-price">Only $4.95/mo</h3>#}
                                {#</div>#}
                                {#<a href="{{ digitalBuyLink }}" class="btn btn-sec">START FREE TRIAL</a>#}
                            {#</div>#}
                            <div class="item">
                                <h2>Digital Streaming<small>and Online Access</small></h2>
                                <p>Streaming workout videos and online access to the entire FLO&nbsp;FIT program. <br>This is a single, one-time payment for <span class="display-block"><strong class="display-inline">LIFETIME</strong> access.</span></p>
                                <div class="cover">
                                    <img src="{{ asset('images/sales-page/digital-streaming.png') }}"
                                         class="img-responsive lazy-only"
                                         alt="Digital Streaming"/>
                                </div>
                                <div class="hgroup">
                                    <h3 class="old-price">$79</h3>
                                    <h3 class="new-price">$37</h3>
                                    <span class="info-price">One-Time Payment</span>
                                </div>
                                <a href="{{ physicalBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                            </div>
                            {#<div class="item mobile mobile-2">#}
                                {#<h2>Try FLO FIT For FREE<small>7 Day Online Trial</small></h2>#}
                                {#<p>For 7&nbsp;full days you get access to the entire FLO&nbsp;FIT program for FREE. You pay nothing&nbsp;–&nbsp;no money down and no strings attached. Love it? Only 4.95/mo to continue.<br><span class="display-block"><strong>Cancel or UPGRADE anytime with just "2&nbsp;clicks"…</strong></span></p>#}
                                {#<div class="cover">#}
                                    {#<img src="{{ asset('images/sales-page/digital-streaming.png') }}"#}
                                         {#class="img-responsive lazy-only"#}
                                         {#alt="Digital Streaming"/>#}
                                {#</div>#}
                                {#<div class="hgroup">#}
                                    {#<h3 class="new-price">Only $4.95/mo</h3>#}
                                {#</div>#}
                                {#<a href="{{ digitalBuyLink }}" class="btn btn-sec">START FREE TRIAL</a>#}
                            {#</div>#}
                            <div class="item active desktop">
                                <div class="barge">Best Value</div>
                                <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
                                <p>The entire FLO FIT program sent to your front door (ships within 48 hours) as well as <br><strong class="display-inline">LIFETIME</strong> online access. This is a single,
                                    <br>one-time payment.
                                    <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
                                <div class="cover">
                                    <img src="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}"
                                         class="img-responsive lazy-only"
                                         alt="Digital Streaming"/>
                                </div>
                                <div class="hgroup">
                                    <h3 class="old-price">$119</h3>
                                    <h3 class="new-price">$67</h3>
                                    <span class="info-price">One-Time Payment</span>
                                </div>
                                <a href="{{ digphyBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gradient-green-arrow">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <p class="special-p font-50">WHAT DO YOU GET WITH FLO&nbsp;FIT?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="video-top video-bottom">
        <div class="container">
            <div class="row">
                <div class="span-medium-24 fix-overflow">
                    <div class="video">
                        <img data-original="{{ asset("/images/sales-page/arrow-green-left-small.png") }}" src=""
                             class="left lazy-only video-arrow-left"
                             alt="–>"/>
                        <img data-original="{{ asset("/images/sales-page/arrow-green-right-small.png") }}" src=""
                             class="right lazy-only video-arrow-right"
                             alt="<–"/>
                        <div class="video-box">
                            <div class="youtube-wrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/nWLGFQwNDEs" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <p class="under-video black">FLO&nbsp;FIT HAS <span class="underline">EVERYTHING</span> YOU NEED TO GET IN THE BEST SHAPE OF YOUR LIFE!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gradient-white-grey">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <img data-original="{{ asset('images/sales-page/flo-fit-logo.png') }}" src=""
                         class="img-responsive logo lazy-only"
                         alt="FLO FIT logo"/>
                    <img data-original="{{ asset('images/sales-page/fully-covers-2.png') }}" src=""
                         class="img-responsive lazy-only"
                         alt="Fully covers"/>
                    <div class="text-center">
                        <h2 class="blue-btn">THE COMPLETE RAPID&nbsp;BODY REDEFINITION SYSTEM</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="span-medium-24">
                    <div class="list">
                        <h3>8 Weeks of FULL BODY Workouts</h3>
                        <p>Each session with Mike & FLO&nbsp;RIDA will be 30 minutes of intense exercise disguised as high-energy fun</p>

                        <h3>SHORT TARGET TRAINING Workouts</h3>
                        <p>These 10 minute HIGH DEF EXPRESS workouts target and sculpt the areas we all obsess over like ABS, ARMS, & LEGS</p>

                        <h3>Detailed WORKOUT GUIDE BOOK</h3>
                        <p>Mike’s workout secrets are all here, including simple tips that will accelerate your results and maximize fat loss</p>

                        <h3>Comprehensive NUTRITION GUIDE BOOK</h3>
                        <p>Follow FLO&nbsp;FIT’s simple food guidelines & you’ll eat properly while you enjoy the foods you love</p>

                        <h3>8-WEEK TRAINING CALENDARS <br/>Beginner, Intermediate, Advanced</h3>
                        <p>Step-by-step training calendars carefully created to ensure EVERYONE can get results from FLO&nbsp;FIT, regardless of age or fitness level</p>

                        <h3>ULTIMATE PLATINUM Workouts</h3>
                        <p>Two more heart-pounding 30 Minute Full Body Workouts: <span class="uppercase">Platinum Iso Explode</span> and <span class="uppercase">Upper Body Definition.</span> Includes the <span class="uppercase">8-Week Platinum Training Calendar</span> to guide you through this next level FLO&nbsp;FIT mix.</p>

                        <h3>8-WEEK MASTER MIX MEAL PLAN</h3>
                        <p>Tons of delicious recipes and meal ideas for breakfast, lunch, dinner, and even snacks. PLUS more nutrition advice and guidance that will maximize your body’s transformation during the 8 week program and beyond.</p>

                        <h3>7 DAY RIP MIX</h3>
                        <p>The <span class="uppercase">7 Day Rip Mix Workout Calendar</span> and <span class="uppercase">Meal Plan</span> can be used at any point in the FLO&nbsp;FIT program. Guaranteed to help you burn more calories, get leaner, tone your body, and get the results you want in the quickest time possible.</p>

                        <h3>MEMBERSHIP IN THE FLO&nbsp;FIT COMMUNITY</h3>
                        <p>You’ll have 24/7 support & encouragement from fitness experts and other FLO&nbsp;FIT customers</p>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="span-medium-24">
                    <h2 class="headline-02 font-38">TRY IT NOW & GET <span class="font-50">3 LIMITED TIME BONUS GIFTS</span></h2>
                </div>
                <div class="dvds-02">
                    <div class="span-medium-24">
                        <img data-original="{{ asset('images/sales-page/cover-mobile-macbook.png') }}" src=""
                             class="img-responsive lazy-only"
                             alt="Flo Fit - Flo rida - 03"/>
                        <div class="center">
                            <h3 class="line-height-12">BONUS 1 MONTH FREE ACCESS to Members Only “PLATINUM CLUB”</h3>
                            <p class="margin-top-5">This is like getting a “backstage pass” into the exclusive world of celebrity fitness! A $75 value, you’ll have one month free to experience super-exclusive content and insider tips to help you get the best results possible, special brand-new bonus FLO&nbsp;FIT workouts, additional FLO&nbsp;FIT meals, recipes and nutrition books, and MORE!</p>
                        </div>
                    </div>
                    <div class="span-medium-24">
                        <img data-original="{{ asset('images/sales-page/cover-cd-video.png') }}" src=""
                             class="img-responsive lazy-only"
                             alt="Flo Fit - Flo rida - 01"/>
                        <div class="center">
                            <h3 class="line-height-12">bonus 30 Minute FULL BODY EXTREME Workout</h3>
                            <p class="margin-top-5">Packed with brand new, hard-charging exercises that will get your blood going and your metabolism roaring! Push your conditioning to the MAX in this intense full body workout</p>
                        </div>
                    </div>
                    <div class="span-medium-24">
                        <img data-original="{{ asset('images/sales-page/cover-video-video.png') }}" src=""
                             class="img-responsive lazy-only"
                             alt="Flo Fit - Flo rida - 02"/>
                        <div class="center">
                            <h3 class="line-height-12">BONUS DYNAMIC WARM UP & COOL DOWN Videos</h3>
                            <p class="margin-top-5">Warming up and cooling down are some of the most overlooked aspects of working out. With these additional 10 minute videos you’ll be sure to get the most out of your workouts and recovery</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gradient-green-arrow">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <p class="special-p uppercase font-58">START FLO FIT TODAY!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="gradient-white-grey guarantee">
        <div class="container">
            <div class="row">
                <div class="span-medium-24">
                    <div class="headline">
                        <h2 class="font-50">NOT SURE?</h2>
                        <p class="font-28">We want you to be 100% satisfied, so with FLO&nbsp;FIT</p>
                        <h3 class="font-50">RESULTS ARE GUARANTEED OR YOUR MONEY BACK!</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-24">
                    <div class="text-01">
                        <div class="center-left">
                            <img data-original="{{ asset('images/sales-page/guarantee.png') }}" src=""
                                 class="img-responsive margin-auto lazy-only img-special-3"
                                 alt="100% Guarantee"/>
                        </div>
                        <div class="center">
                            <p class="font-22">Let us make your decision even simpler. We're going to let you try the entire program for 60 days — and if you’re not satisfied we’ll provide a FULL REFUND (less shipping & handling).</p>
                            <p class="font-22">We refuse to keep your money if FLO&nbsp;FIT doesn’t work for you, or you’re
                                unhappy in any way.</p>
                            <p class="font-22">We’ve removed all the worry, so go ahead and try FLO&nbsp;FIT for yourself – TODAY.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-24">
                    <div class="box-money-back">
                        <h2 class="font-58">
                            <span class="display-block">60-DAY NO RISK</span>
                            <span class="display-block">MONEY BACK</span>
                            <span class="display-block">GUARANTEE</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div id="get_started" style="position:relative;top:-20px;"></div>
            <div class="row">
                <div class="span-medium-24">
                    <div class="choose-text">
                        <p class="font-38">YES! I WANT TO START FLO&nbsp;FIT RIGHT NOW</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span-medium-24 text-center fix-overflow">
                    <div class="relative">
                        <img data-original="{{ asset("/images/sales-page/arrow-green-left.png") }}" src=""
                             class="left lazy-only"
                             alt="–>"/>
                        <img data-original="{{ asset("/images/sales-page/arrow-green-right.png") }}" src=""
                             class="right lazy-only"
                             alt="<–"/>
                        <div class="cart-box cart-box-bottom">
                            <div class="item active mobile">
                                <div class="barge">Best Value</div>
                                <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
                                <p>The entire FLO&nbsp;FIT program shipped to you as well as LIFETIME online access. This is a single, one-time payment.
                                    <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
                                <div class="cover">
                                    <img src="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}"
                                         class="img-responsive lazy-only"
                                         alt="Digital Streaming"/>
                                </div>
                                <div class="hgroup">
                                    <h3 class="old-price">$119</h3>
                                    <h3 class="new-price">$67</h3>
                                    <span class="info-price">One-Time Payment</span>
                                </div>
                                <a href="{{ digphyBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                            </div>
                            {#<div class="item desktop">#}
                                {#<h2>Try FLO FIT For FREE<small>7 Day Online Trial</small></h2>#}
                                {#<p>For 7&nbsp;full days you get access to the entire FLO&nbsp;FIT program for FREE. You pay nothing&nbsp;–&nbsp;no money down and no strings attached. Love it? Only 4.95/mo to continue.<br><span class="display-block"><strong>Cancel or UPGRADE anytime with just "2&nbsp;clicks"…</strong></span></p>#}
                                {#<div class="cover">#}
                                    {#<img src="{{ asset('images/sales-page/digital-streaming.png') }}"#}
                                         {#class="img-responsive lazy-only"#}
                                         {#alt="Digital Streaming"/>#}
                                {#</div>#}
                                {#<div class="hgroup">#}
                                    {#<h3 class="new-price">Only $4.95/mo</h3>#}
                                {#</div>#}
                                {#<a href="{{ digitalBuyLink }}" class="btn btn-sec">START FREE TRIAL</a>#}
                            {#</div>#}
                            <div class="item">
                                <h2>Digital Streaming<small>and Online Access</small></h2>
                                <p>Streaming workout videos and online access to the entire FLO&nbsp;FIT program. <br>This is a single, one-time payment for <span class="display-block"><strong class="display-inline">LIFETIME</strong> access.</span></p>
                                <div class="cover">
                                    <img src="{{ asset('images/sales-page/digital-streaming.png') }}"
                                         class="img-responsive lazy-only"
                                         alt="Digital Streaming"/>
                                </div>
                                <div class="hgroup">
                                    <h3 class="old-price">$79</h3>
                                    <h3 class="new-price">$37</h3>
                                    <span class="info-price">One-Time Payment</span>
                                </div>
                                <a href="{{ physicalBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                            </div>
                            {#<div class="item mobile mobile-2">#}
                                {#<h2>Try FLO FIT For FREE<small>7 Day Online Trial</small></h2>#}
                                {#<p>For 7&nbsp;full days you get access to the entire FLO&nbsp;FIT program for FREE. You pay nothing&nbsp;–&nbsp;no money down and no strings attached. Love it? Only 4.95/mo to continue.<br><span class="display-block"><strong>Cancel or UPGRADE anytime with just "2&nbsp;clicks"…</strong></span></p>#}
                                {#<div class="cover">#}
                                    {#<img src="{{ asset('images/sales-page/digital-streaming.png') }}"#}
                                         {#class="img-responsive lazy-only"#}
                                         {#alt="Digital Streaming"/>#}
                                {#</div>#}
                                {#<div class="hgroup">#}
                                    {#<h3 class="new-price">Only $4.95/mo</h3>#}
                                {#</div>#}
                                {#<a href="{{ digitalBuyLink }}" class="btn btn-sec">START FREE TRIAL</a>#}
                            {#</div>#}
                            <div class="item active desktop">
                                <div class="barge">Best Value</div>
                                <h2>Get Both<small>Digital Streaming and Online Access PLUS DVDs and Books Shipped</small></h2>
                                <p>The entire FLO FIT program sent to your front door (ships within 48 hours) as well as <br><strong class="display-inline">LIFETIME</strong> online access. This is a single,
                                    <br>one-time payment.
                                    <span class="display-block free-shipping"><strong>FREE SHIPPING</strong></span></p>
                                <div class="cover">
                                    <img src="{{ asset('images/sales-page/digital-streaming-and-physical-dvds.png') }}"
                                         class="img-responsive lazy-only"
                                         alt="Digital Streaming"/>
                                </div>
                                <div class="hgroup">
                                    <h3 class="old-price">$119</h3>
                                    <h3 class="new-price">$67</h3>
                                    <span class="info-price">One-Time Payment</span>
                                </div>
                                <a href="{{ digphyBuyLink }}" class="btn btn-sec">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="blue">
    <div class="container">
        <div class="row">
            <div class="span-medium-24 padding-bottom-25">
                <label for="modal_faq" class="read-faq">Read the FLO FIT FAQ</label>
                <p class="first">Consult your physician and follow all safety instructions before beginning any exercise program. <br/>All trademarks, products and service names are the property of their respective owners.</p>
                <br>
                <p>*Results may vary. Exercise and proper diet are necessary to achieve and maintain weight loss and muscle definition. <br/>Please send all questions and order inquiries to <a href="mailto:help@flofit.com">help@flofit.com</a></p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div id="clickbank-disclaimer" class="span-large-24">
                <p class="text-center padding-vertical-15 lighter">ClickBank is the retailer of this product. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 917 S. Lusk Street, Suite 200, Boise Idaho, 83706, USA and used by permission. ClickBank's role as retailer does not constitute an endorsement, approval or review of this product or any claim, statement or opinion used in promotion of this product.</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="span-medium-24 text-center">
                <ul>
                    <li><a id="get_startedLink" href="#">Get Started</a></li>
                    <li><a href="{{ path('affiliates') }}">Affiliates</a></li>
                    <li><a href="http://my.flofit.com/terms-of-use" target="_blank">Terms of use</a></li>
                    <li><a href="http://my.flofit.com/privacy-policy" target="_blank">Privacy policy</a></li>
                    <li><label for="legal_disclaimer" class="label">Legal Disclaimer</label></li>
                    <li><label for="modal_faq" class="label">Help and FAQ</label></li>
                    <li><a href="#" id="show_hidden_content">Learn more</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span-medium-24">
                <p>Copyright {{ "now"|date("Y") }} Flofit.com. All rights reserved</p>
            </div>
        </div>
        <div class="row">
            <div class="span-large-24">
                <p class="text-center padding-vertical-25 lighter">Burn It Now Productions, Inc. FLO FIT and FLO RIDA trademarks, name, image, and likeness are owned by FLO RIDA and FLO FIT Holdings LLC, and are being used under license by Flo Life LLC. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<input type="checkbox" id="modal_faq" class="input-modal">
<div id="modal_faq-body" class="modal-body">
    <label for="modal_faq" class="close-full"></label>
    <div class="modal-wrapper">
        <label for="modal_faq" class="close">x</label>
        <h2>Help & FAQ</h2>
        <h3>Contact for Help</h3>
        <p>If you need help or assistance using one of the FLO FIT web sites or services, or if you have a billing, product order, or shipping related question, you can contact our support team at <a href="mailto:help@flofit.com">help@flofit.com</a>. We answer most Help inquiries within 24 hours, from Monday to Friday. Before contacting our support team, we highly recommend reviewing the FAQ below that covers many common questions.</p>
        <h3>Does FLO FIT really work?</h3>
        <p>Yes! FLO FIT is a comprehensive 8 week training program that combines cardio, strength, endurance, performance, flexibility and nutrition in a unique system that will provide immediate results. The workouts are structured around targeting all of the major muscle groups. It is a total body workout for both men and women that will help you lose weight, add muscle, and dramatically improve your overall health and wellness.</p>
        <h3>Is this the real deal? Does FLO RIDA use this workout?</h3>
        <p>Yes! This FLO FIT program was inspired by FLO’s training with Mike Saffaie, a personal trainer in California that got FLO in the best shape of his life. FLO loved Mike’s training so much that he worked with Mike to produce a workout and diet program that all of his fans could have access to. FLO wanted everyone to be able to train with Mike.</p>
        <h3>What exercise equipment will I need?</h3>
        <p>The ONLY equipment required is a pair of hand-held weights or dumbbells. They do not need to be heavy, as FLO RIDA himself only uses anywhere from 10 to 25lb weights. Hand weights or dumbbells can be purchased at any sports equipment retailer. FLO FIT was specifically designed to minimize required exercise equipment, which keeps the costs down and allows you to get started right away.</p>
        <h3>Who is FLO FIT for?</h3>
        <p>FLO FIT is for men or women looking to lose weight, get in shape, add muscle, strengthen their body, raise their conditioning or for anyone that loves a good hard workout program. FLO FIT is also an excellent sport conditioning program that will improve your performance in any athletic discipline such as basketball, soccer, football, hockey, or other common sports. FLO FIT was designed to accommodate everyone, regardless of their starting fitness level. The workouts offer clear instruction and all exercises include modifications that can be used if you're a beginner or out of shape. As you progress through the 8 Weeks you can gradually implement the harder exercises and increase your reps and dumbbell weight as you become stronger and more fit.</p>
        <h3>I’ve never been in a gym or worked out before? Is FLO FIT for me?</h3>
        <p>YES. The exercises are designed with progressions across the 8 week calendar provided (beginner, intermediate, and advanced) and are explained and demonstrated clearly, including modified versions of challenging exercises. The short workout durations allow you to follow along at whatever pace you are capable, increasing reps and speed over time.</p>
        <h3>What do I eat? What can I eat while doing the FLO FIT program?</h3>
        <p>There’s tons of nutrition and advice within the FLO FIT customer site, including videos, blog postings, and other content. We also highly recommend the FLO FIT Nutrition Guide and 8 Week Meal Plan. These resources will establish guidelines for your eating habits and food choices for the 8 weeks of the Program and beyond. It will also address specific topics like pre and post-workout fueling, healthy meal options, and simple do's and don'ts for the best results. Nutrition is a critical component of any workout program, and the FLO FIT Nutrition Guide and Meal Plan covers everything you need to know.</p>
        <h3>Will I lose weight?</h3>
        <p>YES. Unless you're already extremely lean, EVERYONE will lose weight and reduce their body fat % on the FLO FIT program. Depending on your starting point the total amount of weight loss will vary. To maximize your weight loss at a healthy rate consult your physician, and refer to the FLO FIT Nutrition Guide and Meal Plan, and the other resources available on the FLO FIT web site. Avoid crash diets or food fads at all costs.</p>
        <h3>What if some exercises are too hard?</h3>
        <p>Each exercise is demonstrated by FLO RIDA’s trainer Mike Saffaie and modifications are provided so that if it is too hard or too easy you can adjust yourself. There are options at every step, and they are explained and demonstrated throughout the workouts. There’s also a Foundations Move video included with FLO FIT that shows how to properly complete all of the basic exercise moves in the FLO FIT workouts.</p>
        <h3>Can I Get FLO FIT Workout DVDs and Books Shipped To Me?</h3>
        <p>Yes! Every FLO FIT workout and book is available instantly here in digital format, playable and readable from anywhere. However if you’d also like a physical copy of FLO FIT, just select the Books & DVDs only or Books & DVDs + Lifetime Digital Access from the ordering options at <a href="http://www.flofit.com">www.flofit.com</a>. We’ll ship you the physical product that includes all of the Workout Videos on high quality DVDs and regular printed books for the Workout Guide, Nutrition Guide, and Training Calendars.</p>
        <label for="modal_faq" class="close-text">- CLOSE -</label>
    </div>
</div>
<input type="checkbox" id="legal_disclaimer" class="input-modal">
<div id="legal_disclaimer-body" class="modal-body">
    <label for="legal_disclaimer" class="close-full"></label>
    <div class="modal-wrapper">
        <label for="legal_disclaimer" class="close">x</label>
        <p>As people and situations vary, you should assume individual results vary, and any testimonials are not claimed to be representative of typical results. Although all testimonials are real customers, they may or may not reflect a typical customers experience. Because many of our best results come from the transformation contests we host, assume that each testimonial has been compensated with prize money. Contests are free to enter. Testimonials name, location or story may be altered to protect their privacy. Each individual has a unique set of lifestyle constraints, experiences, nutrition habits, physical activity habits, and applies the information in a different way. The experiences that FLO FIT shares from other clients may not reflect the typical users' experience. The most important factor to your success is your ability to follow through with the program. Many people do not follow through and thus, their typical results are zero. There is no such thing as a magic short cut to your weight loss goals. Your results will be directly related to your consistency and effort you put into the program. Results displayed on this website showcase what the best and most motivated FLO FIT users have achieved. Finally, you assume certain risks inherent with nutrition and exercise by using this program. You should not take part in this program if you have a medical or physical condition that makes exercise dangerous. FLO FIT and/or Mike Saffaie are not a substitute for medical advice and you should consult a physician before beginning any exercise or diet program.</p>
        <label for="legal_disclaimer" class="close-text">- CLOSE -</label>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ asset("js/lazy-full.min.js") }}" async defer></script>
<script src="{{ asset("js/unveil.js") }}"></script>

<script>
    var useTimers = true;
    $(document).ready(function() {
        $("img.lazy-notrigger").unveil(300);
    });

    // load all images 5s before first timer
    setTimeout(function() {
        if(useTimers) {
            $("img.lazy-notrigger").trigger("unveil");
        }
    }, {{ timer1 - 5000 }});
    setTimeout(function(){
        if(useTimers){
            $("#hidden1").slideDown(500);
            $("body").addClass("show");

            setTimeout(function() {
                $("#clickbank-disclaimer").slideDown(500);
            }, 1000);
        }
    },{{ timer1 }});

    {% if isMobile %}
    // seeking event - if user seeek after 1st timer - show all content
    $(document).ready(function(){
        var searchInterval = setInterval(function(){
            $(document).find("video").each(function(i,item){
                if(item.id.search("wistia") != -1)
                {
                    item.onseeking = function() {
                        if(item.currentTime * 1000 >= {{ timer1 }})
                        {
                            useTimers = false;

                            $("#hidden1").slideDown(500);
                            $("body").addClass("show");

                            setTimeout(function() {
                                $("#clickbank-disclaimer").slideDown(500);
                            }, 1000);
                        }
                    };
                    clearInterval(searchInterval);
                }
            });
        },1000);
    });
    {% endif %}
    function goToByScroll(){
        $('html,body').animate({
            scrollTop: $("#get_started").offset().top},
            'slow');
    }
    $("#get_startedLink").click(function(e) {
        e.preventDefault();
        goToByScroll();
    });

    $("#show_hidden_content").click(function(e) {
        e.preventDefault();
        $("html").removeClass("small-content");
        $("footer").removeClass("blue");
        $("#hidden_content").slideDown(6000);
        $('html,body').animate({scrollTop: $("#hidden_headline").offset().top},'slow');
    });
</script>
<!-- SCRIPTS - Player END -->
{% if pixelImg is defined %}
    {{ pixelImg|raw }}
{% endif %}
<!-- Google Analytics code START -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68358953-1', 'auto');
    ga('require', 'displayfeatures');  // demographic features
    ga('send', 'pageview');
</script>
<!-- Google Analytics code END -->
<!-- Crazy Egg START -->
<script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0018/9411.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<!-- Crazy Egg END -->


<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '186485591719503');
    fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=186485591719503&ev=PageView&noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
    var google_tag_params = {
        dynx_itemid: 'REPLACE_WITH_VALUE',
        dynx_itemid2: 'REPLACE_WITH_VALUE',
        dynx_pagetype: 'REPLACE_WITH_VALUE',
        dynx_totalvalue: 'REPLACE_WITH_VALUE',
    };
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 928791961;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
{% if liveChat is defined and liveChat == true %}
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
        window.__lc = window.__lc || {};
        window.__lc.license = 3721311;
        (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();
    </script>
{% endif %}
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/928791961/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

</body>
</html> 